Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(helm-chart): update helm release kube-prometheus-stack to 61.3.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.30.3
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.91.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v25.0.2
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.14
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.7.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update lscr.io/linuxserver/grocy:4.2.0 docker digest to 7f7ee4d
  cluster/apps/grocy/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.22 docker digest to 604ae90
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/linuxserver/jellyfin docker tag to v10.9.8
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 10.4.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

ci(github-action): update docker/login-action action to v3.3.0
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

ci(github-action): update docker/setup-buildx-action action to v3.5.0
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

feat(deps): update sigstore/cosign to v2.3.0
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.15
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/alpine:latest docker digest to 0a4eaa0
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to c38f168
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 2958444
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to b34c824
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update metallb/metallb to v0.14.8
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to c324804
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.16
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 4b2c1d4
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 3e31a6b
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.38.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(deps): update argoproj/argo-cd to v2.11.7
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release traefik to 30.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.17
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

Update Dockerfile
  .github/.devcontainer/Dockerfile
Labels: area/github

rework install scripts outside dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/scripts/postStartCommand.sh
  .github/.devcontainer/Dockerfile
  .taskfiles/talos.yml
Labels: area/github

fix talos install task
  .taskfiles/talos.yml
Labels: none

allow task to throw error
  .taskfiles/talos.yml
Labels: none

update csr approver file
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

cache install tasks
  .taskfiles/talos.yml
Labels: none

Update groups.json5
  .github/renovate/groups.json5
Labels: area/github

fix cf deprications
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

fix records
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

refresh csr-aprover
  .taskfiles/talos.yml
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

update l2adv name
  cluster/core/metallb-system/metallb/resources/config.yaml
Labels: area/cluster

cleanup talos config
  provision/talos/talconfig.yaml
Labels: none

Revert "feat(docker-image): update talos group to v1.8.0 (minor) (#1835)"
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none
