Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

fix(monitoring): stop LlamaServerSlow false-firing and exclude nv1 from node memory alert
  cluster/apps/ai/llm/server/templates/prometheusrule.yaml
  cluster/apps/system/prometheus-stack/templates/prometheusrule-node-memory.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(hermes): local STT for worker profiles; refresh Honcho README for the local model
  cluster/apps/ai/hermes-agent/values.yaml
  cluster/apps/ai/honcho/README.md
Labels: area/cluster

fix(hermes): local STT for worker profiles, Honcho README refresh (#5320)
  cluster/apps/ai/hermes-agent/values.yaml
  cluster/apps/ai/honcho/README.md
Labels: area/cluster

fix(monitoring): llama-server CPU alert and nv1-aware node memory alerts (#5319)
  cluster/apps/ai/llm/server/templates/prometheusrule.yaml
  cluster/apps/system/prometheus-stack/templates/prometheusrule-node-memory.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

docs(todo): note Gemini 2.5 Flash-Lite retirement (2026-10-16) and OpenRouter-vs-direct pricing check
  .plans/TODO.md
Labels: none

docs(todo): note Gemini 2.5 Flash-Lite retirement (2026-10-16) and OpenRouter-vs-direct pricing check
  .plans/TODO.md
Labels: none

feat(llm): try 64K context per slot on llama-server (131072 total / 2 slots)
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(llm): try 64K context per slot on llama-server (131072 total / 2 slots) (#5340)
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

chore(hermes): disable the Signal integration
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

chore(hermes): disable the Signal integration (#5341)
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): point the main model and compression back at the local server (65536/slot)
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): point the main model and compression back at the local server (#5342)
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

chore(llm): scale llama-server to 0 for an LFM2.5 spike test
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

chore(llm): scale llama-server to 0 for an LFM2.5 spike test (#5343)
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

chore(llm): restore llama-server after the LFM2.5 spike test
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

docs: plan to swap the local LLM to LFM2.5-8B-A1B
  docs/superpowers/plans/2026-09-28-llm-model-swap-lfm2.5.md
Labels: none

docs: widen Task 2 to test reasoning growth under context and per-call overrides (nousresearch/hermes-agent#9344)
  docs/superpowers/plans/2026-09-28-llm-model-swap-lfm2.5.md
Labels: none

docs(todo): nv1 board/JetPack 7 gates — Super J4012 for MAXN mode, Talos JetPack 6-only today
  .plans/TODO.md
Labels: none

docs(todo): nv1 board/JetPack 7 gates — Super J4012 for MAXN mode, Talos JetPack 6-only today (#5348)
  .plans/TODO.md
Labels: none

docs: plan to swap the local LLM to LFM2.5-8B-A1B (#5347)
  docs/superpowers/plans/2026-09-28-llm-model-swap-lfm2.5.md
Labels: none

feat(llm): swap the served model to LFM2.5-8B-A1B
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

fix(llm): reasoningBudget 0 is broken on this build; use 64 (verified in Task 2)
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(nvidia): inject /dev/host1x-fence into the CDI GPU spec on nv1
  cluster/apps/system/nvidia/resources/cdi-setup.yaml
Labels: area/cluster

feat(nvidia): inject /dev/host1x-fence into the CDI GPU spec on nv1 (#5354)
  cluster/apps/system/nvidia/resources/cdi-setup.yaml
Labels: area/cluster

docs(network): record Matter over Thread cross-VLAN routing setup
  .github/mkdocs/mkdocs.yml
  docs/src/general/matter-thread.md
Labels: area/github

docs(network): record Matter over Thread cross-VLAN routing setup (#5358)
  .github/mkdocs/mkdocs.yml
  docs/src/general/matter-thread.md
Labels: area/github

fix(memory): persist matter-thread-cross-vlan memory into git repo
  .claude/memory/MEMORY.md
  .claude/memory/reference_matter_thread_cross_vlan.md
Labels: none

fix(memory): persist matter-thread-cross-vlan memory into git repo (#5359)
  .claude/memory/MEMORY.md
  .claude/memory/reference_matter_thread_cross_vlan.md
Labels: none

feat(llm): use our own llama-cpp-jetson image, expand LFM2.5 to main model
  .plans/TODO.md
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(llm): swap the served model to LFM2.5-8B-A1B (#5349)
  .plans/TODO.md
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

chore: scope nv1 llama-server concurrency/context/checkpoint follow-up
  .plans/TODO.md
Labels: none

chore: scope nv1 llama-server concurrency/context/checkpoint follow-up (#5368)
  .plans/TODO.md
Labels: none

feat(hermes): point the main model, compression and local aux tasks at LFM2.5-8B-A1B
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): point Hermes at LFM2.5-8B-A1B (#5369)
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(honcho): point local model slots at LFM2.5-8B-A1B
  cluster/apps/ai/honcho/README.md
  cluster/apps/ai/honcho/templates/_helpers.tpl
Labels: area/cluster

feat(honcho): point Honcho at LFM2.5-8B-A1B (#5370)
  cluster/apps/ai/honcho/README.md
  cluster/apps/ai/honcho/templates/_helpers.tpl
Labels: area/cluster

fix(hermes): bump memory limit 1Gi -> 3Gi, fixes OOMKilled under concurrency
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

fix(hermes): bump memory limit 1Gi -> 3Gi, fixes OOMKilled under concurrency (#5375)
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

fix(llm): bump cache-ram 256->2048 MiB, fixes prompt-cache thrashing
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

fix(llm): bump cache-ram 256->2048 MiB, fixes prompt-cache thrashing (#5376)
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
