Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

feat(helm-chart): update helm release intel-device-plugins-operator to 0.30.0
  cluster/system/intel-device-plugins-operator/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 58.5.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.29.5
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

feat(deps): update pre-commit hook ansible/ansible-lint to v24.5.0
  .pre-commit-config.yaml
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.33.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.5.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.52
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.4
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

add automerge of common apps
  .github/renovate/autoMerge.json5
Labels: area/github

allow 1.30 for k8s
  .github/renovate/allowedVersions.json5
Labels: area/github

feat(deps): update siderolabs/kubelet to v1.30.1
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.5.4
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.53
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(deps): update talos group
  .github/.devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to f9e7956
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 58.6.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(ansible-collection): update community.general to 8.6.1
  provision/ansible/requirements.yml
Labels: area/ansible

feat(ansible-collection)!: Update community.general to 9.0.0
  provision/ansible/requirements.yml
Labels: area/ansible

ci(github-action): update actions/checkout digest to a5ac7e5
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.54
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kubelet-csr-approver to 1.2.1
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

add exclude for github
  .github/linters/.ansible-lint
Labels: area/github

add new exclude
  .github/linters/.ansible-lint
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 1c8ecb9
  .devcontainer/devcontainer.json
Labels: none

add lintable
  .github/workflows/lint.yaml
Labels: area/github

fix(deps): update argoproj/argo-cd to v2.11.1
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.55
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release traefik to 28.1.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/alpine:latest docker digest to 77726ef
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.56
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 58.6.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release app-template to 3.2.1
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/openwakeword/Chart.yaml
  cluster/home-automation/piper/Chart.yaml
  cluster/home-automation/whisper/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.11.2
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.57
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 58.7.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to b890347
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 7d5fe72
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 5a1f549
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 58.7.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 7.5.5
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster
