Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

fix(hermes-agent): fix replicas template - Helm default treats 0 as falsy
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/templates/signal-deployment.yaml
Labels: area/cluster

fix(hermes-agent): restore replicas to 1 after PVC restore
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

chore(argocd): restore preserveResourcesOnDeletion=false on appset-default (#4027)
  cluster/appsets/appset-default.yaml
Labels: area/cluster

chore(plans): archive ai-project migration plan
  .archive/.plans/ai-project/plan.md
  .archive/.plans/ai-project/tasks.md
  .archive/.plans/list.md
  .plans/list.md
Labels: none

feat(honcho): add implementation plan and tasks for self-hosted Honcho integration
  .archive/.plans/honcho-integration/plan.md
  .archive/.plans/honcho-integration/tasks.md
  .archive/.plans/list.md
  .plans/ai-project/plan.md
  .plans/ai-project/tasks.md
  .plans/list.md
Labels: none

docs(cnpg): add design spec for plugin-barman-cloud migration
  docs/superpowers/specs/2026-06-02-cnpg-plugin-barman-cloud-migration-design.md
Labels: none

docs(cnpg): move design spec to .plans/cnpg-plugin-migration/
  .plans/cnpg-plugin-migration/plan.md
  .plans/list.md
Labels: none

docs(cnpg): add implementation tasks for plugin-barman-cloud migration
  .plans/cnpg-plugin-migration/tasks.md
Labels: none

feat(cnpg): add plugin-barman-cloud 0.6.0 to cloudnative-pg app
  cluster/apps/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

feat(pgsql-cnpg): v1.3.0 — ObjectStore CR + plugin-barman-cloud integration
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
Labels: none

fix(pgsql-cnpg): fail guard for deprecated backup: key, update values docs
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
Labels: none

feat(honcho): migrate CNPG to standard-bookworm + plugin-barman-cloud
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/honcho/values.yaml
Labels: area/cluster

feat(litellm): migrate CNPG to standard-bookworm + plugin-barman-cloud
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/ai/litellm/values.yaml
Labels: area/cluster

feat(gitea): migrate CNPG to standard-bookworm + plugin-barman-cloud
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

feat(keycloak): migrate CNPG to standard-bookworm + plugin-barman-cloud
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

feat(home-assistant): migrate CNPG to standard-bookworm + plugin-barman-cloud
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(cnpg): migrate all clusters to standard-bookworm + plugin-barman-cloud (#4041)
  .plans/cnpg-plugin-migration/plan.md
  .plans/cnpg-plugin-migration/tasks.md
  .plans/list.md
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/honcho/values.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/ai/litellm/values.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/values.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/system/cloudnative-pg/Chart.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

docs(cnpg): move design spec to .plans/cnpg-plugin-migration/
  docs/superpowers/specs/2026-06-02-cnpg-plugin-barman-cloud-migration-design.md
Labels: none

docs(cnpg): add design spec for plugin-barman-cloud migration
  docs/superpowers/specs/2026-06-02-cnpg-plugin-barman-cloud-migration-design.md
Labels: none

fix(pgsql-cnpg): v1.3.1 — remove barmanObjectStore wrapper from ObjectStore CR
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/system/keycloak/Chart.yaml
Labels: area/cluster

fix(pgsql-cnpg): v1.3.1 — remove barmanObjectStore wrapper from ObjectStore CR (#4042)
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/system/keycloak/Chart.yaml
Labels: area/cluster

chore(memory): add QNAP QuObjects barman-cloud InvalidDigest caveat
  .claude/memory/MEMORY.md
  .claude/memory/reference_qnap_s3_barman_caveat.md
Labels: none

fix(pgsql-cnpg): v1.3.2 — disable boto3 flexible checksums for QNAP QuObjects
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/honcho/values.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/ai/litellm/values.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/values.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

docs(cnpg): document InvalidDigest and schema caveats in migration plan
  .plans/cnpg-plugin-migration/plan.md
Labels: none

fix(pgsql-cnpg): v1.3.2 — disable boto3 flexible checksums for QNAP QuObjects (#4043)
  .claude/memory/MEMORY.md
  .claude/memory/reference_qnap_s3_barman_caveat.md
  .plans/cnpg-plugin-migration/plan.md
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/honcho/values.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/ai/litellm/values.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/values.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

fix(honcho): increase memory limit for deriver sidecar to 312Mi
  cluster/apps/ai/honcho/values.yaml
Labels: area/cluster

chore(plans): archive cnpg-plugin-migration plan
  .archive/.plans/cnpg-plugin-migration/plan.md
  .archive/.plans/cnpg-plugin-migration/tasks.md
  .archive/.plans/list.md
  .plans/list.md
Labels: none

commit moved files
  .plans/cnpg-plugin-migration/plan.md
  .plans/cnpg-plugin-migration/tasks.md
Labels: none

archived superpowers plans
  .archive/.plans/list.md
  .archive/docs/superpowers/plans/2026-05-25-hermes-agent.md
  .archive/docs/superpowers/plans/2026-05-26-hermes-agent-discord.md
  .archive/docs/superpowers/plans/2026-05-27-hermes-agent-chart-redesign.md
  .archive/docs/superpowers/plans/2026-06-01-ai-project.md
  .archive/docs/superpowers/specs/2026-05-25-hermes-agent-design.md
  .archive/docs/superpowers/specs/2026-05-26-hermes-agent-discord-design.md
  .archive/docs/superpowers/specs/2026-06-01-ai-project-design.md
  .plans/list.md
Labels: none

chore: increase PVC sizes for hermes-agent-data and open-webui to 5Gi
  cluster/apps/ai/hermes-agent/templates/pvc.yaml
  cluster/apps/ai/open-webui/values.yaml
Labels: area/cluster

chore: increase PVC sizes for hermes-agent-data and open-webui to 5Gi (#4044)
  cluster/apps/ai/hermes-agent/templates/pvc.yaml
  cluster/apps/ai/open-webui/values.yaml
Labels: area/cluster

chore: tune resource limits for hermes, wow mysql, and honcho deriver
  cluster/apps/ai/hermes-agent/values.yaml
  cluster/apps/ai/honcho/values.yaml
  cluster/apps/games/wow/templates/mysql-statefulset.yaml
Labels: area/cluster

chore: tune resource limits for hermes, wow mysql, and honcho deriver (#4047)
  cluster/apps/ai/hermes-agent/values.yaml
  cluster/apps/ai/honcho/values.yaml
  cluster/apps/games/wow/templates/mysql-statefulset.yaml
Labels: area/cluster

chore: remove metallb package group and related API versions from workflows
  .github/renovate/groups.json5
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

chore: add migration plan for moving Daytona runners to dedicated worker nodes
  .plans/TODO.md
Labels: none

docs: add Daytona installation design spec
  docs/superpowers/specs/2026-06-02-daytona-installation-design.md
Labels: none

add helm allow
  .claude/settings.json
Labels: none

docs: add Daytona installation implementation plan
  docs/superpowers/plans/2026-06-02-daytona-installation.md
Labels: none

feat(cilium): add daytona-pool for sandbox LB IPs (192.168.48.51-70)
  cluster/apps/core/cilium/templates/config.yaml
Labels: area/cluster

feat(cilium): add daytona-pool for sandbox LB IPs (192.168.48.51-70) (#4049)
  cluster/apps/core/cilium/templates/config.yaml
  docs/superpowers/plans/2026-06-02-daytona-installation.md
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
