Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

add option to force reimage node
  .taskfiles/talos/Taskfile.yaml
  provision/talos/README.md
Labels: none

fix: node-exporter on jetson
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

fix upgrade command
  .taskfiles/talos/Taskfile.yaml
Labels: none

restore from backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

aa
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable selfheal
  .taskfiles/bootstrap/Taskfile.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/bootstrap/argocd/age-key.secret.sops.yaml
  cluster/bootstrap/argocd/kustomization.yaml
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/games/app-of-apps.yaml
  cluster/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
  cluster/projects/apps/values.yaml
  cluster/projects/core/values.yaml
  cluster/projects/games/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

disable selfheal (#2462)
  .taskfiles/bootstrap/Taskfile.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/bootstrap/argocd/age-key.secret.sops.yaml
  cluster/bootstrap/argocd/kustomization.yaml
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/games/app-of-apps.yaml
  cluster/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
  cluster/projects/apps/values.yaml
  cluster/projects/core/values.yaml
  cluster/projects/games/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

remove auto sunc
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/games/app-of-apps.yaml
  cluster/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
Labels: area/cluster

add task to restore pvc
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/volsync-restore.tmpl.yaml
  Taskfile.yml
Labels: none

fix mods list
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix syncpolicy for system
  cluster/core/argocd/projects/system/app-of-apps.yaml
Labels: area/cluster

add litellm
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
  cluster/apps/litellm/Chart.yaml
  cluster/apps/litellm/secret.sec.yaml
  cluster/apps/litellm/templates/secrets.yaml
  cluster/apps/litellm/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

increase limits
  cluster/apps/litellm/values.yaml
Labels: area/cluster

add model prefix
  cluster/apps/litellm/values.yaml
Labels: area/cluster

fix credentials
  cluster/apps/litellm/values.yaml
Labels: area/cluster

fix master key env var
  cluster/apps/litellm/templates/secrets.yaml
Labels: area/cluster

fix secret name
  cluster/apps/litellm/templates/secrets.yaml
  cluster/apps/litellm/values.yaml
Labels: area/cluster

correct gpt models
  cluster/apps/litellm/values.yaml
Labels: area/cluster

add more cpu
  cluster/apps/litellm/values.yaml
Labels: area/cluster

rework taskfile
  .taskfiles/talos/Taskfile.yaml
  provision/talos/talconfig.yaml
Labels: none

Update k8s to 1.32
  .github/renovate/allowedVersions.json5
Labels: area/github

Update k8s to 1.32 (#2561)
  .github/renovate/allowedVersions.json5
Labels: area/github

fix talos config for k8s 1.32
  provision/talos/talconfig.yaml
Labels: none

deplou two models
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

update repository of charts
  .archive/cluster/home-automation/mosquitto/Chart.yaml
  cluster/games/vintagestory/Chart.yaml
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/openwakeword/Chart.yaml
  cluster/home-automation/piper/Chart.yaml
  cluster/home-automation/whisper/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

enable minecraft
  .archive/cluster/apps/minecraft/bedrock/templates/map.yml
  .archive/cluster/apps/minecraft/bedrock/values.yaml
  cluster/games/minecraft/bedrock/Chart.yaml
  cluster/games/minecraft/bedrock/secret.sec.yaml
  cluster/games/minecraft/bedrock/templates/_helpers.tpl
  cluster/games/minecraft/bedrock/templates/pvc.yaml
  cluster/games/minecraft/bedrock/templates/volsync.yaml
  cluster/games/minecraft/bedrock/values.yaml
  cluster/projects/games/values.yaml
Labels: area/cluster

enable minecraft restore
  cluster/games/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

enable minecraft restore with context
  cluster/games/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

remove minecraft restore with context
  cluster/games/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

chore: update mods
  cluster/games/vintagestory/values.yaml
Labels: area/cluster
