Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

add minor for auto merge
  .github/renovate/autoMerge.json5
Labels: area/github

use upstream jellyfin chart
  .taskfiles/argocd/Taskfile.yaml
  charts/jellyfin-helm/jellyfin/.helmignore
  charts/jellyfin-helm/jellyfin/Chart.yaml
  charts/jellyfin-helm/jellyfin/MIGRATION.md
  charts/jellyfin-helm/jellyfin/README.md
  charts/jellyfin-helm/jellyfin/README.md.gotmpl
  charts/jellyfin-helm/jellyfin/templates/_helpers.tpl
  charts/jellyfin-helm/jellyfin/templates/deployment.yaml
  charts/jellyfin-helm/jellyfin/templates/httproute.yaml
  charts/jellyfin-helm/jellyfin/templates/ingress.yaml
  charts/jellyfin-helm/jellyfin/templates/networkpolicy.yaml
  charts/jellyfin-helm/jellyfin/templates/persistentVolumeClaim.yaml
  charts/jellyfin-helm/jellyfin/templates/service.yaml
  charts/jellyfin-helm/jellyfin/templates/serviceMonitor.yaml
  charts/jellyfin-helm/jellyfin/templates/serviceaccount.yaml
  charts/jellyfin-helm/jellyfin/tests/cache_persistence_test.yaml
  charts/jellyfin-helm/jellyfin/tests/envfrom_test.yaml
  charts/jellyfin-helm/jellyfin/tests/httproute_test.yaml
  charts/jellyfin-helm/jellyfin/tests/init_containers_test.yaml
  charts/jellyfin-helm/jellyfin/tests/networkpolicy_test.yaml
  charts/jellyfin-helm/jellyfin/tests/revision_history_test.yaml
  charts/jellyfin-helm/jellyfin/tests/service_ipv6_test.yaml
  charts/jellyfin-helm/jellyfin/tests/startup_probe_test.yaml
  charts/jellyfin-helm/jellyfin/values.yaml
  charts/volsync/Chart.yaml
  charts/volsync/templates/pvc.yaml
  charts/volsync/templates/replicationdestination.yaml
  charts/volsync/templates/replicationsource.yaml
  charts/volsync/templates/resticsecret.yaml
  charts/volsync/values.yaml
  cluster/apps/default/jellyfin/Chart.yaml
  cluster/apps/default/jellyfin/app-config.yaml
  cluster/apps/default/jellyfin/templates/_helpers.tpl
  cluster/apps/default/jellyfin/templates/deployment.yaml
  cluster/apps/default/jellyfin/templates/httproute.yaml
  cluster/apps/default/jellyfin/templates/pvc-config.yaml
  cluster/apps/default/jellyfin/templates/pvc-extra.yaml
  cluster/apps/default/jellyfin/templates/service.yaml
  cluster/apps/default/jellyfin/templates/volsync.yaml
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

set propper dirs
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

enable self heal
  cluster/apps/default/jellyfin/app-config.yaml
Labels: area/cluster

fix n8n sybchart version
  charts/volsync/Chart.yaml
  cluster/apps/default/jellyfin/Chart.yaml
Labels: area/cluster

add some claude settings
  .claude/settings.json
Labels: none

add claude settings
  .claude/settings.json
  .claude/statusline/settings.json
Labels: none

add k8s investigation skills
  .claude/memory/MEMORY.md
  .claude/memory/feedback_skill_location.md
  .claude/skills/learned/k8s-resource-limit-audit.md
  .claude/skills/learned/prometheus-historical-queries.md
  .claude/skills/learned/prometheus-portforward-session.md
Labels: none

update claude settings
  .claude/settings.json
Labels: none

update network docs
  .claude/memory/MEMORY.md
  .claude/memory/reference_network_hardware.md
  CLAUDE.md
  docs/src/general/hardware.md
  docs/src/general/network.md
  docs/src/images/network.drawio
Labels: none

add more devices
  docs/src/general/hardware.md
  docs/src/general/network.md
Labels: none

add new upssection
  .github/mkdocs/mkdocs.yml
  docs/src/general/network.md
  docs/src/general/ups.md
Labels: area/github

disable dynhost
  cluster/apps/system/dyndns/app-config.yaml
Labels: area/cluster

add secops skill
  .claude/skills/learned/secops-public-repo-audit.md
  cluster/apps/system/dyndns/app-config.yaml
Labels: area/cluster

fix renovate
  .github/renovate/disabledDatasources.json5
  .gitignore
  cluster/apps/default/jellyfin/values.yaml
Labels: area/github, area/cluster

fix renovate v2
  .github/renovate.json5
  .github/renovate/disabledDatasources.json5
Labels: area/github

fix gitea digest
  .github/renovate/disabledDatasources.json5
Labels: area/github

add network upgrade plan
  .github/mkdocs/mkdocs.yml
  docs/src/general/network-upgrade-plan.md
Labels: area/github

fix jellyfin
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

fix migration
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

note memory
  .claude/memory/MEMORY.md
  .claude/memory/feedback_recreate_strategy_migration.md
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

update home setup
  docs/src/general/network-upgrade-plan.md
Labels: none

networking rack updates
  docs/src/general/network-upgrade-plan.md
Labels: none

use brewfile
  .github/.devcontainer/local-features/common/Brewfile
  .github/.devcontainer/local-features/common/install_user.sh
  Taskfile.yml
Labels: area/github

fix taskfile
  Taskfile.yml
Labels: none

enable nv1
  provision/talos/talconfig.yaml
Labels: none

init config, not working nv module
  provision/talos/talconfig.yaml
Labels: none

first attempt
  .claude/memory/MEMORY.md
  .claude/memory/project_jetson_gpu.md
  .claude/settings.json
  cluster/.tools/nvgpu-build-test.yaml
  docs/src/k8s/jetson-gpu.md
  provision/talos/talconfig.yaml
Labels: area/cluster

new findings
  cluster/.tools/nvgpu-build-test.yaml
  docs/src/k8s/jetson-gpu.md
Labels: area/cluster

finish build for 8.16.18 kernel
  .claude/memory/project_jetson_gpu.md
  cluster/.tools/nvgpu-build-test.yaml
  docs/src/k8s/jetson-gpu.md
Labels: area/cluster

prepare patch
  .claude/memory/project_jetson_gpu.md
  docs/src/k8s/jetson-gpu.md
  provision/talos/patches/nvgpu-kernel-compat.patch
Labels: none

fix: exclude .patch files from pre-commit hooks
  .pre-commit-config.yaml
  provision/talos/patches/nvgpu-kernel-compat.patch
Labels: none

update plan
  .claude/memory/project_jetson_gpu.md
  docs/src/k8s/jetson-gpu.md
Labels: none

add plan for cuda extension
  .claude/memory/MEMORY.md
  .claude/memory/project_jetson_gpu.md
  docs/src/k8s/jetson-cuda-extension.md
  docs/src/k8s/jetson-gpu.md
Labels: none

add job affinity
  cluster/apps/system/talos-backup/templates/cronjob.yaml
Labels: area/cluster

add guide to upgrate talos nvgpu
  docs/src/k8s/nvgpu-upgrade-guide.md
Labels: none

gitblobstore: checkandput manifest
  manifest
  vgrr9llc95rktgnnrmumlchlqoqluhqp.darc
Labels: none

gitblobstore: checkandput manifest
  7nbqqli2uinvhib4f3b5muq3ffhpel4t
  manifest
Labels: none

update status
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .claude/memory/MEMORY.md
  .claude/memory/feedback_nvgpu_patch_audit.md
  .claude/memory/project_jetson_gpu.md
  .claude/settings.json
  .github/.devcontainer/local-features/common/Brewfile
  .gitignore
  CLAUDE.md
  docs/src/k8s/jetson-gpu.md
Labels: area/github

update memory
  .claude/memory/project_jetson_gpu.md
  docs/src/k8s/nvgpu-upgrade-guide.md
Labels: none
