Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

gitblobstore: checkandput manifest
  hgbf47u1cb0899mimk2gsrcqhr726p7t
  manifest
Labels: none

docs(jetson): resolve OQ-11, document source strategy and L4T version rationale
  docs/src/k8s/jetson-cuda-extension.md
Labels: none

docs(jetson): document tracking branch in nvgpu upgrade guide
  docs/src/k8s/nvgpu-upgrade-guide.md
Labels: none

gitblobstore: checkandput manifest
  bq83osadrbrmfned3q99cb2fu330c37n.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  jcf3pba0fgb04t98l65sm8l82p4pdvn4
  manifest
Labels: none

gitblobstore: checkandput manifest
  j2th7db2129at7emh161dvq4r4jp7e6l.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  ihg57063te45mou8t94383aqs14cntt3
  manifest
Labels: none

docs(jetson): update Phase 1+2 status, resolve OQ-9/OQ-11/OQ-12
  docs/src/k8s/jetson-cuda-extension.md
Labels: none

gitblobstore: checkandput manifest
  d50gtpmoa5t17cd51sch3lfdfouhhvb6.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  c59t9t06v5oi6g3qc9u73qkbl5rbbft2
  manifest
Labels: none

gitblobstore: checkandput manifest
  manifest
  p7l0r3vk48215qn7fa8pa2tknk8tfadj.darc
Labels: none

gitblobstore: checkandput manifest
  irqvshuf6g0cqcq8ad6ukagunvldave3
  manifest
Labels: none

docs(jetson): update Phase 3 status, document nvgpu-toolkit installer workflow
  docs/src/k8s/jetson-cuda-extension.md
Labels: none

gitblobstore: checkandput manifest
  degufha192lfv7643mjn3gp0715gl65l.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  2k8qiqu8da18f58j90t14tbrh177t2mg
  manifest
Labels: none

gitblobstore: checkandput manifest
  6rumplambpq4qs96ko7tcne8lbv1bb08.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  en0q6e6l7lhil7r300adosae8rhl4cj0
  manifest
Labels: none

gitblobstore: checkandput manifest
  f91jtqhblpto4vt4dsc79g0ou7g9q0g6.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  fhkgprjj99mhs7d4189jt2mtg967impi
  manifest
Labels: none

feat(nvidia-tegra): add RuntimeClass and nvidia device plugin for Jetson Orin NX
  cluster/apps/system/nvidia-tegra/Chart.yaml
  cluster/apps/system/nvidia-tegra/app-config.yaml
  cluster/apps/system/nvidia-tegra/templates/runtimeclass.yaml
  cluster/apps/system/nvidia-tegra/values.yaml
Labels: area/cluster

gitblobstore: checkandput manifest
  8clul6a876m20vaf9gmud8s60phiqmhu.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  manifest
  r9stb9rb2ff93jj9a2a46hdi8f4p64ub
Labels: none

init config, not working nv module (#3713)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .claude/memory/MEMORY.md
  .claude/memory/feedback_check_native_gateway_support.md
  .claude/memory/feedback_docs_updates.md
  .claude/memory/feedback_recreate_strategy_migration.md
  .claude/memory/feedback_render_verification.md
  .claude/memory/feedback_skill_location.md
  .claude/memory/project_gateway_dns.md
  .claude/memory/project_secrets_architecture.md
  .claude/memory/reference_local_access.md
  .claude/memory/reference_network_hardware.md
  .claude/settings.json
  .github/.devcontainer/local-features/common/Brewfile
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  cluster/.tools/nvgpu-build-test.yaml
  cluster/apps/system/nvidia-tegra/Chart.yaml
  cluster/apps/system/nvidia-tegra/app-config.yaml
  cluster/apps/system/nvidia-tegra/templates/runtimeclass.yaml
  cluster/apps/system/nvidia-tegra/values.yaml
  docs/src/k8s/archive/jetson-gpu.md
  docs/src/k8s/archive/nvmap-build-plan.md
  docs/src/k8s/jetson-cuda-extension.md
  docs/src/k8s/nvgpu-upgrade-guide.md
  provision/talos/patches/nvgpu-kernel-compat.patch
  provision/talos/talconfig.yaml
Labels: area/github, area/cluster

fix(nvidia-tegra): enable gfd and disable nfd in values.yaml
  cluster/apps/system/nvidia-tegra/values.yaml
Labels: area/cluster

fix(nvidia-tegra): add runtimeClassName for nvidia device plugin
  cluster/apps/system/nvidia-tegra/values.yaml
Labels: area/cluster

fix(nvidia-tegra): remove runtimeClassName from nvidia device plugin configuration
  cluster/apps/system/nvidia-tegra/values.yaml
Labels: area/cluster

fix(nvidia-tegra): remove gfd and nfd configuration from values.yaml
  cluster/apps/system/nvidia-tegra/values.yaml
Labels: area/cluster

gitblobstore: checkandput manifest
  8jh9bf2m2lpkfa3le0oo58pdbr4am63k.darc
  manifest
Labels: none

gitblobstore: checkandput manifest
  b7o2tr6lub8j58smm8lpdg28b4ud8afp
  manifest
Labels: none

fix(talos/nv1): set NVIDIA_CTK_CONFIG_FILE_PATH via machine.env
  provision/talos/talconfig.yaml
Labels: none

docs(jetson): update cuda extension doc with CSV vs CDI rationale and current status
  docs/src/k8s/jetson-cuda-extension.md
Labels: none

fix(talos/nv1): provision /etc/nvidia-container-runtime/config.toml via machineFiles
  provision/talos/talconfig.yaml
Labels: none

update plan
  docs/src/k8s/jetson-cuda-extension.md
Labels: none

revert(talos/nv1): remove /etc/nvidia-container-runtime machineFiles entry
  provision/talos/talconfig.yaml
Labels: none

docs(jetson): update nvgpu-toolkit wrapper notes — compiled Go binary, not shell script
  docs/src/k8s/jetson-cuda-extension.md
Labels: none

migrate beads memory
  .claude/memory/MEMORY.md
  .claude/memory/feedback_check_native_gateway.md
  .claude/memory/feedback_cluster_access_rules.md
  .claude/memory/feedback_deployment_strategy_patch.md
  .claude/memory/feedback_learned_skills_path.md
  .claude/memory/feedback_nvgpu_patch_audit.md
  .claude/memory/feedback_nvidia_oot_conftest.md
  .claude/memory/feedback_talosctl_config.md
  .claude/memory/feedback_update_docs.md
  .claude/memory/feedback_verify_manifests.md
  .claude/memory/project_jetson_container_runtime.md
  .claude/memory/project_jetson_nvgpu.md
  .claude/memory/project_orin_dev_nvgpu_layout.md
  .claude/memory/project_secrets_architecture.md
  .claude/memory/project_siderolabs_extensions_fork.md
  .claude/memory/project_siderolabs_pkgs_fork.md
  .claude/memory/reference_gateway_dns_architecture.md
  .claude/memory/reference_home_network_hardware.md
  .claude/memory/reference_l4t_packages.md
Labels: none

remove beads malware
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .github/.devcontainer/local-features/common/Brewfile
  .gitignore
  CLAUDE.md
Labels: area/github

clean settings
  .claude/settings.json
Labels: none

fix(Brewfile): replace terraform brew installation with tap for hashicorp/tap
  .github/.devcontainer/local-features/common/Brewfile
Labels: area/github

add pi coding harness
  .devcontainer/scripts/onCreateCommand.sh
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
