Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

add http-addons
  cluster/system/keda/Chart.yaml
Labels: area/cluster

add scale object
  cluster/games/vintagestory/templates/hpa.yaml
Labels: area/cluster

remove hpa
  cluster/games/vintagestory/templates/hpa.yaml
Labels: area/cluster

add backup to vintagestory
  cluster/games/vintagestory/templates/volsync.yaml
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

restore gitea
  cluster/apps/gitea/templates/cnpg.yaml
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

update to block cfs
  cluster/apps/gitea/values.yaml
Labels: area/cluster

change to list
  cluster/apps/gitea/values.yaml
Labels: area/cluster

disable backup
  cluster/apps/gitea/values.yaml
Labels: area/cluster

gitea cnpg to 15.10
  cluster/apps/gitea/values.yaml
Labels: area/cluster

remove backups
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix backup
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

disable some apps
  cluster/projects/apps/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

update configs
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

organize talos config
  provision/talos/talconfig.yaml
Labels: none

try turbo model
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

update to correct model name
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

update piper to pl
  cluster/home-automation/openwakeword/values.yaml
  cluster/home-automation/piper/values.yaml
Labels: area/cluster

add ollama to cluster
  cluster/home-automation/ollama/Chart.yaml
  cluster/home-automation/ollama/secret.sec.yaml
  cluster/home-automation/ollama/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

add plugin to ollama deploy
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

add shared ip in ha
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

fix models pull path
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

increase ram limit
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

up limit again
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

change parallel number
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

change format
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

fix pare serror
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

lower parallel num
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

reorder taskfiles
  .gitattributes
  .taskfiles/argocd/Taskfile.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/bootstrap/resources/rook-data-job.tmpl.yaml
  .taskfiles/bootstrap/resources/rook-disk-job.tmpl.yaml
  .taskfiles/bootstrap/resources/wait-for-job.sh
  .taskfiles/externalsecrets/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/kubernetes/resources/privileged-pod.tmpl.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yml
  cluster/bootstrap/argocd/age-key.secret.sops.yaml
  cluster/bootstrap/argocd/kustomization.yaml
  provision/talos/apps/helmfile.yaml
  provision/talos/manifests/kubelet-csr-approver/generate.sh
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
  provision/talos/talconfig.yaml
Labels: area/cluster

add renovate version checks for new repos
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix versions renovate
  .github/renovate/allowedVersions.json5
  provision/talos/talconfig.yaml
Labels: area/github

update taskfile
  .taskfiles/talos/Taskfile.yaml
  provision/talos/talconfig.yaml
Labels: none

remove static machine manifest
  .taskfiles/talos/Taskfile.yaml
  provision/talos/talconfig.yaml
Labels: none

remove ceph resources limits
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

restore cpu limits
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

remove keda
  cluster/projects/system/values.yaml
Labels: area/cluster

add mods folder
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

move option as args
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix args
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

update browse pvc
  .devcontainer/scripts/onCreateCommand.sh
  .taskfiles/kubernetes/Taskfile.yaml
Labels: none

increase limits
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
