Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

docs(jetson): record Phase 1 outcome and per-node talosVersion
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
  provision/talos/README.md
Labels: none

docs(jetson): record Phase 1 outcome and per-node talosVersion (#4899)
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
  provision/talos/README.md
Labels: none

chore(memory): record Talos taint NodeRestriction behaviour
  .claude/memory/MEMORY.md
  .claude/memory/reference_talos_taint_noderestriction.md
Labels: none

chore(memory): record Talos taint NodeRestriction behaviour (#4900)
  .claude/memory/MEMORY.md
  .claude/memory/reference_talos_taint_noderestriction.md
Labels: none

feat(memory): add feedback on Claude file storage location and usage
  .claude/memory/MEMORY.md
  .claude/memory/feedback_claude_files_in_workspace.md
Labels: none

chore(renovate): pin Jetson cdi-setup to Ubuntu 22.04
  .github/renovate/allowedVersions.json5
Labels: area/github

chore(renovate): pin Jetson cdi-setup to Ubuntu 22.04 (#4905)
  .github/renovate/allowedVersions.json5
Labels: area/github

docs(jetson): add Phase 2 design — own the installer build
  docs/superpowers/specs/2026-08-13-jetson-installer-build-design.md
Labels: none

docs(jetson): add Phase 2 implementation plan
  docs/superpowers/plans/2026-08-13-jetson-installer-build.md
  docs/superpowers/specs/2026-08-13-jetson-installer-build-design.md
Labels: none

docs(jetson): flag the two human-only steps in the Phase 2 plan
  docs/superpowers/plans/2026-08-13-jetson-installer-build.md
Labels: none

docs(jetson): Phase 2 design — own the Jetson installer build (#4906)
  docs/superpowers/plans/2026-08-13-jetson-installer-build.md
  docs/superpowers/specs/2026-08-13-jetson-installer-build-design.md
Labels: none

feat(dashboard): add QNAP NAS monitoring dashboard and update ConfigMap
  .plans/TODO.md
  cluster/apps/system/prometheus-stack/dashboards/node.json
  cluster/apps/system/prometheus-stack/dashboards/qnap.json
  cluster/apps/system/prometheus-stack/templates/device-dashboards-cm.yaml
Labels: area/cluster

fix(grafana): disable anonymous access to ensure secure login requirements
  .claude/memory/MEMORY.md
  .claude/memory/feedback_grafana_no_anonymous_access.md
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

docs(plan): record Jetson build execution findings
  docs/superpowers/plans/2026-08-13-jetson-installer-build.md
Labels: none

docs(plan): record Jetson build execution findings (#4945)
  docs/superpowers/plans/2026-08-13-jetson-installer-build.md
Labels: none

feat(nv1): use our own Jetson installer image
  .taskfiles/talos/Taskfile.yaml
  provision/talos/nodes.yaml
  provision/talos/nodes/nv1.yaml
Labels: none

fix(talos): derive NODE_TALOS_VERSION from committed node config
  .taskfiles/talos/Taskfile.yaml
Labels: none

docs(plan): read NODE_TALOS_VERSION from committed node config
  docs/superpowers/plans/2026-08-13-jetson-installer-build.md
Labels: none

feat(nv1): use our own Jetson installer image (#4955)
  .taskfiles/talos/Taskfile.yaml
  provision/talos/nodes.yaml
  provision/talos/nodes/nv1.yaml
Labels: none

docs(spec): record Phase 2 outcome - nv1 on our own installer
  docs/superpowers/specs/2026-08-13-jetson-installer-build-design.md
Labels: none

docs(spec): record Phase 2 outcome - nv1 on our own installer (#4956)
  docs/superpowers/specs/2026-08-13-jetson-installer-build-design.md
Labels: none

fix(renovate): disable platformAutomerge for weekly-scheduled digest groups
  .github/renovate/groups.json5
Labels: area/github

feat(hermes-agent): track versioned release tags instead of rolling :main
  .github/renovate/groups.json5
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/github, area/cluster

fix(renovate): disable platformAutomerge for weekly-scheduled digest groups (#4991)
  .github/renovate/groups.json5
Labels: area/github

feat(hermes-agent): track versioned release tags instead of rolling :main (#4993)
  .github/renovate/groups.json5
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/github, area/cluster

fix(Brewfile): change go-task installation from brew to cask
  .github/.devcontainer/local-features/common/Brewfile
Labels: area/github

fix(Brewfile): change go-task installation from cask to brew and update trust command
  .github/.devcontainer/local-features/common/Brewfile
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix(talos): repoint nodes at VLAN 48 gateway after network migration
  .claude/skills/cluster-reference/SKILL.md
  docs/src/general/network-migration-plan.md
  docs/src/general/network.md
  provision/talos/nodes/mc1.yaml
  provision/talos/nodes/mc2.yaml
  provision/talos/nodes/mc3.yaml
  provision/talos/nodes/nv1.yaml
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/worker.yaml
Labels: none

fix(settings): update version from 3 to 4 in settings.json
  .claude/statusline/settings.json
Labels: none

fix(talos): use public anycast NTP instead of the gateway
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/worker.yaml
Labels: none

docs(network): record the stale /22 trap on RPi and QNAP
  docs/src/general/network-migration-plan.md
  docs/src/general/network.md
Labels: none

docs(talos): correct the node version docs to match the code
  provision/talos/README.md
Labels: none

feat(monitoring): replace ASUS router monitoring with UniFi
  cluster/apps/core/rook-ceph/cluster/values.yaml
  cluster/apps/system/alloy/router-syslog/values.yaml
  cluster/apps/system/prometheus-stack/dashboards/router.json
  cluster/apps/system/prometheus-stack/templates/device-dashboards-cm.yaml
  cluster/apps/system/prometheus-stack/values.yaml
  cluster/apps/system/unpoller/Chart.yaml
  cluster/apps/system/unpoller/app-config.yaml
  cluster/apps/system/unpoller/templates/credentials-externalsecret.yaml
  cluster/apps/system/unpoller/values.yaml
Labels: area/cluster

feat(monitoring): authenticate unpoller with a UniFi API key
  cluster/apps/system/unpoller/templates/credentials-externalsecret.yaml
  cluster/apps/system/unpoller/values.yaml
Labels: area/cluster

feat(monitoring): wire unpoller to the real UniFi API key secret
  cluster/apps/system/unpoller/templates/credentials-externalsecret.yaml
Labels: area/cluster

feat(monitoring): replace ASUS router monitoring with UniFi (#5144)
  cluster/apps/core/rook-ceph/cluster/values.yaml
  cluster/apps/system/alloy/router-syslog/values.yaml
  cluster/apps/system/prometheus-stack/dashboards/router.json
  cluster/apps/system/prometheus-stack/templates/device-dashboards-cm.yaml
  cluster/apps/system/prometheus-stack/values.yaml
  cluster/apps/system/unpoller/Chart.yaml
  cluster/apps/system/unpoller/app-config.yaml
  cluster/apps/system/unpoller/templates/credentials-externalsecret.yaml
  cluster/apps/system/unpoller/values.yaml
Labels: area/cluster

fix(talos): repoint nodes at VLAN 48 gateway after network migration (#5143)
  .claude/skills/cluster-reference/SKILL.md
  .claude/statusline/settings.json
  docs/src/general/network-migration-plan.md
  docs/src/general/network.md
  provision/talos/README.md
  provision/talos/nodes/mc1.yaml
  provision/talos/nodes/mc2.yaml
  provision/talos/nodes/mc3.yaml
  provision/talos/nodes/nv1.yaml
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/worker.yaml
Labels: none

fix(rook-ceph): move daemon cephx keys off the insecure aes cipher
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

fix(rook-ceph): drop the dead rook mgr module override
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

fix(rook-ceph): cap the MDS cache and restore dropped CSI parameters
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster
