Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(deps): update budimanjojo/talhelper to v1.8.1
  .taskfiles/talos.yml
Labels: none

fix(helm-chart): update helm release factorio-server-charts to 1.2.4
  cluster/apps/factorio/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 9.1.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix tests
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

allow k8s patches
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(deps): update kubernetes/kubernetes to v1.27.4
  .github/workflows/diff-yaml-on-pr.yaml
  provision/talos/talconfig.yaml
Labels: area/github

fix(deps): update siderolabs/kubelet to v1.27.4
  .taskfiles/talos.yml
Labels: none

group kubernetes release
  .github/renovate/groups.json5
Labels: area/github

fix(deps): update kubernetes group to v1.27.4
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix k8s approver manifest
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

replace traefik CRD to new one
  .github/workflows/diff-yaml-on-pr.yaml
  archive/cluster/traefik-forward-auth/templates/ingressroute.yaml
  archive/cluster/traefik-forward-auth/templates/middlewares.yaml
  cluster/core/argocd/resources/ingress.yaml
  cluster/system/dashboard/resources/dashboard.yaml
  cluster/system/oauth2-proxy/templates/forward-auth-middleware.yaml
  cluster/system/prometheus-stack/templates/ingress.yaml
  cluster/system/traefik/templates/dashboard.yaml
Labels: area/github, area/cluster

remove custom cert
  cluster/core/argocd/kustomization.yaml
  cluster/core/argocd/resources/cert.yaml
  cluster/core/argocd/resources/ingress.yaml
Labels: area/cluster

add db for home assistant
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/home-assistant/templates/cnpg.yaml
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(ansible-collection): update community.general to 7.2.1
  provision/ansible/requirements.yml
Labels: area/ansible

fix(helm-chart): update helm release factorio-server-charts to 1.2.5
  cluster/apps/factorio/Chart.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.7.10
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

Update renovate.json5
  .github/renovate.json5
Labels: area/github

fix(helm-chart): update helm release kube-prometheus-stack to 48.2.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add ha configuration
  cluster/home-automation/home-assistant/secret.sec.yaml
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v1.9.0
  .taskfiles/talos.yml
Labels: none

fix(helm-chart): update rook-ceph-suite group to v1.12.1
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

add deployment of ha
  cluster/home-automation/home-assistant/templates/pvc.yaml
  cluster/home-automation/home-assistant/templates/secrets.yaml
  cluster/home-automation/home-assistant/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

update secrets
  cluster/home-automation/home-assistant/templates/secrets.yaml
Labels: area/cluster

update selfheal
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

add wave for a pgsql cluser
  cluster/home-automation/home-assistant/templates/cnpg.yaml
Labels: area/cluster

Add Home assistant (#540)
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/home-assistant/secret.sec.yaml
  cluster/home-automation/home-assistant/templates/cnpg.yaml
  cluster/home-automation/home-assistant/templates/pvc.yaml
  cluster/home-automation/home-assistant/templates/secrets.yaml
  cluster/home-automation/home-assistant/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix ha secret
  cluster/home-automation/home-assistant/templates/secrets.yaml
Labels: area/cluster

add plugin
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix secret url
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix verne host
  cluster/home-automation/home-assistant/templates/secrets.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.8.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release metrics-server to 3.11.0
  cluster/system/metrics-server/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.2
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to fdb79b6
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 48.3.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.3
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release kube-prometheus-stack to 48.3.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.8.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to ce18b47
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.88 docker digest to 50abeaf
  cluster/apps/factorio/values.yaml
Labels: area/cluster
