Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

chore(docker-image): update factoriotools/factorio:1.1.94 docker digest to ed463c7
  cluster/apps/factorio/values.yaml
Labels: area/cluster

disable default selfheal
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/home-automation/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

merged with controller
  cluster/projects/system/values.yaml
Labels: area/cluster

a
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

gitea perms (#800)
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

revert security context
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix ssh
  cluster/apps/gitea/values.yaml
Labels: area/cluster

change ssh port
  cluster/apps/gitea/values.yaml
Labels: area/cluster

disable ssh
  cluster/apps/gitea/templates/deploy.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

comment
  cluster/apps/gitea/values.yaml
Labels: area/cluster

ignore diffs
  cluster/projects/system/values.yaml
Labels: area/cluster

ignore ca
  cluster/projects/system/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.8
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.10.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.8.6
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.18.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(docker-image): update nginx:1.25.3 docker digest to 35e1635
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 45c1e26
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 775b948
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 86e53c4
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix kube config reference
  Taskfile.yml
Labels: none

fix values for snapshot-controller
  cluster/projects/system/values.yaml
  cluster/system/snapshot-controller/values.yaml
  cluster/system/snapshot-validation-webhook/Chart.yaml
  cluster/system/snapshot-validation-webhook/values.yaml
Labels: area/cluster

use rook ingress
  cluster/core/rook-ceph/rook-ceph-cluster/templates/cert.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/templates/ingress.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 589ff4a
  .devcontainer/Dockerfile
Labels: none

fix(helm-chart): update helm release cloudnative-pg to 0.19.1
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to e7470c1
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(deps): update argoproj/argo-cd to v2.9.0
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(deps): update pre-commit hook ansible/ansible-lint to v6.22.0
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update factoriotools/factorio:1.1.94 docker digest to 5f13847
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.95
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook gruntwork-io/pre-commit to v0.1.23
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release oauth2-proxy to 6.18.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.95 docker digest to 4294ecb
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.96
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update talos group to v1.5.5
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release app-template to 2.2.0
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
