Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(ansible-collection): update community.general to 7.5.1
  provision/ansible/requirements.yml
Labels: area/ansible

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to be1f747
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 54.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.19.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release volsync to 0.8.0
  cluster/system/volsync/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.9
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

feat(ansible-collection)!: Update community.general to 8.0.2
  provision/ansible/requirements.yml
Labels: area/ansible

fix(helm-chart): update helm release snapshot-controller to 2.0.1
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

vix missing config
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

rename value
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

remove collections
  .pre-commit-config.yaml
Labels: none

rc
  .pre-commit-config.yaml
Labels: none

exclude github in ansible
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Labels: area/github

change folder
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Labels: area/github

change dir
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Labels: area/github

fix args
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update factoriotools/factorio:1.1.96 docker digest to d0c2309
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.97
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(docker-image): update gitea/gitea docker tag to v1.21.0
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.9.1
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.19.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to a3872c6
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

add cleaner job
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
  cluster/system/talos-backup/templates/cronjob.yaml
Labels: area/cluster

add sec context
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): pin ghcr.io/mmalyska/s3-bucket-cleaner docker tag to b9d1ff2
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

remove sec context
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 3fece8d
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner:2.13.35 docker digest to eba996e
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

spcify timeframe
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner:2.13.35 docker digest to 4132a86
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v1.15.0
  .devcontainer/Dockerfile
Labels: none

fix(deps): update siderolabs/kubelet to v1.28.4
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.13.36
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

add limits
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.12.8
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 9.6.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 6.19.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 2.0.2
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.18.1
  .pre-commit-config.yaml
Labels: none

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.19.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
