Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 5845512
  .devcontainer/Dockerfile
Labels: none

update digest of jellyfin
  cluster/apps/jellyfin/Chart.yaml
  cluster/apps/jellyfin/templates/_helpers.tpl
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

test tf token
  .devcontainer/devcontainer.json
  .devcontainer/scripts/postCreateCommand.sh
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
  .taskfiles/terraform.yml
Labels: none

clean up
  .envrc
Labels: none

fix(helm-chart): update helm release external-secrets to 0.9.1
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 47.4.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 4d8ae5b
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-validation-webhook to 1.7.3
  cluster/system/snapshot-validation-webhook/Chart.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/joshuaavalon/cloudflare-ddns docker tag to v3.2.0
  cluster/system/dyndns/resources/deployment.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.15.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

add pages
  .github/mkdocs/mkdocs.yml
  .github/mkdocs/requirements.txt
  .github/workflows/publish-pages.yaml
  docs/_includes/abbreviations.md
  docs/_static/custom.css
  docs/index.md
Labels: area/github

fix mkdocs config file
  .github/workflows/publish-pages.yaml
Labels: area/github

fix paaaaath
  .github/workflows/publish-pages.yaml
Labels: area/github

move main docs file
  docs/src/index.md
Labels: none

fix install of requirements
  .github/workflows/publish-pages.yaml
Labels: area/github

fix site dir
  .github/workflows/publish-pages.yaml
  docs/src/index.md
Labels: area/github

fix argo logo
  docs/src/index.md
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 47.5.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action)!: Update actions/upload-pages-artifact action to v2
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(helm-chart): update helm release kube-prometheus-stack to 47.6.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 6.15.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

sample nav
  .github/mkdocs/mkdocs.yml
Labels: area/github

feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v22
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.7.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.10.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

initial broker chart
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 48.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 6.15.2
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

upgrade mkdocs and add to container
  .devcontainer/Dockerfile
  .github/mkdocs/mkdocs.yml
  .github/mkdocs/requirements.txt
  .github/workflows/publish-pages.yaml
  .taskfiles/mkdocs.yml
  Taskfile.yml
  docs/_static/custom.css
  docs/src/general/network.md
  docs/src/images/network.drawio
  docs/src/index.md
  docs/src/stylesheets/custom.css
Labels: area/github

fix(helm-chart): update helm release kube-prometheus-stack to 48.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add hardware page
  .github/mkdocs/mkdocs.yml
  docs/src/general/hardware.md
  docs/src/general/network.md
  docs/src/images/rack_0.jpg
Labels: area/github

feat(deps): update budimanjojo/talhelper to v1.8.0
  .taskfiles/talos.yml
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 48.1.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.87 docker digest to 7d24be0
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kubelet-csr-approver to 1.0.2
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.87 docker digest to 55b176a
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 48.1.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.16.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 114851f
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(docker-image): update gitea/gitea docker tag to v1.20.0
  cluster/apps/gitea/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
