Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

chore(docker-image): pin gitea/gitea docker tag to 4a5628c
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.7.2
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

add mqtt broker
  .devcontainer/Dockerfile
  Taskfile.yml
  cluster/home-automation/mosquitto/templates/external-secret.yaml
  cluster/home-automation/mosquitto/templates/mosquitto-configmap.yaml
  cluster/projects/home-automation/Chart.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/kustomization.yaml
Labels: area/cluster

MQTT broker (#481)
  .devcontainer/Dockerfile
  Taskfile.yml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/home-automation/mosquitto/templates/external-secret.yaml
  cluster/home-automation/mosquitto/templates/mosquitto-configmap.yaml
  cluster/home-automation/mosquitto/values.yaml
  cluster/projects/home-automation/Chart.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/kustomization.yaml
Labels: area/cluster

add home-automation project to argocd
  cluster/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/core/argocd/projects/home-automation/home-automation.yaml
  cluster/core/argocd/projects/home-automation/kustomization.yaml
Labels: area/cluster

remove sops
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix volsyn class
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

fix cache vloume
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

fix secret templating
  cluster/home-automation/mosquitto/templates/external-secret.yaml
Labels: area/cluster

fix qoutes
  cluster/home-automation/mosquitto/templates/external-secret.yaml
Labels: area/cluster

fix cm
  cluster/home-automation/mosquitto/templates/mosquitto-configmap.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.7.9
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

Update pvc-extra.yaml
  cluster/apps/jellyfin/templates/pvc-extra.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.2.0
  .github/workflows/lint.yaml
Labels: area/github

randomize backup crons
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  cluster/apps/factorio/templates/volsync.yaml
  cluster/apps/firefly/values.yaml
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
  cluster/apps/grocy/templates/volsync.yaml
  cluster/apps/jellyfin/templates/volsync.yaml
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
  cluster/apps/minecraft/bedrock/values.yaml
  cluster/apps/valheim/templates/volsync.yaml
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

add pull.rebase
  .devcontainer/scripts/onCreateCommand.sh
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.11.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(deps): update cert-manager/cert-manager to v1.12.3
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.7.3
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(deps): update siderolabs/talos to v1.4.7
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

ci(github-action): update oxsecurity/megalinter action to v7.2.1
  .github/workflows/lint.yaml
Labels: area/github

feat(docker-image): update ghcr.io/joshuaavalon/cloudflare-ddns docker tag to v3.3.0
  cluster/system/dyndns/resources/deployment.yaml
Labels: area/cluster

add secrets for local dev container
  .devcontainer/devcontainer.env.example
  .devcontainer/devcontainer.json
  .gitignore
  .taskfiles/terraform.yml
Labels: none

add vernemq
  cluster/home-automation/vernemq/Chart.yaml
  cluster/home-automation/vernemq/templates/external-secret.yaml
  cluster/home-automation/vernemq/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix data
  cluster/home-automation/vernemq/templates/external-secret.yaml
Labels: area/cluster

fix quotes in names
  cluster/home-automation/vernemq/templates/external-secret.yaml
Labels: area/cluster

change secret generation to template
  cluster/home-automation/vernemq/templates/external-secret.yaml
Labels: area/cluster

feat(helm-chart): update helm release traefik to 23.2.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

add two
  cluster/home-automation/vernemq/templates/external-secret.yaml
Labels: area/cluster

add template
  cluster/home-automation/vernemq/templates/external-secret.yaml
Labels: area/cluster

fix name
  cluster/home-automation/vernemq/templates/external-secret.yaml
Labels: area/cluster

accept eula
  cluster/home-automation/vernemq/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 48.2.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.18.2
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.1 docker digest to 69267c1
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.1 docker digest to e67bce6
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.1 docker digest to e361ebd
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.1 docker digest to 67f9a4f
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.20.2
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to abb4f24
  cluster/apps/calibre/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
