Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

docs(todo): the cluster, time and Talos API access documents are applied
  .plans/TODO.md
Labels: none

docs(todo): the cluster, time and Talos API access documents are applied (#5530)
  .plans/TODO.md
Labels: none

feat(talos): add a weekly filesystem trim for the NVMe system disks
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/55-filesystem-trim.yaml
  provision/talos/tests/test_render.sh
Labels: none

feat(talos): add a weekly filesystem trim for the NVMe system disks (#5531)
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/55-filesystem-trim.yaml
  provision/talos/tests/test_render.sh
Labels: none

docs(todo): the filesystem trim is applied
  .plans/TODO.md
Labels: none

docs(todo): the filesystem trim is applied (#5532)
  .plans/TODO.md
Labels: none

chore(talos): drop nv1's containerd.toml overwrite, the generated config enables CDI
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/README.md
  provision/talos/patches/node/nv1/50-containerd-config.yaml
  provision/talos/tests/test_render.sh
Labels: none

chore(talos): drop nv1's containerd.toml overwrite, the generated config enables CDI (#5537)
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/README.md
  provision/talos/patches/node/nv1/50-containerd-config.yaml
  provision/talos/tests/test_render.sh
Labels: none

docs(todo): record the secure /var mount research and the documents other homelabs use
  .plans/TODO.md
Labels: none

feat(talos): declare the EPHEMERAL volume mount options (secure false)
  docs/src/talos/config-map.md
  provision/talos/patches/all/35-ephemeral-volume.yaml
  provision/talos/tests/test_render.sh
Labels: none

feat(talos): declare the EPHEMERAL volume mount options (secure false) (#5539)
  docs/src/talos/config-map.md
  provision/talos/patches/all/35-ephemeral-volume.yaml
  provision/talos/tests/test_render.sh
Labels: none

docs(todo): record the secure /var mount research and the documents other homelabs use (#5538)
  .plans/TODO.md
Labels: none

docs(todo): the EPHEMERAL volume config is declared as secure false
  .plans/TODO.md
Labels: none

docs(todo): the EPHEMERAL volume config is declared as secure false (#5540)
  .plans/TODO.md
Labels: none

feat(talos): arm the hardware watchdog with a 4 minute timeout
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/45-watchdog.yaml
  provision/talos/tests/test_render.sh
Labels: none

feat(talos): arm the hardware watchdog with a 4 minute timeout (#5541)
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/45-watchdog.yaml
  provision/talos/tests/test_render.sh
Labels: none

docs(todo): the watchdog is applied, mc nodes unverified
  .plans/TODO.md
Labels: none

docs(todo): the watchdog is applied, mc nodes unverified (#5542)
  .plans/TODO.md
Labels: none

chore(talos): pilot the filesystem scrub on mc3 and nv1 with an hourly interval
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/node/mc3/60-filesystem-scrub.yaml
  provision/talos/patches/node/nv1/60-filesystem-scrub.yaml
  provision/talos/tests/test_render.sh
Labels: none

chore(talos): pilot the filesystem scrub on mc3 and nv1 with an hourly interval (#5543)
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/node/mc3/60-filesystem-scrub.yaml
  provision/talos/patches/node/nv1/60-filesystem-scrub.yaml
  provision/talos/tests/test_render.sh
Labels: none

feat(talos): scrub the filesystems weekly on every node, record the disk wear and smartctl todos
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/60-filesystem-scrub.yaml
  provision/talos/patches/node/mc3/60-filesystem-scrub.yaml
  provision/talos/patches/node/nv1/60-filesystem-scrub.yaml
  provision/talos/tests/test_render.sh
Labels: none

feat(talos): scrub the filesystems weekly on every node, record the disk wear and smartctl todos (#5544)
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/60-filesystem-scrub.yaml
  provision/talos/patches/node/mc3/60-filesystem-scrub.yaml
  provision/talos/patches/node/nv1/60-filesystem-scrub.yaml
  provision/talos/tests/test_render.sh
Labels: none

docs(todo): the weekly filesystem scrub is applied on all nodes
  .plans/TODO.md
Labels: none

docs(todo): the weekly filesystem scrub is applied on all nodes (#5545)
  .plans/TODO.md
Labels: none

fix(smartmon-exporter): scrape every 2m so instant queries and alerts see all nodes, fix the SATA wear alert label
  .claude/skills/node-disk-health/SKILL.md
  .plans/TODO.md
  cluster/apps/system/prometheus-stack/templates/prometheusrule-smart.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
Labels: area/cluster

fix(smartmon-exporter): scrape every 2m so instant queries and alerts see all nodes, fix the SATA wear alert label (#5553)
  .claude/skills/node-disk-health/SKILL.md
  .plans/TODO.md
  cluster/apps/system/prometheus-stack/templates/prometheusrule-smart.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
Labels: area/cluster

docs(todo): decided not to enable secure mounts on the EPHEMERAL volume
  .plans/TODO.md
Labels: none

docs(todo): decided not to enable secure mounts on the EPHEMERAL volume (#5554)
  .plans/TODO.md
Labels: none

docs(todo): the upstream patch-merge bug is reported (siderolabs/talos#14584), record the wider scope and cause
  .plans/TODO.md
Labels: none

docs(todo): the upstream patch-merge bug is reported (siderolabs/talos#14584), record the wider scope and cause (#5559)
  .plans/TODO.md
Labels: none

docs(talos): record the unattended reinstall test (installs to the matched disk)
  .plans/TODO.md
  provision/talos/README.md
Labels: none

docs(talos): record the unattended reinstall test (installs to the matched disk) (#5560)
  .plans/TODO.md
  provision/talos/README.md
Labels: none

docs(talos): add the node taint change procedure (NodeRestriction), close the taint investigation
  .claude/skills/talos-node-taints/SKILL.md
  .plans/TODO.md
  provision/talos/README.md
Labels: none

docs(memory): taint note is workers-only and official, point to the talos-node-taints skill
  .claude/memory/MEMORY.md
  .claude/memory/reference_talos_taint_noderestriction.md
Labels: none

docs(claude): memory lives in .claude/memory and is committed with the branch
  CLAUDE.md
Labels: none

docs(talos): add the node taint change procedure (NodeRestriction), close the taint investigation (#5561)
  .claude/memory/MEMORY.md
  .claude/memory/reference_talos_taint_noderestriction.md
  .claude/skills/talos-node-taints/SKILL.md
  .plans/TODO.md
  CLAUDE.md
  provision/talos/README.md
Labels: none

chore(talos): close the layout review leftovers (docs, nav, diff preconditions and errors, version parsing, test assertions)
  .claude/skills/talos-config-editing/SKILL.md
  .github/mkdocs/mkdocs.yml
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  provision/talos/README.md
  provision/talos/scripts/check-patches.sh
  provision/talos/scripts/diff-live.sh
  provision/talos/scripts/explain.sh
  provision/talos/scripts/lib.sh
  provision/talos/tests/test_check_patches.sh
  provision/talos/tests/test_diff_live.sh
  provision/talos/tests/test_explain.sh
  provision/talos/tests/test_lib.sh
Labels: area/github

chore(talos): close the layout review leftovers (docs, nav, diff preconditions and errors, version parsing, test assertions) (#5562)
  .claude/skills/talos-config-editing/SKILL.md
  .github/mkdocs/mkdocs.yml
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  provision/talos/README.md
  provision/talos/scripts/check-patches.sh
  provision/talos/scripts/diff-live.sh
  provision/talos/scripts/explain.sh
  provision/talos/scripts/lib.sh
  provision/talos/tests/test_check_patches.sh
  provision/talos/tests/test_diff_live.sh
  provision/talos/tests/test_explain.sh
  provision/talos/tests/test_lib.sh
Labels: area/github

docs(todo): SecurityProfileConfig workload isolation research, memory note
  .claude/memory/MEMORY.md
  .claude/memory/reference_talos_workload_isolation.md
  .plans/TODO.md
Labels: none

docs(todo): SecurityProfileConfig live check results, revised test order (nv1 is on v1.14.0)
  .plans/TODO.md
Labels: none
