Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(deps): update sigstore/cosign to v2.2.4
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to f3274e1
  .devcontainer/devcontainer.json
Labels: none

add updated maniek model
  cluster/home-automation/openwakeword/Readme.md
  cluster/home-automation/openwakeword/hej_maniek.json
  cluster/home-automation/openwakeword/hej_maniek.tflite
Labels: area/cluster

update model link
  cluster/home-automation/openwakeword/hej_maniek.json
Labels: area/cluster

ci(github-action): update actions/checkout digest to 1d96c77
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(ansible-collection): update community.general to 8.6.0
  provision/ansible/requirements.yml
Labels: area/ansible

change voice to english
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/home-automation/piper/values.yaml
Labels: area/cluster

add new model
  cluster/home-automation/openwakeword/Readme.md
  cluster/home-automation/openwakeword/hey_jenny.tflite
Labels: area/cluster

update resource request voice pipeline
  cluster/home-automation/openwakeword/values.yaml
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 3d1098e
  .devcontainer/devcontainer.json
Labels: none

ci(github-action): update oxsecurity/megalinter action to v7.11.0
  .github/workflows/lint.yaml
Labels: area/github

fix workflow
  .github/renovate/autoMerge.json5
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 153babf
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 109bc4b
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update metallb/metallb to v0.14.5
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.29.4
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.40
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.23.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.11
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v24.0.3
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.16
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 10.1.4
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 58.1.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.2
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 58.2.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.4.1
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.11.1
  .github/workflows/lint.yaml
Labels: area/github

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.4.4
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 58.2.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.14.5
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to 0ad4b8f
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(deps): update argoproj/argo-cd to v2.10.8
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.42
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release cloudnative-pg to 0.21.1
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 33ddda9
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release vernemq to 2.0.0
  cluster/home-automation/vernemq/Chart.yaml
Labels: area/cluster

feat(deps): update talos group
  .github/.devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

feat(helm-chart)!: Update Helm release traefik to 28.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
