Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

chore: fixes for talos 1.10
  .taskfiles/talos/Taskfile.yaml
  provision/talos/talconfig.yaml
Labels: none

update to ignore empty labels
  cluster/projects/core/values.yaml
Labels: area/cluster

add server apply for app of apps pattern
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/games/app-of-apps.yaml
  cluster/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
Labels: area/cluster

enable oauth 2
  cluster/projects/system/values.yaml
Labels: area/cluster

enable gitea restore
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

chore migrate to pgsql chart
  cluster/apps/gitea/Chart.yaml
  cluster/apps/gitea/templates/cnpg.yaml
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

enable bootstrap
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore migrate to pgsql chart (#2725)
  cluster/apps/gitea/Chart.yaml
  cluster/apps/gitea/templates/cnpg.yaml
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

gitea enable backup
  cluster/apps/gitea/values.yaml
Labels: area/cluster

update image registry
  cluster/apps/gitea/values.yaml
Labels: area/cluster

update secretstore manifest v
  .archive/cluster/apps/calibre/Chart.yaml
  .archive/cluster/apps/calibre/secret.sec.yaml
  .archive/cluster/apps/calibre/templates/cert.yaml
  .archive/cluster/apps/calibre/templates/common.yaml
  .archive/cluster/apps/calibre/templates/nfs-ebooks.yaml
  .archive/cluster/apps/calibre/templates/secret.yaml
  .archive/cluster/apps/calibre/templates/volsync.yaml
  .archive/cluster/apps/calibre/values.yaml
  .archive/cluster/apps/factorio/templates/volsync.yaml
  .archive/cluster/apps/valheim/templates/volsync.yaml
  .archive/cluster/home-automation/mosquitto/templates/external-secret.yaml
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/grocy/templates/volsync.yaml
  cluster/apps/jellyfin/templates/volsync.yaml
  cluster/games/minecraft/bedrock/templates/volsync.yaml
  cluster/games/vintagestory/templates/volsync.yaml
  cluster/home-automation/home-assistant/templates/secrets.yaml
  cluster/home-automation/vernemq/templates/external-secret.yaml
  cluster/system/cloudflared/templates/externalsecret.yaml
  cluster/system/external-secrets/templates/secretstore.yaml
  cluster/system/talos-backup/templates/secrets.yaml
Labels: area/cluster

move env vars to devcontainervars
  .devcontainer/devcontainer.env.sample
  .devcontainer/devcontainer.json
Labels: none

gitea separate tag and digest
  cluster/apps/gitea/values.yaml
Labels: area/cluster

add vin pvc config
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

add pvc name
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

add qnam metrics exporter
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

Update lint.yaml
  .github/workflows/lint.yaml
Labels: area/github

migrate records
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

remove records
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

migrate records (#2903)
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix uptime
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

remove resources
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

remove resources (#2904)
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

migrate zone
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

remove duplicate
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

add zone info to tf
  .taskfiles/terraform.yml
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

fix zone ref
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

fix dns records
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix zone in records
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

fix account settings
  provision/terraform/cloudflare/account.tf
Labels: area/terraform

migrate list to list_item
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

change ips to local
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

make a array from list of strings
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

fix zone reference
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix firewall rules
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

fix tunel config
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix ingress hostname
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add cloudflared new data token
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix split value
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
