Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

update docs
  .claude/memory/MEMORY.md
  .claude/memory/reference_l4t_packages.md
  .claude/memory/reference_plans_todos.md
  cluster/.tools/nvgpu-build-test.yaml
  docs/src/k8s/archive/jetson-gpu.md
  docs/src/k8s/archive/nvmap-build-plan.md
  docs/src/k8s/jetson-cuda-extension.md
  docs/src/k8s/nvgpu-upgrade-guide.md
Labels: area/cluster

fix(ollama): update OLLAMA_CONTEXT_LENGTH value from 16384 to 8192
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

fix(ollama): update model provider to "anthropic" and set default model to "claude-sonnet-4-6" fix(ollama): revert OLLAMA_CONTEXT_LENGTH value to 16384
  cluster/apps/default/hermes-agent/templates/configmap.yaml
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

fix(deployment): update config-seeder to use Python for merging YAML configurations and creating gateway state JSON
  cluster/apps/default/hermes-agent/app-config.yaml
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

docs: add Discord integration design spec for hermes-agent
  docs/superpowers/specs/2026-05-26-hermes-agent-discord-design.md
Labels: none

docs: add Discord integration implementation plan for hermes-agent
  .plans/list.md
  docs/superpowers/plans/2026-05-26-hermes-agent-discord.md
Labels: none

feat(hermes-agent): add Discord secrets to ExternalSecret
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
Labels: area/cluster

feat(hermes-agent): inject Discord env vars into hermes-agent container
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

feat(hermes-agent): add Discord integration (#3967)
  .plans/list.md
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
  docs/superpowers/plans/2026-05-26-hermes-agent-discord.md
  docs/superpowers/specs/2026-05-26-hermes-agent-discord-design.md
Labels: area/cluster

feat(hermes-agent): drive secrets, config, and PVC backups from values
  cluster/apps/default/hermes-agent/templates/configmap.yaml
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
  cluster/apps/default/hermes-agent/templates/volsync.yaml
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

docs: add hermes-agent chart redesign implementation plan
  docs/superpowers/plans/2026-05-27-hermes-agent-chart-redesign.md
Labels: none

feat(hermes-agent): add Discord integration and refactor chart config (#3976)
  cluster/apps/default/hermes-agent/templates/configmap.yaml
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
  cluster/apps/default/hermes-agent/templates/volsync.yaml
  cluster/apps/default/hermes-agent/values.yaml
  docs/superpowers/plans/2026-05-27-hermes-agent-chart-redesign.md
Labels: area/cluster

fix helm lint
  .github/workflows/lint.yaml
Labels: area/github

fix(hermes-agent): update model provider and enhance configuration options
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes-agent): enhance model configurations and add new auxiliary models
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

fix(hermes-agent): update timezone to Europe/Warsaw in values.yaml
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

fix(hermes-agent): update GITHUB_PERSONAL_ACCESS_TOKEN reference to use GITHUB_TOKEN
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

fix(hermes-agent): remove gateway state JSON file creation from config seeder
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

Disable GitHub mcp_servers configuration
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

Add HERMES_DASHBOARD_TUI environment variable
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

Change HERMES_DASHBOARD_TUI value to 1
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

fix(deployment): change HERMES_DASHBOARD_TUI value to string
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

feat(deployment): add nginx configuration and update environment variables
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/nginx-configmap.yaml
Labels: area/cluster

docs(hermes-agent): add README documenting profile configuration and architecture
  cluster/apps/default/hermes-agent/README.md
Labels: area/cluster

docs(hermes-agent): add README documenting profile configuration and architecture (#3994)
  cluster/apps/default/hermes-agent/README.md
Labels: area/cluster

feat(honcho): add self-hosted Honcho server with CNPG/pgvector and OpenRouter
  cluster/apps/default/honcho/Chart.yaml
  cluster/apps/default/honcho/app-config.yaml
  cluster/apps/default/honcho/templates/_helpers.tpl
  cluster/apps/default/honcho/templates/deployment-api.yaml
  cluster/apps/default/honcho/templates/deployment-deriver.yaml
  cluster/apps/default/honcho/templates/externalsecret.yaml
  cluster/apps/default/honcho/templates/service.yaml
  cluster/apps/default/honcho/values.yaml
Labels: area/cluster

feat(hermes-agent): wire Honcho as memory provider with deep-merge seeder
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/honcho-configmap.yaml
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

chore: add honcho-integration plan
  .plans/honcho-integration/plan.md
  .plans/honcho-integration/tasks.md
  .plans/list.md
Labels: none

fix(honcho): fix broken OpenRouter model IDs and route embeddings via Ollama
  cluster/apps/default/honcho/templates/_helpers.tpl
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

fix(honcho): switch to free-tier models with paid fallbacks
  cluster/apps/default/honcho/templates/_helpers.tpl
Labels: area/cluster

docs(honcho): add README documenting architecture, LLM strategy, secrets and ops
  cluster/apps/default/honcho/README.md
Labels: area/cluster

docs(hermes-agent): document Honcho memory integration
  cluster/apps/default/hermes-agent/README.md
Labels: area/cluster

feat(hermes-agent): switch primary to deepseek-v4-flash:free with v4-pro fallback
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes-agent): keep v4-pro primary, add v4-flash as cheaper first fallback
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

feat(honcho): add self-hosted Honcho memory server and wire hermes-agent (#3995)
  .plans/honcho-integration/plan.md
  .plans/honcho-integration/tasks.md
  .plans/list.md
  cluster/apps/default/hermes-agent/README.md
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/honcho-configmap.yaml
  cluster/apps/default/hermes-agent/values.yaml
  cluster/apps/default/honcho/Chart.yaml
  cluster/apps/default/honcho/README.md
  cluster/apps/default/honcho/app-config.yaml
  cluster/apps/default/honcho/templates/_helpers.tpl
  cluster/apps/default/honcho/templates/deployment-api.yaml
  cluster/apps/default/honcho/templates/deployment-deriver.yaml
  cluster/apps/default/honcho/templates/externalsecret.yaml
  cluster/apps/default/honcho/templates/service.yaml
  cluster/apps/default/honcho/values.yaml
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

fix(hermes-agent): seed honcho.json to all profile directories
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

fix(hermes-agent): seed honcho.json to all worker profile directories (#3997)
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

fix(hermes-agent): install honcho-ai and create symlink in init container
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

fix(hermes-agent): fix typo in honcho_config_dir variable
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

fix(hermes-agent): move pip install to main container, not init
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
