Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(deps): update argoproj/argo-cd to v2.8.4
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 51.0.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.12.4
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release botkube to v1.4.1
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix on create missing $HOME
  .devcontainer/scripts/onCreateCommand.sh
Labels: none

change for custom talos image
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(deps): update siderolabs/kubelet to v1.27.6
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

feat(deps): update mmalyska/talos-images to v1.5.2
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

add changes for new custom talos installer
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix variable
  .devcontainer/scripts/updateContentCommand.sh
Labels: none

fix installer in config
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

feat(deps): update budimanjojo/talhelper to v1.12.0
  .devcontainer/Dockerfile
Labels: none

feat(deps): update mmalyska/talos-images to v1.5.2
  .devcontainer/Dockerfile
Labels: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 5f8495f
  cluster/apps/calibre/values.yaml
Labels: area/cluster

gitea regex mngr
  .github/renovate.json5
  .github/renovate/regexmanager.json5
  cluster/apps/gitea/values.yaml
Labels: area/github, area/cluster

fix digest
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix filematch regex
  .github/renovate/regexmanager.json5
Labels: area/github

fix replace new value digest
  .github/renovate/regexmanager.json5
Labels: area/github

pin digest
  .github/renovate/regexmanager.json5
  cluster/apps/gitea/values.yaml
Labels: area/github, area/cluster

fix digest
  .github/renovate/regexmanager.json5
  cluster/apps/gitea/values.yaml
Labels: area/github, area/cluster

fix { in template
  .github/renovate/regexmanager.json5
Labels: area/github

scape new line
  .github/renovate/regexmanager.json5
Labels: area/github

disable default gitea manager
  .github/renovate/disabledDatasources.json5
  .github/renovate/regexmanager.json5
Labels: area/github

change manager rules
  .github/renovate/disabledDatasources.json5
Labels: area/github

check release
  .github/renovate/disabledDatasources.json5
Labels: area/github

fix rgx mngr
  .github/renovate/regexmanager.json5
Labels: area/github

fix or
  .github/renovate/regexmanager.json5
Labels: area/github

escape new line
  .github/renovate/regexmanager.json5
Labels: area/github

feat(helm-chart): update helm release snapshot-controller to 1.9.1
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release snapshot-validation-webhook to 1.8.1
  cluster/system/snapshot-validation-webhook/Chart.yaml
Labels: area/cluster

fix template
  .github/renovate/regexmanager.json5
Labels: area/github

fix(docker-image): update gitea/gitea docker tag to v1.20.4
  cluster/apps/gitea/values.yaml
Labels: area/cluster

enable helm-values manager
  .github/renovate/disabledDatasources.json5
Labels: area/github

fix(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.18
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

rollback version
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.20.4
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kubelet-csr-approver to 1.0.5
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster
