Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat(helm-chart): update helm release botkube to v1.1.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 47.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 7.1.0
  provision/ansible/requirements.yml
Labels: area/ansible

fix(deps): update argoproj/argo-cd to v2.7.6
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release intel-device-plugins-gpu to 0.27.1
  cluster/system/intel-gpu-plugin/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release intel-device-plugins-operator to 0.27.1
  cluster/system/intel-device-plugins-operator/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform http to 3.4.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

add talos task for config restart
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

add tunnel
  provision/terraform/cloudflare/doppler_secrets.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add tunnel token to doppler
  provision/terraform/cloudflare/doppler_secrets.tf
  provision/terraform/cloudflare/providers.tf
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/variables.tf
Labels: area/terraform

fix(deps): update pre-commit hook ansible/ansible-lint to v6.17.2
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update helm release external-secrets to 0.9.0
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

make tunel mngmnt in CF
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add new app
  cluster/projects/system/values.yaml
  cluster/system/cloudflared/Chart.yaml
  cluster/system/cloudflared/templates/externalsecret.yaml
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

add rules to tunnel
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

clean up domains
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

disable tls
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

create main cert for traefik
  cluster/system/traefik/templates/cert.yaml
  cluster/system/traefik/templates/dashboard.yaml
  cluster/system/traefik/values.yaml
  provision/terraform/cloudflare/tunel.tf
Labels: area/cluster, area/terraform

remove internal traefik
  cluster/apps/gethomepage/values.yaml
  cluster/core/argocd/resources/ingress-internal.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/templates/ingress.yaml
  cluster/projects/system/values.yaml
  cluster/system/dashboard/resources/dashboard.yaml
  cluster/system/identity/keycloak/templates/ingress-internal.yaml
  cluster/system/identity/keycloak/values.yaml
  cluster/system/prometheus-stack/templates/ingress.yaml
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik-internal/secret.sec.yaml
  cluster/system/traefik-internal/templates/cert.yaml
  cluster/system/traefik-internal/templates/dashboard.yaml
  cluster/system/traefik-internal/values.yaml
Labels: area/cluster

remove internal ingress argo
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

disable default cert store
  cluster/system/traefik/values.yaml
Labels: area/cluster

enable default cert
  cluster/system/traefik/values.yaml
Labels: area/cluster

remove tls from hass
  cluster/apps/hass/templates/cert.yaml
  cluster/apps/hass/templates/ingress.yaml
Labels: area/cluster

deploy test
  cluster/apps/httpbin/Chart.yaml
  cluster/apps/httpbin/templates/deploy.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

update tunnel
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

remove domains
  cluster/system/dyndns/resources/secret.yaml
  cluster/system/dyndns/secret.sec.yaml
Labels: area/cluster

test tunnel
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

revert test
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

chore(docker-image): pin kennethreitz/httpbin docker tag to 599fe5e
  cluster/apps/httpbin/templates/deploy.yaml
Labels: area/cluster

remove orygin
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

remove test ingress rule
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

remov oryg
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

revert origin
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add not ls verify
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add root domain
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

addloglevel
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix flag
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix loglevel
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

tt
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

tt
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform
