Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(prometheus-stack): run Grafana datasources sidecar as native init sidecar (#4710)
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(prometheus-stack): add startupProbe to Grafana datasources init sidecar
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(prometheus-stack): add startupProbe to Grafana datasources init sidecar (#4711)
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(alloy): tolerate nv1's NoSchedule taint on the k8s-logs DaemonSet
  cluster/apps/system/alloy/k8s-logs/values.yaml
Labels: area/cluster

fix(alloy): tolerate nv1's NoSchedule taint on the k8s-logs DaemonSet (#4712)
  cluster/apps/system/alloy/k8s-logs/values.yaml
Labels: area/cluster

fix(loki): raise max_line_size to stop dropping rook-ceph-mgr logs
  cluster/apps/system/loki/values.yaml
Labels: area/cluster

fix(loki): raise max_line_size to stop dropping rook-ceph-mgr logs (#4713)
  cluster/apps/system/loki/values.yaml
Labels: area/cluster

feat(skills): add loki-log-queries skill, wire into cluster-audit
  .claude/skills/cluster-audit/SKILL.md
  .claude/skills/loki-log-queries/SKILL.md
Labels: none

feat(skills): add loki-log-queries skill, wire into cluster-audit (#4714)
  .claude/skills/cluster-audit/SKILL.md
  .claude/skills/loki-log-queries/SKILL.md
Labels: none

fix(nextcloud): grant cnpg_metrics_exporter CONNECT on app database
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(nextcloud): grant cnpg_metrics_exporter CONNECT on app database (#4715)
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(rook-ceph): reduce SSD wear via compression and async discard
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

chore(skills): add Ceph HEALTH_WARN drill-down and prom svc-name xref
  .claude/skills/cluster-audit/SKILL.md
  .claude/skills/prometheus-historical-queries/SKILL.md
Labels: none

fix(rook-ceph): reduce SSD wear via compression and async discard (#4759)
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

chore(skills): add Ceph HEALTH_WARN drill-down and prom svc-name xref (#4760)
  .claude/skills/cluster-audit/SKILL.md
  .claude/skills/prometheus-historical-queries/SKILL.md
Labels: none

fix(devcontainer): export XDG_CONFIG_HOME before brew trust in install_user.sh
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix(devcontainer): export XDG_CONFIG_HOME before brew trust in install_user.sh (#4856)
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

docs(jetson): add design for nv1 iGPU enablement
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
Labels: none

docs(jetson): resolve Talos nodeTaints syntax, document taint drift
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
Labels: none

docs(jetson): add Phase 0 to reconcile nv1 before GPU work
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
Labels: none

docs(jetson): resolve Driver CR ownership — ArgoCD, not Rook
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
Labels: none

docs(jetson): verify csi-drivers toleration against chart 1.0.4
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
Labels: none

docs(jetson): add implementation plan
  docs/superpowers/plans/2026-08-13-jetson-igpu.md
Labels: none

docs(jetson): note that plan YAML snippets are shown unindented
  docs/superpowers/plans/2026-08-13-jetson-igpu.md
Labels: none

docs(jetson): nv1 iGPU enablement — design + implementation plan (#4892)
  docs/superpowers/plans/2026-08-13-jetson-igpu.md
  docs/superpowers/specs/2026-08-13-jetson-igpu-design.md
Labels: none

feat(nv1): tolerate both old and new nv1 taints
  cluster/apps/core/rook-ceph/csi-drivers/values.yaml
  cluster/apps/system/node-feature-discovery/values.yaml
  cluster/apps/system/prometheus-stack/templates/metrics-proxy.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
Labels: area/cluster

feat(nv1): reconcile taints, tolerations and stale config (#4894)
  cluster/apps/core/rook-ceph/csi-drivers/values.yaml
  cluster/apps/system/node-feature-discovery/values.yaml
  cluster/apps/system/prometheus-stack/templates/metrics-proxy.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
Labels: area/cluster

feat(talos): rename nv1 taint to nvidia.com/gpu=present
  provision/talos/templates/worker.yaml
Labels: none

chore(nv1): drop transitional nv toleration
  cluster/apps/core/rook-ceph/csi-drivers/values.yaml
  cluster/apps/system/node-feature-discovery/values.yaml
  cluster/apps/system/prometheus-stack/templates/metrics-proxy.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
Labels: area/cluster

chore(nv1): drop transitional nv toleration, rename taint template (#4895)
  cluster/apps/core/rook-ceph/csi-drivers/values.yaml
  cluster/apps/system/node-feature-discovery/values.yaml
  cluster/apps/system/prometheus-stack/templates/metrics-proxy.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
  provision/talos/templates/worker.yaml
Labels: area/cluster

feat(talos): document investigation into taint modification on existing nodes
  .plans/TODO.md
Labels: none

docs(jetson): record nv1 CPU inference baseline
  docs/superpowers/plans/artifacts/2026-08-13-nv1-cpu-baseline.md
Labels: none

feat(nv1): pin Talos v1.13.0 and add Jetson GPU node config
  .taskfiles/talos/Taskfile.yaml
  provision/talos/nodes.yaml
  provision/talos/nodes/nv1.yaml
Labels: none

feat(nvidia): add Jetson GPU stack (cdi-setup, device-plugin, power-mode)
  cluster/apps/system/nvidia/app-config.yaml
  cluster/apps/system/nvidia/kustomization.yaml
  cluster/apps/system/nvidia/resources/cdi-setup.yaml
  cluster/apps/system/nvidia/resources/device-plugin.yaml
  cluster/apps/system/nvidia/resources/power-mode.yaml
Labels: area/cluster

feat(jetson): enable Jetson Orin NX iGPU (Phase 1 — Tasks 8-11) (#4896)
  .taskfiles/talos/Taskfile.yaml
  cluster/apps/system/nvidia/app-config.yaml
  cluster/apps/system/nvidia/kustomization.yaml
  cluster/apps/system/nvidia/resources/cdi-setup.yaml
  cluster/apps/system/nvidia/resources/device-plugin.yaml
  cluster/apps/system/nvidia/resources/power-mode.yaml
  docs/superpowers/plans/artifacts/2026-08-13-nv1-cpu-baseline.md
  provision/talos/nodes.yaml
  provision/talos/nodes/nv1.yaml
Labels: area/cluster

feat(ollama): run on the Jetson iGPU instead of Intel i915
  cluster/apps/ai/ollama/app-config.yaml
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

fix(ollama): digest-pin the 0.20.5 image tag
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

feat(ollama): run on the Jetson iGPU instead of Intel i915 (#4897)
  cluster/apps/ai/ollama/app-config.yaml
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

docs(jetson): record Phase 1 gate check 8 GPU result
  docs/superpowers/plans/artifacts/2026-08-13-nv1-cpu-baseline.md
Labels: none

docs(jetson): record Phase 1 gate check 8 GPU benchmark result (#4898)
  docs/superpowers/plans/artifacts/2026-08-13-nv1-cpu-baseline.md
Labels: none
