Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to f0b8b36
  .devcontainer/devcontainer.json
Labels: none

fix(deps): update pre-commit hook ansible/ansible-lint to v24.2.3
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release cloudnative-pg to 0.21.2
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.10.9
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.17
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 7.5.3
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 2.2.2
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.31.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.5.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.44
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.3
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 96a7940
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 58.4.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update talos group
  .github/.devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.5.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.45
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 59c07cd
  .devcontainer/devcontainer.json
Labels: none

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to b2a7929
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update quay.io/keycloak/keycloak:24.0.3 docker digest to 4d6f229
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(deps): update argoproj/argo-cd to v2.11.0
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 7.5.4
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 02f752d
  .github/.devcontainer/Dockerfile
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to e3a8dc2
  .devcontainer/devcontainer.json
Labels: none

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v24.0.4
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.32.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.46
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to 44c2b7a
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.89.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to 0ad4b8f
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.5.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.48
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 699a678
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v2.4.4
  .github/.devcontainer/Dockerfile
Labels: area/github

feat(helm-chart): update helm release botkube to v1.11.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 58.5.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kubelet-csr-approver to 1.2.0
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to bdc1833
  .devcontainer/devcontainer.json
Labels: none

fix(helm-chart): update helm release external-secrets to 0.9.18
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.89.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-gpu to 0.30.0
  cluster/system/intel-gpu-plugin/Chart.yaml
Labels: area/cluster
