Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

remove unnnecessary variable
  .taskfiles/talos.yml
Labels: none

feat(deps): update argoproj/argo-cd to v2.8.0
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to c16aac1
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to e7c7838
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 974f588
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to fa3a90b
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to add7a5b
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 6e7f426
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.9.1
  .taskfiles/talos.yml
Labels: none

chore(docker-image): update haproxy:2.8-alpine docker digest to afe4cd9
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix digest
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): pin gitea/gitea docker tag to 6e3b85a
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to d638a7d
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to c4fa54f
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to bbac73a
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to ebe2bd2
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 69faad6
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.12.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(docker-image): update quay.io/keycloak/keycloak:22.0.1 docker digest to 4d74df8
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.3.0
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update haproxy:2.8-alpine docker digest to d62c473
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release traefik to 24.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to b1c146e
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to e47cdc8
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.4
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update helm release botkube to v1.3.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 7.3.0
  provision/ansible/requirements.yml
Labels: area/ansible

fix(helm-chart): update helm release external-secrets to 0.9.3
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.12.2
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.88 docker digest to 9d5c634
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.16
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update quay.io/keycloak/keycloak:22.0.1 docker digest to 89b37fa
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(docker-image): update nginx docker tag to v1.25.2
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.9.2
  .taskfiles/talos.yml
Labels: none

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.8.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 8fd5fc5
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.89
  cluster/apps/factorio/values.yaml
Labels: area/cluster

Update talconfig.yaml
  provision/talos/talconfig.yaml
Labels: none

feat(helm-chart): update helm release gitea to 9.2.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(deps): update pre-commit hook ansible/ansible-lint to v6.18.0
  .pre-commit-config.yaml
Labels: none
