Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to d42412a
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 57.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.10.0
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 5525911
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release app-template to 3.0.1
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 665f771
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix cloudflared app-template
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to b3d3b9e
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.28
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 57.0.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to 9bb5618
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(helm-chart): update helm release node-feature-discovery to 0.15.2
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to b4ffde6
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

chore(docker-image): update nginx:1.25.4 docker digest to ef1b8ca
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.4 docker digest to 1809084
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 3fbc581
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.4 docker digest to 74d949d
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.8
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.4 docker digest to d9eb5c1
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.4 docker digest to 25dfd56
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v24.2.1
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update nginx:1.25.4 docker digest to 6db391d
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.10.3
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.29
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix cloudflared
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix values
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix mosquitto
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

fix ha
  cluster/home-automation/home-assistant/values.yaml
  cluster/home-automation/mosquitto/values.yaml
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix probes
  cluster/home-automation/mosquitto/values.yaml
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix probes
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

remove ha probes
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

add piper and whisper
  cluster/home-automation/piper/Chart.yaml
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/Chart.yaml
  cluster/home-automation/whisper/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

add updating voices
  cluster/home-automation/piper/values.yaml
Labels: area/cluster

add piper and whisper for HA (#1211)
  cluster/home-automation/piper/Chart.yaml
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/Chart.yaml
  cluster/home-automation/whisper/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix commands
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

revert args
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

try fix env
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.20.2
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.3.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.22.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
