Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 91b03fd
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.5.5
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.58
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/coder/code-server:4.89.1 docker digest to 3b56b9e
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to fab0fda
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(docker-image): update gitea/gitea docker tag to v1.22.0
  cluster/apps/gitea/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release node-feature-discovery to 0.16.0
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

fix(ansible-collection): update community.general to 9.0.1
  provision/ansible/requirements.yml
Labels: area/ansible

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 59.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v2.4.6
  .github/.devcontainer/Dockerfile
Labels: area/github

ci(github-action): update docker/login-action action to v3.2.0
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to a8ac9f1
  .devcontainer/devcontainer.json
Labels: none

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to a8ac9f1
  .devcontainer/devcontainer.json
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.59
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 7d8b301
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.34.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm-chart): update helm release botkube to v1.12.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.60
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 6fb548a
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.21.4
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 08a925b
  .github/.devcontainer/Dockerfile
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.61
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.5
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(docker-image)!: Update haproxy Docker tag to v3
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 52ddfb9
  .devcontainer/devcontainer.json
Labels: none

feat(helm-chart): update helm release traefik to 28.2.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 7.7.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.62
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 59.1.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.18.3
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 35a00ca
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.12.0
  .github/workflows/lint.yaml
Labels: area/github

fix(terraform-provider): update terraform http to 3.4.3
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.6.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.0
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v24.0.5
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable slef-heal prometheus stack
  cluster/projects/system/values.yaml
Labels: area/cluster

feat(deps)!: Update budimanjojo/talhelper to v3.0.0
  .github/.devcontainer/Dockerfile
Labels: area/github

add kube-prom ignore caBundle changes
  cluster/projects/system/values.yaml
Labels: area/cluster

fix json diff
  cluster/projects/system/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
