Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix branch name
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

add labeler actions
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(docker-image): update linuxserver/calibre-web docker tag to v0.6.20
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release traefik to 21.2.1
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 45.8.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add global excluded directory
  .github/workflows/lint.yaml
Labels: area/github

fix excluded directories
  .github/workflows/lint.yaml
Labels: area/github

fix megalinter ansible project-dir
  .github/workflows/lint.yaml
Labels: area/github

fix ansible lint errors
  .github/linters/.yamllint.yaml
  .pre-commit-config.yaml
  .taskfiles/format.yml
  .vscode/settings.json
  cluster/k8s-oidc/ns-roles/role-binding.yaml
  cluster/k8s-oidc/ns-roles/role.yaml
  cluster/k8s-oidc/oidc-admin-role.yaml
  provision/ansible/playbooks/k8s.yaml
  provision/ansible/playbooks/ubuntu-prepare.yml
  provision/ansible/roles/containerd/tasks/configure-custom.yml
  provision/ansible/roles/containerd/tasks/configure-default.yml
  provision/ansible/roles/containerd/tasks/packages.yml
  provision/ansible/roles/kubernetes/tasks/control-plane/haproxy.yml
  provision/ansible/roles/kubernetes/tasks/control-plane/install-secondary.yml
  provision/ansible/roles/kubernetes/tasks/control-plane/install.yml
  provision/ansible/roles/kubernetes/tasks/control-plane/update.yml
  provision/ansible/roles/kubernetes/tasks/packages.yml
  provision/ansible/roles/ubuntu/handlers/main.yml
  provision/ansible/roles/ubuntu/tasks/modprobe.yml
  provision/ansible/roles/ubuntu/tasks/network.yml
  provision/ansible/roles/ubuntu/tasks/packages.yml
  provision/ansible/roles/ubuntu/tasks/swap.yml
  provision/ansible/roles/ubuntu/tasks/sysctl.yml
Labels: area/ansible, area/github, area/cluster

add exclude sops files to ansible-lint
  .github/workflows/lint.yaml
Labels: area/github

feat(deps): update flannel-io/flannel to v0.21.4
  provision/ansible/inventory/group_vars/kubernetes/kubernetes.yaml
Labels: area/ansible

fix shellchecks
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix missing double quotes
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

feat(deps): update kubernetes/kubernetes to v1.25.5
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix(docker-image): update nginx docker tag to v1.23.4
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release metrics-server to 3.9.0
  cluster/system/metrics-server/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release gitea to 8.0.2
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release traefik to 22.0.0
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 45.8.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update alpine:latest docker digest to 124c7d2
  cluster/core/argocd/base/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to b61c297
  cluster/core/argocd/base/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/bedrock-viz:rolling docker digest to 83fc607
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to a52c26c
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to 195e6f8
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to 670be2f
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

remove last usage of `set-output`
  .github/workflow-scripts/unify-diff-files.sh
Labels: area/github

remove last usage of `set-output` (#280)
  .github/workflow-scripts/unify-diff-files.sh
Labels: area/github

fix docerfile missing LC_ALL
  .devcontainer/Dockerfile
Labels: none

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v21.0.2
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

add locale settings to make ansible work
  .devcontainer/Dockerfile
Labels: none

update script devcontainers
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
Labels: none

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.2
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update lloesche/valheim-server:latest docker digest to 10b4b84
  cluster/apps/valheim/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook gruntwork-io/pre-commit to v0.1.20
  .pre-commit-config.yaml
Labels: none

feat(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

ConfigManagementPlugin for system apps
  cluster/core/argocd/projects/system/apps/values.yaml
Labels: area/cluster

change calibre mod
  cluster/apps/calibre/values.yaml
Labels: area/cluster

update calibre-web repo
  cluster/apps/calibre/values.yaml
Labels: area/cluster

change gmail.json location
  cluster/apps/calibre/values.yaml
Labels: area/cluster

revert config mount
  cluster/apps/calibre/values.yaml
Labels: area/cluster
