Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.21.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(deps): update argoproj/argo-cd to v2.10.0
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(deps): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update lloesche/valheim-server:latest docker digest to 22f3129
  cluster/apps/valheim/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 84c52df
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 048da9e
  .devcontainer/Dockerfile
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.24.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(deps)!: Update pre-commit hook ansible/ansible-lint to v24.2.0
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update helm release metrics-server to 3.12.0
  cluster/system/metrics-server/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.18
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.2.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update lloesche/valheim-server:latest docker digest to 58f9702
  cluster/apps/valheim/values.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v2.1.0
  .devcontainer/Dockerfile
Labels: none

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.2.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.14.2
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/coder/code-server:4.21.0 docker digest to 7ea6980
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.13.4
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.21.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 6fbeaa0
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.9.0
  .github/workflows/lint.yaml
Labels: area/github

feat(helm-chart): update helm release oauth2-proxy to 6.24.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to ea97e6a
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 0e13305
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.5
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update nginx:1.25.3 docker digest to ac2b22f
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 2f5b3c6
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to c7a6ad6
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release snapshot-controller to 2.2.0
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release app-template to 2.6.0
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

update readme
  README.md
  Taskfile.yml
Labels: none

chore(docker-image): update factoriotools/factorio:1.1.104 docker digest to 8881956
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.10.1
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

ci(github-action)!: Update dorny/paths-filter action to v3
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

feat(helm-chart): update helm release firefly-iii to 1.8.0
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

fix(docker-image): update nginx docker tag to v1.25.4
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(deps): update pre-commit hook adrienverge/yamllint to v1.35.1
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.2.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.21
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 5965fbc
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to adafd09
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster
