Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(talos): enable kubelet server certificate rotation on worker nodes
  provision/talos/talconfig.yaml
Labels: none

increase minecraft limits
  cluster/apps/games/minecraft-bedrock/values.yaml
Labels: area/cluster

install features as user
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/bws-cli/install.sh
  .github/.devcontainer/local-features/sops-replacer/install.sh
  .gitignore
Labels: area/github

enable multiplatform devcontainer
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

remove interactive shell
  .github/.devcontainer/local-features/bws-cli/install.sh
  .github/.devcontainer/local-features/bws-cli/install_user.sh
  .github/.devcontainer/local-features/common/install.sh
  .github/.devcontainer/local-features/common/install_user.sh
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_user.sh
  .github/.devcontainer/local-features/sops-replacer/install.sh
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

install as root
  .github/.devcontainer/local-features/bws-cli/install.sh
  .github/.devcontainer/local-features/bws-cli/install_user.sh
  .github/.devcontainer/local-features/sops-replacer/install.sh
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

fix brew install
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_user.sh
Labels: area/github

Restrict Docker image platform to linux/amd64
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

disable gitea
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

optimise claude.md pt1
  .claude/settings.json
  .claude/skills/learned/add-app.md
  .claudeignore
  .devcontainer/scripts/onCreateCommand.sh
  CLAUDE.md
  docs/src/general/network.md
  docs/src/k8s/egctl.md
Labels: none

optimize claude.md final
  .claude/memory/MEMORY.md
  .claude/skills/add-app/SKILL.md
  .claude/skills/cluster-reference/SKILL.md
  .claude/skills/dev-workflow/SKILL.md
  .claude/skills/k8s-resource-limit-audit/SKILL.md
  .claude/skills/prometheus-historical-queries/SKILL.md
  .claude/skills/prometheus-portforward-session/SKILL.md
  .claude/skills/secops-public-repo-audit/SKILL.md
  CLAUDE.md
Labels: none

chore(claude): structured plans directory with subfolder layout
  .archive/.plans/list.md
  .claude/memory/MEMORY.md
  .claude/memory/reference_plans_todos.md
  .plans/TODO.md
  .plans/list.md
  .plans/wow-server/plan.md
  .plans/wow-server/tasks.md
  CLAUDE.md
Labels: none

feat(wow): add AzerothCore WotLK single-player server
  cluster/apps/games/wow/Chart.yaml
  cluster/apps/games/wow/README.md
  cluster/apps/games/wow/app-config.yaml
  cluster/apps/games/wow/templates/adminer-httproute.yaml
  cluster/apps/games/wow/templates/client-data-pvc.yaml
  cluster/apps/games/wow/templates/common.yaml
  cluster/apps/games/wow/templates/db-import-job.yaml
  cluster/apps/games/wow/templates/dns-endpoint.yaml
  cluster/apps/games/wow/templates/mysql-externalsecret.yaml
  cluster/apps/games/wow/templates/mysql-pvc.yaml
  cluster/apps/games/wow/templates/mysql-service.yaml
  cluster/apps/games/wow/templates/mysql-statefulset.yaml
  cluster/apps/games/wow/templates/volsync.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

chore(wow): pin image digests from initial CI build (2026-05-10)
  cluster/apps/games/wow/templates/db-import-job.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

chore(wow): use rolling@sha256 tag format for azerothcore images
  cluster/apps/games/wow/templates/db-import-job.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

fix(wow): add lbipam sharing-key for shared LoadBalancer IP
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

fix(wow): add sync waves to enforce deploy ordering
  cluster/apps/games/wow/templates/db-import-job.yaml
  cluster/apps/games/wow/templates/mysql-externalsecret.yaml
  cluster/apps/games/wow/templates/mysql-statefulset.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

feat(wow): add AzerothCore WotLK single-player server (#3840)
  cluster/apps/games/wow/Chart.yaml
  cluster/apps/games/wow/README.md
  cluster/apps/games/wow/app-config.yaml
  cluster/apps/games/wow/templates/adminer-httproute.yaml
  cluster/apps/games/wow/templates/client-data-pvc.yaml
  cluster/apps/games/wow/templates/common.yaml
  cluster/apps/games/wow/templates/db-import-job.yaml
  cluster/apps/games/wow/templates/dns-endpoint.yaml
  cluster/apps/games/wow/templates/mysql-externalsecret.yaml
  cluster/apps/games/wow/templates/mysql-pvc.yaml
  cluster/apps/games/wow/templates/mysql-service.yaml
  cluster/apps/games/wow/templates/mysql-statefulset.yaml
  cluster/apps/games/wow/templates/volsync.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

feat(system): add stakater/Reloader to auto-restart on cert rotation
  cluster/apps/system/external-secrets/values.yaml
  cluster/apps/system/reloader/Chart.yaml
  cluster/apps/system/reloader/app-config.yaml
  cluster/apps/system/reloader/values.yaml
Labels: area/cluster

feat(system): add stakater/Reloader to auto-restart on cert rotation
  cluster/apps/system/external-secrets/values.yaml
  cluster/apps/system/reloader/Chart.yaml
  cluster/apps/system/reloader/app-config.yaml
  cluster/apps/system/reloader/values.yaml
Labels: area/cluster

feat(system): add stakater/Reloader to auto-restart on cert rotation (#3842)
  cluster/apps/system/external-secrets/values.yaml
  cluster/apps/system/reloader/Chart.yaml
  cluster/apps/system/reloader/app-config.yaml
  cluster/apps/system/reloader/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

update progress
  .claude/memory/MEMORY.md
  .plans/wow-server/tasks.md
Labels: none

redeploy
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

fix(wow): enable AC_UPDATES_ENABLE_DATABASES on worldserver
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

update tasks
  .plans/wow-server/tasks.md
Labels: none

fix(wow): remove AC_UPDATES_ENABLE_DATABASES from worldserver
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

fix(wow): remove AC_UPDATES_ENABLE_DATABASES from worldserver (#3856)
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

chore(renovate): group all AzerothCore WoW image updates into single PR
  .github/renovate/groups.json5
Labels: area/github

chore(renovate): add prometheus-operator-crds OCI image to kube-prometheus-stack group
  .github/renovate/groups.json5
Labels: area/github

fix(wow): use HookSucceeded delete policy so db-import re-runs on every sync
  cluster/apps/games/wow/templates/db-import-job.yaml
Labels: area/cluster

feat(wow): scale down game servers before db migrations
  cluster/apps/games/wow/templates/hooks-rbac.yaml
  cluster/apps/games/wow/templates/scale-down-hook.yaml
Labels: area/cluster

feat(wow): enable SOAP API on worldserver for remote account management
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

fix(wow): allocate PTY for worldserver to stop AC> console spam
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

docs(wow): update README with correct console attach command and SOAP usage
  cluster/apps/games/wow/README.md
Labels: area/cluster

feat(wow): auto-set realmlist address to LB IP after db-import
  cluster/apps/games/wow/templates/db-import-job.yaml
Labels: area/cluster

refactor(wow): define LB IP once via YAML anchor and Helm value reference
  cluster/apps/games/wow/templates/db-import-job.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

feat(wow): persist AHBot config via init container patch approach
  cluster/apps/games/wow/.claude/statusline/settings.json
  cluster/apps/games/wow/templates/ahbot-patch-configmap.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

remove trash
  cluster/apps/games/wow/.claude/statusline/settings.json
Labels: area/cluster

docs(wow): add error log command and link to AzerothCore common errors wiki
  cluster/apps/games/wow/README.md
Labels: area/cluster
