Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(deps): update budimanjojo/talhelper to v1.7.4
  .taskfiles/talos.yml
Labels: none

fix(helm-chart): update helm release kubelet-csr-approver to 1.0.1
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

fix(terraform-provider): update terraform cloudflare to 4.7.1
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(deps): update pre-commit hook ansible/ansible-lint to v6.17.0
  .pre-commit-config.yaml
Labels: none

fix(deps): update metallb/metallb to v0.13.10
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

ci(github-action): update pascalgn/size-label-action action to v0.5.0
  .github/workflows/meta-label-size.yaml
Labels: area/github

ci(github-action)!: Update oxsecurity/megalinter action to v7.0.4
  .github/workflows/lint.yaml
Labels: area/github

fix(helm-chart): update rook-ceph-suite group to v1.11.7
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.13.2
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release minecraft-bedrock to 2.1.0
  cluster/apps/minecraft/bedrock/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to 1f2b726
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to f698523
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 46.6.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to ffdd58e
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(docker-image): update haproxy docker tag to v2.8
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.7.4
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release traefik to 23.1.0
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.4
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update helm release oauth2-proxy to 6.13.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 6.13.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 3cb26c9
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 46.8.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-gpu to 0.27.0
  cluster/system/intel-gpu-plugin/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-operator to 0.27.0
  cluster/system/intel-device-plugins-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update lloesche/valheim-server:latest docker digest to 4e89eba
  cluster/apps/valheim/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.1.0
  .github/workflows/lint.yaml
Labels: area/github

update cmp
  cluster/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 1.8.1
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.18.1
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

add ignore for k8s dashboard
  .devcontainer/scripts/onCreateCommand.sh
  cluster/projects/system/values.yaml
Labels: area/cluster

enable argocd selfheal
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

Update app-template.yaml
  charts/app-of-apps/templates/app-template.yaml
Labels: none

enable argocd selfheal (#416)
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

fix devcontainer
  .devcontainer/Dockerfile
Labels: none

Update Dockerfile
  .devcontainer/Dockerfile
Labels: none

Remove talosctl completions
  .devcontainer/Dockerfile
Labels: none

fix(deps): update pre-commit hook ansible/ansible-lint to v6.17.1
  .pre-commit-config.yaml
Labels: none

update readme
  README.md
Labels: none

fix(docker-image): update nginx docker tag to v1.25.1
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.8.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
