Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

remove shared ip
  cluster/apps/jellyfin/templates/service.yaml
Labels: area/cluster

Update ingress.yaml
  cluster/apps/jellyfin/templates/ingress.yaml
Labels: area/cluster

make metrics secure
  cluster/system/metrics-server/Readme.md
  cluster/system/metrics-server/values.yaml
Labels: area/cluster

enable prune
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/core/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

add argocd changes
  charts/app-of-apps/templates/app-template.yaml
  cluster/core/argocd/patches/argocd-cm.yaml
  cluster/core/argocd/patches/argocd-cmd-params-cm.yaml
Labels: area/cluster

enable prune (#1870)
  charts/app-of-apps/templates/app-template.yaml
  cluster/core/argocd/patches/argocd-cm.yaml
  cluster/core/argocd/patches/argocd-cmd-params-cm.yaml
  cluster/projects/core/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

create tls using job
  cluster/core/cilium/values.yaml
Labels: area/cluster

create tls using job (#1876)
  cluster/core/cilium/values.yaml
Labels: area/cluster

fix helm values for cilium
  cluster/core/cilium/values.yaml
Labels: area/cluster

update action
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

Revert "feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v…"
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

Revert "feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v26" (#1885)
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix hostname
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

remove default
  charts/app-of-apps/templates/app-template.yaml
Labels: none

remove health check for not existing namespace
  .taskfiles/talos.yml
Labels: none

upgrade k8s
  .github/renovate/allowedVersions.json5
Labels: area/github

add sops replacer feature
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/sops-replacer/devcontainer-feature.json
  .github/.devcontainer/local-features/sops-replacer/install.sh
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

fix version
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

add renovate updates
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

add skipping owner
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

sudo tar
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

no same owner
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
Labels: area/github

show remote user
  .github/.devcontainer/local-features/sops-replacer/install.sh
Labels: area/github

fix user permissions
  .github/.devcontainer/local-features/sops-replacer/install.sh
Labels: area/github

allow admin
  cluster/core/argocd/patches/argocd-cm.yaml
Labels: area/cluster

update rdm
  cluster/projects/apps/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
  provision/talos/README.md
Labels: area/cluster

enable metrics
  cluster/projects/system/values.yaml
Labels: area/cluster

fix variable name
  cluster/system/traefik/values.yaml
Labels: area/cluster

disable ceph
  cluster/.tools/wipe-rook.yaml
  cluster/projects/core/values.yaml
Labels: area/cluster

enable rook
  cluster/projects/core/values.yaml
Labels: area/cluster

remove all ceph
  cluster/projects/core/values.yaml
Labels: area/cluster

enable rook
  cluster/projects/core/values.yaml
Labels: area/cluster

disable prmoetheus
  cluster/projects/system/values.yaml
Labels: area/cluster

disable rook cluster
  cluster/projects/core/values.yaml
Labels: area/cluster

disable prometheus
  cluster/core/rook-ceph/rook-ceph-operator/values.yaml
Labels: area/cluster

enable rook
  cluster/projects/core/values.yaml
Labels: area/cluster

enable prometheus
  cluster/projects/system/values.yaml
Labels: area/cluster

update disk path
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

update rook cluster
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

cluster rook delete
  cluster/projects/core/values.yaml
Labels: area/cluster
