Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore(docker-image): update haproxy:2.8-alpine docker digest to b37e7ca
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to d40cbc6
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.6.0
  .github/workflows/lint.yaml
Labels: area/github

feat(helm-chart): update helm release botkube to v1.6.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.9.2
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release app-template to 2.3.0
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to ad90e20
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to e5c240a
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 725cd8b
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 4d2f205
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.13.38
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 10d1f5b
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 54.2.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.97 docker digest to 107af16
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.97 docker digest to ed1f486
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.97 docker digest to e277400
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.98
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 54.2.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v23
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 2e223f2
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.1
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook sirosen/texthooks to 0.6.3
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.13.39
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 2.0.3
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 9.6.1
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.98 docker digest to aeeb380
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.99
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.14.1
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

Revert "feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v23 (#870)"
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

Revert "feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v23" (#880)
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.20.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.20.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.14.2
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v1.16.0
  .devcontainer/Dockerfile
Labels: none

feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v23
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

update command
  cluster/system/identity/keycloak/templates/deployment.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.22.1
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.19.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.14.4
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster
