Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

fix server version
  cluster/apps/games/minecraft-bedrock/values.yaml
Labels: area/cluster

enable auto sync
  cluster/apps/default/botkube/app-config.yaml
  cluster/apps/default/gethomepage/app-config.yaml
  cluster/apps/default/gitea/app-config.yaml
  cluster/apps/default/grocy/app-config.yaml
  cluster/apps/default/hass-proxy/app-config.yaml
  cluster/apps/default/jellyfin/app-config.yaml
  cluster/apps/default/litellm/app-config.yaml
  cluster/apps/default/n8n/app-config.yaml
  cluster/apps/default/nfs-mounts/app-config.yaml
  cluster/apps/default/open-webui/app-config.yaml
  cluster/apps/default/qnap-proxy/app-config.yaml
  cluster/apps/games/minecraft-bedrock/app-config.yaml
  cluster/apps/home-automation/home-assistant/app-config.yaml
  cluster/apps/home-automation/ollama/app-config.yaml
  cluster/apps/home-automation/openwakeword/app-config.yaml
  cluster/apps/home-automation/piper/app-config.yaml
  cluster/apps/home-automation/vernemq/app-config.yaml
  cluster/apps/home-automation/whisper/app-config.yaml
  cluster/apps/system/cert-manager/app-config.yaml
  cluster/apps/system/cloudflared/app-config.yaml
  cluster/apps/system/cloudnative-pg/app-config.yaml
  cluster/apps/system/dyndns/app-config.yaml
  cluster/apps/system/external-secrets/app-config.yaml
  cluster/apps/system/intel/app-config.yaml
  cluster/apps/system/keycloak/app-config.yaml
  cluster/apps/system/kubelet-csr-approver/app-config.yaml
  cluster/apps/system/metrics-server/app-config.yaml
  cluster/apps/system/nfs-subdir-external-provisioner/app-config.yaml
  cluster/apps/system/node-feature-discovery/app-config.yaml
  cluster/apps/system/oauth2-proxy/app-config.yaml
  cluster/apps/system/prometheus-stack/app-config.yaml
  cluster/apps/system/snapshot-controller/app-config.yaml
  cluster/apps/system/talos-backup/app-config.yaml
  cluster/apps/system/traefik/app-config.yaml
  cluster/apps/system/volsync/app-config.yaml
Labels: area/cluster

increase jellyfin data space
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

expand more
  cluster/apps/default/jellyfin/values.yaml
Labels: area/cluster

remove json patch from talos config
  provision/talos/talconfig.yaml
Labels: none

fix(whisper): add missing data-dir argument for whisper container
  cluster/apps/home-automation/whisper/values.yaml
Labels: area/cluster

Add system dependencies installation step
  .github/workflows/publish-pages.yaml
Labels: area/github

Update allowedVersions to allow version <=1.34
  .github/renovate/allowedVersions.json5
Labels: area/github

remove nv1 node
  provision/talos/talconfig.yaml
Labels: none

fix metrics-proxy config
  cluster/apps/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

check-executables-have-shebangs
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

automerge fixes
  .github/renovate/autoMerge.json5
  .github/workflows/lint.yaml
Labels: area/github

fix snapshot values
  cluster/apps/system/snapshot-controller/values.yaml
Labels: area/cluster

fix oauth-proxy
  cluster/apps/system/oauth2-proxy/values.yaml
Labels: area/cluster

fix traefik
  cluster/apps/system/traefik/values.yaml
Labels: area/cluster

fix gitrea digest
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

disable vintagestory
  cluster/apps/games/vintagestory/values.yaml
Labels: area/cluster

add new feature to install bws-cli
  .devcontainer/devcontainer.env.sample
  .github/.devcontainer/local-features/bws-cli/devcontainer-feature.json
  .github/.devcontainer/local-features/bws-cli/install.sh
  .github/.devcontainer/local-features/bws-cli/install_user.sh
Labels: area/github

add bws-cli to devcontainer
  .github/.devcontainer/devcontainer.json
Labels: area/github

chore: talhelper replace sops with bws
  .envrc
  .sops.yaml
  provision/talos/bak_talenv.sops.yaml_bak
  provision/talos/bak_talsecret.sops.yaml_bak
  provision/talos/talconfig.yaml
  provision/talos/talsecret.yaml
  secret.sops.yaml
Labels: none

add env exports in devcontainer scripts
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
Labels: none

chore: add envoy
  cluster/apps/system/envoy-gateweay/Chart.yaml
  cluster/apps/system/envoy-gateweay/app-config.yaml
  cluster/apps/system/envoy-gateweay/templates/cert.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
  cluster/apps/system/envoy-gateweay/templates/podmonitor.yaml
  cluster/apps/system/envoy-gateweay/values.yaml
Labels: area/cluster

chore: add cloudflare-dns
  cluster/apps/system/cloudflare-dns/Chart.yaml
  cluster/apps/system/cloudflare-dns/app-config.yaml
  cluster/apps/system/cloudflare-dns/templates/externalsecret.yaml
  cluster/apps/system/cloudflare-dns/values.yaml
Labels: area/cluster

chore: add bws provider
  cluster/apps/system/external-secrets/templates/secret.yaml
  cluster/apps/system/external-secrets/templates/secretstore.yaml
Labels: area/cluster

disable cludflare-dns envoy gateway
  cluster/apps/system/cloudflare-dns/app-config.yaml
  cluster/apps/system/envoy-gateweay/app-config.yaml
Labels: area/cluster

add claude files
  CLAUDE.md
  README.md
  docs/src/index.md
Labels: none

chore: update cloude files and move memory to the repo
  .claude/memory/MEMORY.md
  .devcontainer/scripts/postStartCommand.sh
  CLAUDE.md
Labels: none

chore: add bitwarden secret server
  cluster/apps/system/external-secrets/app-config.yaml
  cluster/apps/system/external-secrets/templates/secret.yaml
  cluster/apps/system/external-secrets/templates/secretstore.yaml
  cluster/apps/system/external-secrets/values.yaml
Labels: area/cluster

Add Envoy, Cloudflare-DNS, and Bitwarden integration (#3564)
  .claude/memory/MEMORY.md
  .devcontainer/scripts/postStartCommand.sh
  CLAUDE.md
  README.md
  cluster/apps/system/cloudflare-dns/Chart.yaml
  cluster/apps/system/cloudflare-dns/app-config.yaml
  cluster/apps/system/cloudflare-dns/templates/externalsecret.yaml
  cluster/apps/system/cloudflare-dns/values.yaml
  cluster/apps/system/envoy-gateweay/Chart.yaml
  cluster/apps/system/envoy-gateweay/app-config.yaml
  cluster/apps/system/envoy-gateweay/templates/cert.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
  cluster/apps/system/envoy-gateweay/templates/podmonitor.yaml
  cluster/apps/system/envoy-gateweay/values.yaml
  cluster/apps/system/external-secrets/app-config.yaml
  cluster/apps/system/external-secrets/templates/secret.yaml
  cluster/apps/system/external-secrets/templates/secretstore.yaml
  cluster/apps/system/external-secrets/values.yaml
  docs/src/index.md
Labels: area/cluster

fix url
  cluster/apps/system/external-secrets/templates/secretstore.yaml
Labels: area/cluster

fix guids
  cluster/apps/system/external-secrets/templates/secretstore.yaml
Labels: area/cluster

add certs
  cluster/apps/system/external-secrets/templates/certs.yaml
  cluster/apps/system/external-secrets/templates/secretstore.yaml
  cluster/apps/system/external-secrets/values.yaml
Labels: area/cluster

rename ca tls
  cluster/apps/system/external-secrets/templates/certs.yaml
Labels: area/cluster

fix namespace
  cluster/apps/system/external-secrets/templates/secretstore.yaml
Labels: area/cluster

prepare dns
  cluster/apps/system/cloudflare-dns/templates/externalsecret.yaml
  cluster/apps/system/cloudflare-dns/values.yaml
Labels: area/cluster

fix urls and add cloudflare-dns readme
  cluster/apps/system/cloudflare-dns/Readme.md
  cluster/apps/system/prometheus-stack/dashboards/node.json
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix bitwarden keys
  cluster/apps/system/cloudflare-dns/templates/externalsecret.yaml
Labels: area/cluster

add secret to tunnel
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
  cluster/apps/system/cloudflared/values.yaml
Labels: area/cluster

make secrets sync before anything else
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

chore: fix sec ref
  cluster/apps/system/cloudflared/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
