Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix: secret store bw https
  cluster/apps/system/external-secrets/templates/secretstore.yaml
Labels: area/cluster

remove sync wave
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

move cf tunnel token to bw
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
  cluster/apps/system/cloudflared/values.yaml
Labels: area/cluster

get secrets tiwhout template
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

chore: revert to template updated
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

fix secrets
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
  provision/terraform/cloudflare/tunel.tf
Labels: area/cluster, area/terraform

remove dns records
  provision/terraform/cloudflare/account.tf
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

fix secrets
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

fix value ref
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
  cluster/apps/system/cloudflared/values.yaml
Labels: area/cluster

drop cf tunnel
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix external secret
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

only secret
  cluster/apps/system/cloudflare-dns/Readme.md
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

fix template
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

remove comments
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

make secret a string
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

fix secret creation for helm
  .claude/memory/MEMORY.md
  cluster/apps/system/cloudflared/templates/externalsecret.yaml
Labels: area/cluster

add claude by default
  .devcontainer/devcontainer.json
Labels: none

enable cloudflare dns
  cluster/apps/system/cloudflare-dns/app-config.yaml
  cluster/apps/system/cloudflare-dns/templates/externalsecret.yaml
Labels: area/cluster

change traefik ip
  cluster/apps/system/traefik/values.yaml
Labels: area/cluster

add agh proxy
  cluster/apps/default/hass-proxy/templates/ingress.yaml
  cluster/apps/default/hass-proxy/templates/service.yaml
Labels: area/cluster

fix service name
  cluster/apps/default/hass-proxy/templates/ingress.yaml
Labels: area/cluster

revert proxy ing
  cluster/apps/default/hass-proxy/templates/ingress.yaml
Labels: area/cluster

revert
  cluster/apps/default/hass-proxy/templates/service.yaml
Labels: area/cluster

readd proxy ing
  cluster/apps/default/hass-proxy/templates/ingress.yaml
  cluster/apps/default/hass-proxy/templates/service.yaml
Labels: area/cluster

add agh proxy
  cluster/apps/default/hass-proxy/templates/ingress.yaml
  cluster/apps/default/hass-proxy/templates/service.yaml
  cluster/apps/default/hass-proxy/values.yaml
Labels: area/cluster

deploy adguard dns
  cluster/apps/system/adguard-dns/Chart.yaml
  cluster/apps/system/adguard-dns/Readme.md
  cluster/apps/system/adguard-dns/app-config.yaml
  cluster/apps/system/adguard-dns/templates/externalsecret.yaml
  cluster/apps/system/adguard-dns/values.yaml
Labels: area/cluster

fix secred guids
  cluster/apps/system/adguard-dns/templates/externalsecret.yaml
Labels: area/cluster

chore: gateway rework
  .claude/memory/MEMORY.md
  .plans/argocd-secret-replacer-k8s-provider.md
  .plans/migrate-sops-to-mounted-secret.md
  CLAUDE.md
  README.md
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
  cluster/apps/system/adguard-dns/values.yaml
  cluster/apps/system/cloudflare-dns/values.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
  docs/src/general/network.md
  docs/src/index.md
Labels: area/cluster

add claude settings
  .claude/settings.json
Labels: none

update migration plan
  .plans/migrate-sops-to-mounted-secret.md
Labels: none

disable adguard
  CLAUDE.md
  cluster/apps/system/adguard-dns/app-config.yaml
Labels: area/cluster

Chore/gateway rework (#3576)
  .claude/memory/MEMORY.md
  .claude/settings.json
  .plans/argocd-secret-replacer-k8s-provider.md
  .plans/migrate-sops-to-mounted-secret.md
  CLAUDE.md
  README.md
  cluster/apps/system/adguard-dns/app-config.yaml
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
  cluster/apps/system/adguard-dns/values.yaml
  cluster/apps/system/cloudflare-dns/values.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
  docs/src/general/network.md
  docs/src/index.md
Labels: area/cluster

update claude possibilities in tools usage
  .claude/memory/MEMORY.md
  .claude/settings.json
  .envrc
Labels: none

remove executed plan
  .plans/argocd-secret-replacer-k8s-provider.md
Labels: none

update plan
  .plans/migrate-sops-to-mounted-secret.md
Labels: none

chore(Phase 0): apply argocd changes
  cluster/apps/core/argocd/kustomization.yaml
  cluster/apps/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
  cluster/apps/core/argocd/resources/cluster-secrets-externalsecret.yaml
  cluster/apps/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

remove sops from simple apps
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/apps/core/rook-ceph/cluster/secret.sec.yaml
  cluster/apps/default/botkube/app-config.yaml
  cluster/apps/default/botkube/secret.sec.yaml
  cluster/apps/default/gethomepage/app-config.yaml
  cluster/apps/default/gethomepage/secret.sec.yaml
  cluster/apps/default/grocy/app-config.yaml
  cluster/apps/default/grocy/secret.sec.yaml
  cluster/apps/default/hass-proxy/app-config.yaml
  cluster/apps/default/hass-proxy/secret.sec.yaml
  cluster/apps/default/jellyfin/app-config.yaml
  cluster/apps/default/jellyfin/secret.sec.yaml
  cluster/apps/default/jellyfin/values.yaml
  cluster/apps/default/nfs-mounts/app-config.yaml
  cluster/apps/default/nfs-mounts/secret.sec.yaml
  cluster/apps/default/open-webui/app-config.yaml
  cluster/apps/default/open-webui/secret.sec.yaml
  cluster/apps/default/qnap-proxy/app-config.yaml
  cluster/apps/default/qnap-proxy/secret.sec.yaml
  cluster/apps/games/minecraft-bedrock/app-config.yaml
  cluster/apps/games/minecraft-bedrock/secret.sec.yaml
  cluster/apps/games/vintagestory/app-config.yaml
  cluster/apps/games/vintagestory/secret.sec.yaml
  cluster/apps/home-automation/ollama/app-config.yaml
  cluster/apps/home-automation/ollama/secret.sec.yaml
  cluster/apps/system/nfs-subdir-external-provisioner/app-config.yaml
  cluster/apps/system/nfs-subdir-external-provisioner/secret.sec.yaml
  cluster/apps/system/prometheus-stack/app-config.yaml
  cluster/apps/system/prometheus-stack/secret.sec.yaml
  cluster/apps/system/traefik/app-config.yaml
  cluster/apps/system/traefik/secret.sec.yaml
Labels: area/cluster

chore: replace sops in gitea
  cluster/apps/default/gitea/app-config.yaml
  cluster/apps/default/gitea/secret.sec.yaml
  cluster/apps/default/gitea/templates/s3-externalsecret.yaml
  cluster/apps/default/gitea/templates/secrets.yaml
Labels: area/cluster

chore: remove secrets from n8n
  cluster/apps/default/n8n/app-config.yaml
  cluster/apps/default/n8n/secret.sec.yaml
Labels: area/cluster

chore: migrate litellm from sops
  cluster/apps/core/argocd/resources/cluster-secrets-externalsecret.yaml
  cluster/apps/default/litellm/app-config.yaml
  cluster/apps/default/litellm/secret.sec.yaml
  cluster/apps/default/litellm/templates/api-externalsecret.yaml
  cluster/apps/default/litellm/templates/secrets.yaml
  cluster/apps/default/litellm/values.yaml
Labels: area/cluster
