Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.90.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to ef76653
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix(deps): update talos group
  .github/.devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to fc2a6a3
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.1
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 60.4.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 7.7.6
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.2
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.36.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to c9d17ef
  .devcontainer/devcontainer.json
Labels: none

fix(deps): update cert-manager/cert-manager to v1.15.1
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.3
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v3.0.2
  .github/.devcontainer/Dockerfile
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to a43e172
  .devcontainer/devcontainer.json
Labels: none

fix(helm-chart): update helm release oauth2-proxy to 7.7.8
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.4
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 60.5.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to ab2c4c5
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.5
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 6416eb6
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 61.1.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.6
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.11.4
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.7
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/grocy/values.yaml
Labels: area/cluster

feat(docker-image): update lscr.io/linuxserver/grocy docker tag to v3.3.2
  cluster/apps/grocy/values.yaml
Labels: area/cluster

feat(docker-image)!: Update lscr.io/linuxserver/grocy Docker tag to v4
  cluster/apps/grocy/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/linuxserver/jellyfin docker tag to v10.9.7
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.16.1
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 61.2.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.7.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.8
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.8
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.22.1
  cluster/apps/gitea/values.yaml
Labels: area/cluster

ci(github-action): update docker/setup-buildx-action action to v3.4.0
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

feat(helm-chart)!: Update Helm release traefik to 29.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.7.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.9
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.20
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster
