Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

add export krew to bashrc
  .devcontainer/scripts/onCreateCommand.sh
Labels: none

fix traefik redirect port
  cluster/system/traefik/values.yaml
Labels: area/cluster

update renovate groups
  .github/renovate/groups.json5
Labels: area/github

download mods dynamic
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix backup user
  cluster/games/vintagestory/templates/volsync.yaml
Labels: area/cluster

Increase vintagestory ram limit
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

enable health probes
  cluster/system/identity/keycloak/templates/deployment.yaml
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable https
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

enable http
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

increase kc probes
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix proxy
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

revert probe
  cluster/system/identity/keycloak/templates/deployment.yaml
Labels: area/cluster

update mod for vintagestory
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

update mods
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

update files
  .grit/.gitignore
  .grit/grit.yaml
  provision/terraform/cloudflare/account.tf
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

add new mod
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix tolerations
  cluster/system/intel-gpu-plugin/values.yaml
Labels: area/cluster

add open-webui
  cluster/apps/open-webui/Chart.yaml
  cluster/apps/open-webui/values.yaml
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

add open-webui to apps
  cluster/projects/apps/values.yaml
Labels: area/cluster

remove values
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

add chat ingress
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

add sops to chat
  cluster/apps/open-webui/secret.sec.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

reconfig oi
  cluster/apps/open-webui/values.yaml
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

pull one model only
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

run model by default
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

disable oi ws
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

no ollama models
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

add igpu to oi
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

add igpu to ollama
  cluster/apps/open-webui/values.yaml
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

fix limit
  cluster/home-automation/ollama/values.yaml
Labels: area/cluster

add chat domain to public
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

Update values.yaml
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

disable dev mode
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

update branch
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add tf lock file
  .gitignore
  .vscode/settings.json
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/account.tf
Labels: area/terraform

add nut-client
  provision/talos/talconfig.yaml
  provision/talos/talenv.sops.yaml
Labels: none

add jetson to cluster
  provision/talos/clusterconfig/.gitignore
  provision/talos/talconfig.yaml
Labels: none

allow csr for new node
  cluster/system/kubelet-csr-approver/values.yaml
Labels: area/cluster

fix taskfile
  .taskfiles/talos/Taskfile.yaml
Labels: none

add option to force reinstall
  .taskfiles/talos/Taskfile.yaml
  provision/talos/talconfig.yaml
Labels: none
