Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(helm-chart): update helm release snapshot-controller to 3.0.4
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 60.1.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.30.2
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.7
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.90.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.21.5
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to 692973e
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.8
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.6
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release traefik to 28.3.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.18.4
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.90.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.9
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 08cc5e2
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.6.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to a84c0bb
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to ffc66f8
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 7.7.4
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 60.2.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 700a09f
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 3.0.5
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 9.1.0
  provision/ansible/requirements.yml
Labels: area/ansible

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.10
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.6.1
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.11
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kubelet-csr-approver to 1.2.2
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.12
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v25.0.1
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 60.3.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/alpine:latest docker digest to 5f48f60
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.0
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/alpine:latest docker digest to b89d9c9
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 231cdf0
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 7d1d22e
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 5416473
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 1828dc7
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 2ad7534
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v24.6.1
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.6.4
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.14.7
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
