Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

change sudo to su
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

add set
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

remove bg jobs
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

test
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

test 2
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

fix 1
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

fix 2
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

move apt
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

shell debug
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

pwm
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

pwd
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

test echo
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

su command
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

fix env
  .github/.devcontainer/local-features/homebrew/devcontainer-feature.json
Labels: area/github

t3
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

t4
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

t5
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

t6
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

t7
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

cat
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

t7
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

try echo path
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

move path
  .github/.devcontainer/local-features/homebrew/devcontainer-feature.json
Labels: area/github

add doctor
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

add path
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

add sudo options
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

remove doctor
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

fix options order
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

fix script
  .github/.devcontainer/devcontainer.json
Labels: area/github

test command
  .github/.devcontainer/devcontainer.json
Labels: area/github

test command runs
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/setup.sh
  .github/workflows/devcontainer-publish.yml
Labels: area/github

add command execution
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/setup.sh
Labels: area/github

fix setup path
  .github/.devcontainer/devcontainer.json
Labels: area/github

change setup path
  .github/.devcontainer/devcontainer.json
Labels: area/github

fix command
  .github/.devcontainer/devcontainer.json
Labels: area/github

fix(deps): update argoproj/argo-cd to v2.10.5
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.28.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

add common feature
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/common/devcontainer-feature.json
  .github/.devcontainer/local-features/common/install.sh
  .github/.devcontainer/local-features/common/install_user.sh
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_user.sh
Labels: area/github

change feature reference
  .github/.devcontainer/local-features/common/devcontainer-feature.json
Labels: area/github

clean envs
  .github/.devcontainer/local-features/common/devcontainer-feature.json
  .github/.devcontainer/setup.sh
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
