Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(helm-chart): update helm release external-secrets to 0.9.13
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 811945a
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 4ff2cad
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

ci(github-action): update yokawasa/action-setup-kube-tools action to v0.10.0
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

feat(helm-chart): update helm release traefik to 26.1.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 56.8.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.2.1
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 56.8.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.25.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.22
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v23.0.7
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

ci(github-action): update yokawasa/action-setup-kube-tools action to v0.11.0
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to ec74790
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.7
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 10.1.3
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release minecraft-bedrock to 2.4.1
  cluster/apps/minecraft/bedrock/Chart.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 8.4.0
  provision/ansible/requirements.yml
Labels: area/ansible

chore(docker-image): update haproxy:2.9-alpine docker digest to 70810c0
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 0b8ce5e
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release botkube to v1.9.1
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to fa43d83
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 6.24.2
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(terraform-provider): update terraform http to 3.4.2
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(deps): update argoproj/argo-cd to v2.10.2
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release oauth2-proxy to 7.1.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to d2b17bd
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.104 docker digest to 6eef66f
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to e45aa21
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v24
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 08845a0
  .devcontainer/Dockerfile
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.26.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.3.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.22.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v2.3.4
  .devcontainer/Dockerfile
Labels: none

fix(helm-chart): update helm release volsync to 0.8.1
  cluster/system/volsync/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.13.6
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.14.4
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 56.21.4
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.27
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.104 docker digest to cec3dde
  cluster/apps/factorio/values.yaml
Labels: area/cluster
