Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix cluster name
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

enable backups
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

enable oauth
  cluster/projects/system/values.yaml
Labels: area/cluster

start botkube and nfs
  cluster/projects/apps/values.yaml
Labels: area/cluster

disable auto sync
  cluster/projects/apps/values.yaml
Labels: area/cluster

enable jellyfin
  cluster/projects/apps/values.yaml
  cluster/system/volsync/README.md
Labels: area/cluster

add restore
  cluster/apps/jellyfin/templates/volsync.yaml
Labels: area/cluster

add user files
  cluster/apps/jellyfin/templates/volsync.yaml
  cluster/system/volsync/README.md
Labels: area/cluster

talos add intel gpu
  provision/talos/talconfig.yaml
Labels: none

add intel plugin to psp
  cluster/projects/system/values.yaml
Labels: area/cluster

add nfd limits
  cluster/system/node-feature-discovery/values.yaml
Labels: area/cluster

update nfd to only intel gpu
  cluster/system/node-feature-discovery/values.yaml
Labels: area/cluster

update name
  cluster/system/intel-gpu-plugin/values.yaml
Labels: area/cluster

add template
  cluster/system/intel-gpu-plugin/templates/nodefeaturerule.yaml
  cluster/system/intel-gpu-plugin/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.11.6
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.6.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm-chart): update helm release kube-prometheus-stack to 45.28.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

remove volsync restore from jellyfin
  cluster/apps/jellyfin/templates/volsync.yaml
  cluster/system/volsync/README.md
Labels: area/cluster

restore calibre
  cluster/apps/calibre/templates/volsync.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

remove restore from calibre
  cluster/apps/calibre/templates/volsync.yaml
Labels: area/cluster

add gitea restore
  cluster/apps/gitea/templates/volsync.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

add recovery for cnpg gitea
  cluster/apps/gitea/values.yaml
Labels: area/cluster

disable backup
  cluster/apps/gitea/values.yaml
Labels: area/cluster

remove gitea restore
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

a
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

update user
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

add container context
  cluster/apps/gitea/values.yaml
Labels: area/cluster

enable rootfull for gitea
  cluster/apps/gitea/values.yaml
Labels: area/cluster

a
  cluster/apps/gitea/values.yaml
Labels: area/cluster

change groups
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

rootless
  cluster/apps/gitea/values.yaml
Labels: area/cluster

add test pod
  cluster/apps/gitea/templates/t.yaml
Labels: area/cluster

change permissions
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

change perms
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

chore(docker-image): pin nginx docker tag to 480868e
  cluster/apps/gitea/templates/t.yaml
Labels: area/cluster

update uids for gitea
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix groups again...
  cluster/apps/gitea/templates/volsync.yaml
  cluster/apps/gitea/values.yaml
Labels: area/cluster

remove restore gitea
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

remove help container
  cluster/apps/gitea/templates/t.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
