Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

clean up configs
  provision/talos/talconfig.yaml
Labels: none

clean up gitignore
  provision/talos/clusterconfig/.gitignore
Labels: none

update secrets
  provision/talos/talsecret.sops.yaml
Labels: none

add kubelet-csr-approver to talos
  cluster/projects/system/apps/values.yaml
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: area/cluster

add instalation of csr approver
  provision/talos/talconfig.yaml
Labels: none

feat(docker-image): update quay.io/keycloak/keycloak docker tag to v21.1.1
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable all apps - cluster recreate
  cluster/projects/apps/apps/values.yaml
  cluster/projects/core/apps/values.yaml
  cluster/projects/system/apps/values.yaml
Labels: area/cluster

enable core projects
  cluster/projects/apps/apps/templates/app-template.yaml
  cluster/projects/core/apps/templates/app-template.yaml
  cluster/projects/core/apps/values.yaml
  cluster/projects/system/apps/templates/app-template.yaml
Labels: area/cluster

disable sync as default
  cluster/projects/apps/apps/templates/app-template.yaml
  cluster/projects/core/apps/templates/app-template.yaml
  cluster/projects/system/apps/templates/app-template.yaml
Labels: area/cluster

enable traefik
  cluster/projects/system/apps/values.yaml
Labels: area/cluster

enable some apps
  cluster/projects/apps/apps/values.yaml
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

disable prune
  cluster/core/argocd/resources/app-of-apps.yaml
Labels: area/cluster

remove flannel as it is managed by talos
  archive/kube-system/flannel/kustomization.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

ignore metallb certs
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.13.1
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

configure rook-ceph
  cluster/.tools/wipe-rook.yaml
  cluster/system/rook-ceph/rook-ceph-cluster/values.yaml
  cluster/system/rook-ceph/rook-ceph-operator/values.yaml
Labels: area/cluster

configure rook-ceph (#338)
  cluster/.tools/wipe-rook.yaml
  cluster/system/rook-ceph/rook-ceph-cluster/values.yaml
  cluster/system/rook-ceph/rook-ceph-operator/values.yaml
Labels: area/cluster

move rook to core
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/secret.sec.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/templates/cert.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/templates/ingress.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/values.yaml
  cluster/projects/core/apps/values.yaml
  cluster/projects/system/apps/values.yaml
Labels: area/cluster

disable prometheus
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

privilage ns
  cluster/projects/core/apps/templates/app-template.yaml
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to 5faff3f
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix spec
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

enable toolbox
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

add sll bk
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

fix c
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release traefik to 23.0.1
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

disable monitoring
  .devcontainer/Dockerfile
  .envrc
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
  provision/talos/talconfig.yaml
Labels: area/cluster

feat(helm-chart): update helm release cloudnative-pg to 0.18.0
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/joshuaavalon/cloudflare-ddns docker tag to v3.0.1
  cluster/system/dyndns/resources/deployment.yaml
Labels: area/cluster

feat(deps): update argoproj/argo-cd to v2.7.1
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.7-alpine docker digest to 406e20a
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.11.5
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.5.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update gitea/gitea docker tag to v1.19.3
  cluster/apps/gitea/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 8.3.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 45.26.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add timeserver
  provision/talos/talconfig.yaml
Labels: none

upgrade talos
  provision/talos/README.md
  provision/talos/talconfig.yaml
Labels: none

feat(deps): update pre-commit hook ansible/ansible-lint to v6.16.0
  .pre-commit-config.yaml
Labels: none

enable monitoring
  cluster/projects/system/apps/values.yaml
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
