Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.32
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 57.1.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 7648a8a
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v24.0.2
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.27.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(ansible-collection): update community.general to 8.5.0
  provision/ansible/requirements.yml
Labels: area/ansible

fix(docker-image): update gitea/gitea docker tag to v1.21.10
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v2.3.9
  .devcontainer/Dockerfile
Labels: none

Create devcontainer-publish.yml
  .github/workflows/devcontainer-publish.yml
Labels: area/github

ci(github-action): update docker/build-push-action action to v5.3.0
  .github/workflows/devcontainer-publish.yml
Labels: area/github

ci(github-action): update docker/login-action action to v3.1.0
  .github/workflows/devcontainer-publish.yml
Labels: area/github

Update devcontainer-publish.yml
  .github/workflows/devcontainer-publish.yml
Labels: area/github

Update devcontainer-publish.yml
  .github/workflows/devcontainer-publish.yml
Labels: area/github

Update devcontainer-publish.yml (#1250)
  .github/workflows/devcontainer-publish.yml
Labels: area/github

fix(deps): update metallb/metallb to v0.14.4
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

ci(github-action): update docker/metadata-action action to v5.5.1
  .github/workflows/devcontainer-publish.yml
Labels: area/github

ci(github-action): update docker/setup-buildx-action action to v3.2.0
  .github/workflows/devcontainer-publish.yml
Labels: area/github

Update devcontainer-publish.yml
  .github/workflows/devcontainer-publish.yml
Labels: area/github

ci(github-action): update sigstore/cosign-installer action to v3.4.0
  .github/workflows/devcontainer-publish.yml
Labels: area/github

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

push new build step of container with features
  .github/.devcontainer/Dockerfile
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/setup.sh
  .github/workflows/devcontainer-publish.yml
Labels: area/github

remove unnecesarry step
  .github/.devcontainer/devcontainer.json
Labels: area/github

fix action folder
  .github/workflows/devcontainer-publish.yml
Labels: area/github

fix user
  .github/.devcontainer/Dockerfile
Labels: area/github

add homebrew
  .github/.devcontainer/devcontainer.json
Labels: area/github

fix devcontainer build
  .github/.devcontainer/devcontainer.json
Labels: area/github

add hombrew legit install
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/homebrew/devcontainer-feature.json
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

fix hb install
  .github/.devcontainer/local-features/homebrew/devcontainer-feature.json
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

fix brew reference for current shell
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

fix homebrew path
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

fix script
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

fix mising brew on root
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

add brew to path
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

test brew su
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

test brew installation
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

cleanup
  .github/.devcontainer/local-features/homebrew/devcontainer-feature.json
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

fix evals
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

fix brew analytics
  .github/.devcontainer/local-features/homebrew/install.sh
Labels: area/github

add check of brew installation
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_hb.sh
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
