Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

add homepage
  .pre-commit-config.yaml
  cluster/apps/gethomepage/Chart.yaml
  cluster/apps/gethomepage/secret.sec.yaml
  cluster/apps/gethomepage/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

specify ansible path to check
  .pre-commit-config.yaml
  cluster/apps/gethomepage/values.yaml
Labels: area/cluster

update ansible lint hook
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update factoriotools/factorio docker tag to v1.1.83
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to df214f2
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to cf1fe77
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 8df14c2
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 6042aa4
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to bdc35cf
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.27.3
  .taskfiles/talos.yml
Labels: none

split files
  provision/terraform/cloudflare/account.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/providers.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

remove account
  provision/terraform/cloudflare/account.tf
Labels: area/terraform

chore(docker-image): update haproxy:2.8-alpine docker digest to d3a5efb
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

migrate from sops to doppler for terraform
  provision/terraform/cloudflare/doppler_secrets.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/providers.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/secret.sops.yaml
  provision/terraform/cloudflare/variables.tf
  provision/terraform/secret.sops.yaml
Labels: area/terraform

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

remove dyndns updates
  provision/terraform/cloudflare/account.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

lint fixes
  provision/terraform/cloudflare/doppler_secrets.tf
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

feat(deps): update pre-commit hook zricethezav/gitleaks to v8.17.0
  .pre-commit-config.yaml
Labels: none

add firewall rules
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

missing }
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix zone name
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

manage single zone
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

update rules
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

move depends_on
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

fix spacing
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

Miggrate terraform state to cloud (#428)
  provision/terraform/cloudflare/account.tf
  provision/terraform/cloudflare/doppler_secrets.tf
  provision/terraform/cloudflare/firewall.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/providers.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/secret.sops.yaml
  provision/terraform/cloudflare/variables.tf
  provision/terraform/cloudflare/zone.tf
  provision/terraform/secret.sops.yaml
Labels: area/terraform

fix ruleset
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

update account values
  provision/terraform/cloudflare/account.tf
Labels: area/terraform

fix rules
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

add ship action parameters
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

skip logging
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

fix(helm-chart): update rook-ceph-suite group to v1.11.8
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.84
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 4b666f7
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 8a7c8ca
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.12.2
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.7.5
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 5634208
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.85
  cluster/apps/factorio/values.yaml
Labels: area/cluster

Update sops-replacer-plugin.yaml
  cluster/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
