Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix json miss
  cluster/projects/system/values.yaml
Labels: area/cluster

add missed path
  cluster/projects/system/values.yaml
Labels: area/cluster

enable selfheal
  cluster/projects/system/values.yaml
Labels: area/cluster

check problems with self-heal
  cluster/core/argocd/projects/system/app-of-apps.yaml
Labels: area/cluster

d sh
  cluster/core/argocd/projects/system/app-of-apps.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 154c7fb
  .devcontainer/devcontainer.json
Labels: none

fix(docker-image): update talos group to v1.7.4
  .github/.devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

cloudnative-pg add serverside apply
  cluster/projects/system/values.yaml
Labels: area/cluster

ignore cabundle in cnpg
  cluster/projects/system/values.yaml
Labels: area/cluster

add global ignore for caBundle
  cluster/core/argocd/patches/argocd-cm.yaml
Labels: area/cluster

remove local cabundle ignores
  cluster/projects/system/values.yaml
Labels: area/cluster

feat(deps): update pre-commit hook ansible/ansible-lint to v24.6.0
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.1
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.19
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

feat(deps): update cert-manager/cert-manager to v1.15.0
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.2
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.6.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 681fdc7
  .devcontainer/devcontainer.json
Labels: none

fix(deps): update argoproj/argo-cd to v2.11.3
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 60.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.3
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 10.2.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release snapshot-controller to 3.0.3
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 60.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.6.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.4
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 60.0.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(docker-image)!: Update quay.io/keycloak/keycloak Docker tag to v25
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 7.7.2
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix routes for traefik v3
  cluster/core/argocd/resources/ingress.yaml
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.5
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 041345f
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 2e81321
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to 4d2286f
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to a9b4644
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.6.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.90.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.16.6
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release vernemq to 2.0.1
  cluster/home-automation/vernemq/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.35.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform
