Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

remove domain
  provision/talos/talconfig.yaml
Labels: none

move kured to archive
  archive/kured/Chart.yaml
  archive/kured/secret.sec.yaml
  archive/kured/templates/secret.yaml
  archive/kured/values.yaml
Labels: none

add volsync
  cluster/projects/system/apps/values.yaml
  cluster/system/volsync/Chart.yaml
  cluster/system/volsync/values.yaml
Labels: area/cluster

change ClusterSecretStore name
  cluster/system/external-secrets/templates/secretstore.yaml
Labels: area/cluster

feat(helm-chart): update helm release traefik to 22.3.0
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

add valheim secret
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

fix secret name
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

fix name again :/
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

update template
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

update template
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

add volume sync to valheim
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

update valheim number of backups
  cluster/apps/valheim/values.yaml
Labels: area/cluster

update cert approver
  cluster/system/kubelet-csr-approver/values.yaml
Labels: area/cluster

add label valheim restic
  cluster/apps/valheim/templates/volsync.yaml
Labels: area/cluster

add minecraft backup
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

add new snapclass
  cluster/system/snapshot-controller/values.yaml
Labels: area/cluster

fix snapsohot class
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
  cluster/system/snapshot-controller/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 45.21.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

change copy method
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

change snapshot class
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

change copy method
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

update storage class provisioner
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

change cache class
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

add backup for jellyfin
  cluster/apps/jellyfin/templates/volsync.yaml
Labels: area/cluster

change user
  cluster/apps/jellyfin/templates/volsync.yaml
Labels: area/cluster

feat(terraform-provider): update terraform http to 3.3.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

add grocy volsync
  cluster/apps/grocy/templates/volsync.yaml
Labels: area/cluster

fix group
  cluster/apps/grocy/templates/volsync.yaml
Labels: area/cluster

add gitea backup
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

add security
  cluster/apps/gitea/templates/volsync.yaml
Labels: area/cluster

add factorio volsync
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

fix datadir
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

fix fs group
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

add sync to calibre
  cluster/apps/calibre/templates/volsync.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.17.2
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to df75415
  .devcontainer/Dockerfile
Labels: none

remove empty token
  secret-doppler-token-auth-api.yaml
Labels: none

update talosconf for new cluster
  .github/renovate/allowedVersions.json5
  provision/talos/talconfig.yaml
  provision/talos/talsecret.sops.yaml
Labels: area/github

feat(deps): update kubernetes/kubernetes to v1.27.1
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

feat(helm-chart)!: Update Helm release traefik to 23.0.0
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster
