Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

add n8n
  cluster/apps/n8n/Chart.yaml
  cluster/apps/n8n/secret.sec.yaml
  cluster/apps/n8n/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

fix snapshot class
  charts/volsync/templates/replicationdestination.yaml
  charts/volsync/values.yaml
Labels: none

update replica source config
  charts/volsync/templates/replicationsource.yaml
Labels: none

update volsync n8n
  charts/volsync/templates/replicationdestination.yaml
Labels: none

fix bootstrap pvc circural dep
  charts/volsync/templates/replicationdestination.yaml
  charts/volsync/values.yaml
Labels: none

fix restic secret repo path
  charts/volsync/templates/resticsecret.yaml
Labels: none

fix gitea redis
  cluster/apps/gitea/values.yaml
Labels: area/cluster

disable gitea redis ha
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/customManagers.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/groups.json5
  .github/renovate/managers.json5
  .github/renovate/regexmanager.json5
  cluster/apps/gitea/values.yaml
Labels: area/github, area/cluster

fix apps project name
  cluster/projects/default/Chart.yaml
  cluster/projects/default/values.yaml
Labels: area/cluster

fix chart ref
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/litellm/Chart.yaml
  cluster/apps/default/n8n/Chart.yaml
Labels: area/cluster

prepare rook
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/rook-ceph/cluster/Chart.yaml
  cluster/apps/core/rook-ceph/cluster/app-config.yaml
  cluster/apps/core/rook-ceph/cluster/secret.sec.yaml
  cluster/apps/core/rook-ceph/cluster/values.yaml
  cluster/apps/core/rook-ceph/operator/Chart.yaml
  cluster/apps/core/rook-ceph/operator/app-config.yaml
  cluster/apps/core/rook-ceph/operator/values.yaml
  cluster/apps/core/rook-ceph/rook-ceph-appset.yaml
Labels: area/cluster

move configs to list
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/cilium/app-config.yaml
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/apps/core/rook-ceph/cluster/app-config.yaml
  cluster/apps/core/rook-ceph/operator/app-config.yaml
  cluster/apps/core/rook-ceph/rook-ceph-appset.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

test
  cluster/apps/core/cilium/app-config.yaml
Labels: area/cluster

allow to disable app
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/cilium/app-config.yaml
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/apps/core/rook-ceph/cluster/app-config.yaml
  cluster/apps/core/rook-ceph/operator/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

fix empty keys
  cluster/apps/core/cilium/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

fix selector
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/cilium/app-config.yaml
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/apps/core/rook-ceph/cluster/app-config.yaml
  cluster/apps/core/rook-ceph/operator/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

fix template generation
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

add name prefix
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

grouping of apps
  cluster/apps/core/rook-ceph/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

fix syncpolicy enablement
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/cilium/app-config.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

fix policy again
  cluster/appsets/appset-core.yaml
Labels: area/cluster

disable sync for core
  cluster/apps/core/cilium/app-config.yaml
  cluster/apps/core/rook-ceph/app-config.yaml
Labels: area/cluster

rook clyster disable outSync
  cluster/apps/core/rook-ceph/app-config.yaml
Labels: area/cluster

fix appset lifecycle
  charts/app-of-apps/values.yaml
  cluster/appsets/appset-core.yaml
Labels: area/cluster

move games
  cluster/apps/games/minecraft-bedrock/Chart.yaml
  cluster/apps/games/minecraft-bedrock/app-config.yaml
  cluster/apps/games/minecraft-bedrock/secret.sec.yaml
  cluster/apps/games/minecraft-bedrock/templates/_helpers.tpl
  cluster/apps/games/minecraft-bedrock/templates/pvc.yaml
  cluster/apps/games/minecraft-bedrock/templates/volsync.yaml
  cluster/apps/games/minecraft-bedrock/values.yaml
  cluster/apps/games/vintagestory/Chart.yaml
  cluster/apps/games/vintagestory/app-config.yaml
  cluster/apps/games/vintagestory/files/configmaps/mods-config/mods.json
  cluster/apps/games/vintagestory/secret.sec.yaml
  cluster/apps/games/vintagestory/templates/common.yaml
  cluster/apps/games/vintagestory/templates/volsync.yaml
  cluster/apps/games/vintagestory/values.yaml
  cluster_old/projects/games/Chart.yaml
  cluster_old/projects/games/values.yaml
Labels: area/cluster

move ha
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/app-config.yaml
  cluster/apps/home-automation/home-assistant/secret.sec.yaml
  cluster/apps/home-automation/home-assistant/templates/cnpg.yaml
  cluster/apps/home-automation/home-assistant/templates/pvc.yaml
  cluster/apps/home-automation/home-assistant/templates/secrets.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/home-automation/ollama/Chart.yaml
  cluster/apps/home-automation/ollama/app-config.yaml
  cluster/apps/home-automation/ollama/secret.sec.yaml
  cluster/apps/home-automation/ollama/values.yaml
  cluster/apps/home-automation/openwakeword/Chart.yaml
  cluster/apps/home-automation/openwakeword/Readme.md
  cluster/apps/home-automation/openwakeword/app-config.yaml
  cluster/apps/home-automation/openwakeword/hej_maniek.json
  cluster/apps/home-automation/openwakeword/hej_maniek.tflite
  cluster/apps/home-automation/openwakeword/hey_jenny.tflite
  cluster/apps/home-automation/openwakeword/values.yaml
  cluster/apps/home-automation/piper/Chart.yaml
  cluster/apps/home-automation/piper/app-config.yaml
  cluster/apps/home-automation/piper/values.yaml
  cluster/apps/home-automation/vernemq/Chart.yaml
  cluster/apps/home-automation/vernemq/app-config.yaml
  cluster/apps/home-automation/vernemq/templates/external-secret.yaml
  cluster/apps/home-automation/vernemq/values.yaml
  cluster/apps/home-automation/whisper/Chart.yaml
  cluster/apps/home-automation/whisper/app-config.yaml
  cluster/apps/home-automation/whisper/values.yaml
  cluster_old/projects/home-automation/Chart.yaml
  cluster_old/projects/home-automation/values.yaml
Labels: area/cluster

clean up old cluster
  docs/src/k8s/oidc/Readme.md
  docs/src/k8s/oidc/ns-roles/role-binding.yaml
  docs/src/k8s/oidc/ns-roles/role.yaml
  docs/src/k8s/oidc/oidc-admin-role.yaml
Labels: none

cleanup argocd
  cluster/apps/core/argocd/kustomization.yaml
  cluster/apps/core/argocd/resources/app-of-apps.yaml
Labels: area/cluster

fix bootstrap to manage itself
  cluster/bootstrap-application.yaml
Labels: area/cluster

fix name of diff file
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

switch to main branch
  cluster/appsets/appset-core.yaml
  cluster/appsets/appset-default.yaml
  cluster/appsets/appset-games.yaml
  cluster/appsets/appset-home-automation.yaml
  cluster/appsets/appset-system.yaml
  cluster/bootstrap-application.yaml
Labels: area/cluster

fix appset worng sync option
  cluster/appsets/appset-core.yaml
  cluster/appsets/appset-default.yaml
  cluster/appsets/appset-games.yaml
  cluster/appsets/appset-home-automation.yaml
  cluster/appsets/appset-system.yaml
Labels: area/cluster

fix revision reference
  cluster/appsets/appset-core.yaml
  cluster/appsets/appset-default.yaml
  cluster/appsets/appset-games.yaml
  cluster/appsets/appset-home-automation.yaml
  cluster/appsets/appset-system.yaml
Labels: area/cluster

support plugin ain app set
  cluster/appsets/appset-core.yaml
  cluster/appsets/appset-default.yaml
  cluster/appsets/appset-games.yaml
  cluster/appsets/appset-home-automation.yaml
  cluster/appsets/appset-system.yaml
Labels: area/cluster

disable homepage and grocy
  cluster/apps/default/gethomepage/app-config.yaml
  cluster/apps/default/grocy/app-config.yaml
Labels: area/cluster

disable ha
  cluster/apps/home-automation/home-assistant/app-config.yaml
Labels: area/cluster

delete old projects
  cluster/apps/core/argocd/projects/apps/app-of-apps.yaml
  cluster/apps/core/argocd/projects/apps/apps.yaml
  cluster/apps/core/argocd/projects/apps/kustomization.yaml
  cluster/apps/core/argocd/projects/core/app-of-apps.yaml
  cluster/apps/core/argocd/projects/core/core.yaml
  cluster/apps/core/argocd/projects/core/kustomization.yaml
  cluster/apps/core/argocd/projects/games/app-of-apps.yaml
  cluster/apps/core/argocd/projects/games/apps.yaml
  cluster/apps/core/argocd/projects/games/kustomization.yaml
  cluster/apps/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/apps/core/argocd/projects/home-automation/home-automation.yaml
  cluster/apps/core/argocd/projects/home-automation/kustomization.yaml
  cluster/apps/core/argocd/projects/kustomization.yaml
  cluster/apps/core/argocd/projects/system/app-of-apps.yaml
  cluster/apps/core/argocd/projects/system/kustomization.yaml
  cluster/apps/core/argocd/projects/system/system.yaml
Labels: area/cluster

fix prune
  cluster/bootstrap-application.yaml
Labels: area/cluster

fix gitea path
  .github/renovate/customManagers.json5
Labels: area/github

pin the version
  cluster/apps/games/minecraft-bedrock/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
