Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

chore: remove sops from keycloak
  cluster/apps/system/keycloak/app-config.yaml
  cluster/apps/system/keycloak/secret.sec.yaml
  cluster/apps/system/keycloak/templates/s3-externalsecret.yaml
  cluster/apps/system/keycloak/templates/secrets.yaml
Labels: area/cluster

chore migrate to sops cert-manager
  cluster/apps/system/cert-manager/app-config.yaml
  cluster/apps/system/cert-manager/kustomization.yaml
  cluster/apps/system/cert-manager/resources/api-token-externalsecret.yaml
  cluster/apps/system/cert-manager/resources/secret.yaml
  cluster/apps/system/cert-manager/secret.sec.yaml
Labels: area/cluster

chore: migrate oath proxy
  cluster/apps/system/oauth2-proxy/app-config.yaml
  cluster/apps/system/oauth2-proxy/secret.sec.yaml
  cluster/apps/system/oauth2-proxy/templates/credentials-externalsecret.yaml
  cluster/apps/system/oauth2-proxy/templates/secret.yaml
Labels: area/cluster

chore: migrate dyndns
  cluster/apps/system/dyndns/app-config.yaml
  cluster/apps/system/dyndns/kustomization.yaml
  cluster/apps/system/dyndns/resources/externalsecret.yaml
  cluster/apps/system/dyndns/resources/secret.yaml
  cluster/apps/system/dyndns/secret.sec.yaml
Labels: area/cluster

cloude
  .claude/memory/MEMORY.md
  .plans/migrate-sops-to-mounted-secret.md
Labels: none

migrate external-secrets
  cluster/apps/system/external-secrets/app-config.yaml
  cluster/apps/system/external-secrets/secret.sec.yaml
  cluster/apps/system/external-secrets/templates/secret.yaml
Labels: area/cluster

migrate envoy
  cluster/apps/system/envoy-gateweay/app-config.yaml
Labels: area/cluster

migrate argocd
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/argocd/kustomization.yaml
  cluster/apps/core/argocd/patches/argocd-secret.yaml
  cluster/apps/core/argocd/resources/argocd-oidc-externalsecret.yaml
  cluster/apps/core/argocd/resources/repository-externalsecret.yaml
  cluster/apps/core/argocd/resources/repository.yaml
  cluster/apps/core/argocd/secret.sec.yaml
Labels: area/cluster

migrate ha
  cluster/apps/home-automation/home-assistant/app-config.yaml
  cluster/apps/home-automation/home-assistant/secret.sec.yaml
  cluster/apps/home-automation/home-assistant/templates/secrets.yaml
Labels: area/cluster

remove sops usages
  .plans/migrate-sops-to-mounted-secret.md
  .sops.yaml
  cluster/apps/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
  cluster/apps/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

post sops removal cleanup
  .claude/memory/MEMORY.md
  .plans/migrate-sops-to-mounted-secret.md
  CLAUDE.md
  README.md
Labels: none

chore: replace doppler
  charts/volsync/templates/resticsecret.yaml
  cluster/apps/default/gitea/templates/volsync.yaml
  cluster/apps/default/grocy/templates/volsync.yaml
  cluster/apps/default/jellyfin/templates/volsync.yaml
  cluster/apps/games/minecraft-bedrock/templates/volsync.yaml
  cluster/apps/games/vintagestory/templates/volsync.yaml
  cluster/apps/home-automation/vernemq/templates/external-secret.yaml
  cluster/apps/system/external-secrets/templates/secret.yaml
  cluster/apps/system/external-secrets/templates/secretstore.yaml
  cluster/apps/system/talos-backup/templates/secrets.yaml
  provision/terraform/cloudflare/doppler_secrets.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/providers.tf
  provision/terraform/cloudflare/records.tf
  provision/terraform/cloudflare/variables.tf
Labels: area/cluster, area/terraform

update docs
  .claude/memory/MEMORY.md
  README.md
  docs/src/index.md
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix tf
  .claude/memory/MEMORY.md
  README.md
  provision/terraform/cloudflare/bitwarden_secrets.tf
  provision/terraform/cloudflare/providers.tf
Labels: area/terraform

cleanup talhelper
  .taskfiles/talos/Taskfile.yaml
  provision/talos/bak_talenv.sops.yaml_bak
  provision/talos/bak_talsecret.sops.yaml_bak
Labels: none

ignore secret
  cluster/apps/core/argocd/app-config.yaml
Labels: area/cluster

fix app-config schema
  .vscode/app-config.schema.json
  .vscode/settings.json
Labels: none

add timings for debugging plugin
  cluster/apps/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

fix prop
  cluster/apps/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

debug kustomize
  cluster/apps/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
  cluster/apps/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

revert cpu on kustomize pod
  cluster/apps/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

rise the limits of plugins
  cluster/apps/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix the kustomize replacer
  cluster/apps/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

bootstrap overhaul
  .claude/memory/MEMORY.md
  .claude/memory/feedback_docs_updates.md
  .devcontainer/scripts/postStartCommand.sh
  .github/mkdocs/mkdocs.yml
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/app-config.schema.json
  CLAUDE.md
  README.md
  cluster/apps/system/external-secrets/app-config.yaml
  cluster/appsets/appset-core.yaml
  cluster/appsets/appset-default.yaml
  cluster/appsets/appset-games.yaml
  cluster/appsets/appset-home-automation.yaml
  cluster/appsets/appset-system.yaml
  docs/src/k8s/bootstrap.md
Labels: area/github, area/cluster

cluster bootstrap overhaul (#3586)
  .claude/memory/MEMORY.md
  .claude/memory/feedback_docs_updates.md
  .devcontainer/scripts/postStartCommand.sh
  .github/mkdocs/mkdocs.yml
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/app-config.schema.json
  CLAUDE.md
  README.md
  cluster/apps/system/external-secrets/app-config.yaml
  cluster/appsets/appset-core.yaml
  cluster/appsets/appset-default.yaml
  cluster/appsets/appset-games.yaml
  cluster/appsets/appset-home-automation.yaml
  cluster/appsets/appset-system.yaml
  docs/src/k8s/bootstrap.md
Labels: area/github, area/cluster

fix kdocs generation
  .github/workflows/publish-pages.yaml
Labels: area/github

enable envoy
  cluster/apps/system/envoy-gateweay/app-config.yaml
Labels: area/cluster

fix pods cidr
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
Labels: area/cluster

fix cert name
  cluster/apps/system/envoy-gateweay/templates/cert.yaml
Labels: area/cluster

fix domain secrets
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
Labels: area/cluster

fix cilium annotations
  cluster/apps/default/jellyfin/templates/service.yaml
  cluster/apps/games/vintagestory/values.yaml
  cluster/apps/home-automation/ollama/values.yaml
  cluster/apps/home-automation/openwakeword/values.yaml
  cluster/apps/home-automation/piper/values.yaml
  cluster/apps/home-automation/whisper/values.yaml
  cluster/apps/system/traefik/values.yaml
Labels: area/cluster

install envoy gateway helper
  .github/.devcontainer/local-features/common/install_user.sh
  CLAUDE.md
  Taskfile.yml
Labels: area/github

enable adguard-dns
  cluster/apps/system/adguard-dns/app-config.yaml
Labels: area/cluster

test adguard-dns
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
Labels: area/cluster

split DNSEndpoint
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
  cluster/apps/system/cloudflare-dns/templates/dnsendpoints.yaml
Labels: area/cluster

change name of endpoint
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
Labels: area/cluster

fix private endpoint
  cluster/apps/system/adguard-dns/app-config.yaml
  cluster/apps/system/cloudflare-dns/app-config.yaml
Labels: area/cluster

fix envoy gateway
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
Labels: area/cluster

add cf tunnel secret to globs
  cluster/apps/core/argocd/resources/cluster-secrets-externalsecret.yaml
Labels: area/cluster

create tunnel dns
  cluster/apps/system/cloudflared/app-config.yaml
  cluster/apps/system/cloudflared/templates/dnsendpoint.yaml
Labels: area/cluster
