Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.11
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.28.6
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

chore(docker-image): update factoriotools/factorio:1.1.101 docker digest to 1b80fd3
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.15.1
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

chore(docker-image): update quay.io/keycloak/keycloak:23.0.4 docker digest to cff31dc
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.22.2
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update haproxy:2.9-alpine docker digest to 198da30
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to f936fdf
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to f0debca
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to a36523f
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 3f66232
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.101 docker digest to a9d8ea1
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.9.5
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.103
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.1.4
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 290cc77
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.5
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to ada5002
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.8.0
  .github/workflows/lint.yaml
Labels: area/github

feat(deps): update budimanjojo/talhelper to v1.17.1
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart): update helm release gitea to 10.1.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 56.0.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.20.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.23.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update talos group to v1.6.3
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.14
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 56.0.4
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action)!: Update peter-evans/create-or-update-comment action to v4
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

ci(github-action)!: Update peter-evans/find-comment action to v3
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.1.5
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.13.3
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(deps)!: Update budimanjojo/talhelper to v2.0.0
  .devcontainer/Dockerfile
Labels: none

chore(docker-image): update quay.io/keycloak/keycloak:23.0.4 docker digest to 8308358
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.15
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 0e30672
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to d19f9b7
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to da38d58
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 3da9eda
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to f7bb8fb
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 4a1addf
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster
