Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

fix(llm): give the STT pod fsGroup so the non-root image can write its model cache
  cluster/apps/ai/llm/stt/templates/deployment.yaml
Labels: area/cluster

feat(honcho): use the local CPU embeddings server instead of Ollama
  cluster/apps/ai/honcho/templates/_helpers.tpl
Labels: area/cluster

feat(llm): add CPU embeddings server (nomic-embed-text) in the llm namespace (#5301)
  cluster/apps/ai/llm/app-config.yaml
  cluster/apps/ai/llm/embeddings/Chart.yaml
  cluster/apps/ai/llm/embeddings/templates/deployment.yaml
  cluster/apps/ai/llm/embeddings/templates/pvc.yaml
  cluster/apps/ai/llm/embeddings/templates/service.yaml
  cluster/apps/ai/llm/embeddings/values.yaml
Labels: area/cluster

docs: add nv1 Jetson GPU runbook (#5298)
  .github/mkdocs/mkdocs.yml
  docs/src/k8s/nv1-jetson.md
Labels: area/github

feat(nvidia): restart the Jetson device plugin after kubelet restarts (#5303)
  cluster/apps/system/nvidia/kustomization.yaml
  cluster/apps/system/nvidia/resources/device-plugin.yaml
  cluster/apps/system/nvidia/resources/watchdog.sh
  cluster/apps/system/nvidia/resources/watchdog.test.sh
Labels: area/cluster

feat(monitoring): alert when nv1 has no allocatable GPU (#5296)
  cluster/apps/system/prometheus-stack/templates/prometheusrule-gpu.yaml
Labels: area/cluster

feat(honcho): use the local CPU embeddings server instead of Ollama (#5305)
  cluster/apps/ai/honcho/templates/_helpers.tpl
Labels: area/cluster

feat(llm): add llama-server component (disabled) (#5302)
  cluster/apps/ai/llm/server/Chart.yaml
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/templates/podmonitor.yaml
  cluster/apps/ai/llm/server/templates/pvc.yaml
  cluster/apps/ai/llm/server/templates/service.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(llm): add CPU speech-to-text server chart (Speaches) (#5299)
  cluster/apps/ai/llm/stt/Chart.yaml
  cluster/apps/ai/llm/stt/templates/deployment.yaml
  cluster/apps/ai/llm/stt/templates/prometheusrule.yaml
  cluster/apps/ai/llm/stt/templates/pvc.yaml
  cluster/apps/ai/llm/stt/templates/service.yaml
  cluster/apps/ai/llm/stt/values.yaml
Labels: area/cluster

chore(ollama): scale to zero to free the nv1 GPU for llama-server
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

chore(ollama): scale to zero to free the nv1 GPU for llama-server (#5306)
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

feat(llm): enable llama-server (Gemma 4 26B-A4B) on nv1
  cluster/apps/ai/llm/app-config.yaml
Labels: area/cluster

feat(llm): enable llama-server (Gemma 4 26B-A4B) on nv1 (#5307)
  cluster/apps/ai/llm/app-config.yaml
Labels: area/cluster

feat(honcho): run deriver, summary and low-tier dialectic on the local model (#5297)
  cluster/apps/ai/honcho/templates/_helpers.tpl
Labels: area/cluster

feat(hermes): seed per-profile config overlays; canary researcher on the local model (#5304)
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/templates/profile-overlays-configmap.yaml
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

fix(llm): default llama-server to thinking off so small-budget calls return content
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(llm): alert on llama-server unavailable or running on CPU
  cluster/apps/ai/llm/server/templates/prometheusrule.yaml
Labels: area/cluster

fix(llm): default llama-server to thinking off (#5308)
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(llm): alert on llama-server unavailable or running on CPU (#5309)
  cluster/apps/ai/llm/server/templates/prometheusrule.yaml
Labels: area/cluster

fix(llm): cap llama-server host prompt cache and checkpoints to stop nv1 OOM
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

fix(llm): cap llama-server host prompt cache to stop nv1 OOM (#5310)
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

fix(llm): rebalance llama-server memory budget (limit 13Gi, smaller cache/checkpoints/ubatch)
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

fix(llm): rebalance llama-server memory budget on nv1 (#5311)
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(hermes): run auxiliary tasks on the local llama-server (#5300)
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(llm): add memory budget guidance for llama-server nv1 to prevent OOM issues
  .claude/memory/MEMORY.md
Labels: none

chore: retire Ollama (replaced by llama-server in the llm namespace)
  README.md
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/honcho/README.md
  cluster/apps/ai/ollama/Chart.yaml
  cluster/apps/ai/ollama/app-config.yaml
  cluster/apps/ai/ollama/templates/httproute.yaml
  cluster/apps/ai/ollama/values.yaml
  docs/src/general/network.md
  docs/src/k8s/nv1-jetson.md
Labels: area/cluster

docs: record nv1 memory budget, CUDA tag, META DHCP and embedding-case learnings
  .claude/memory/MEMORY.md
  .claude/memory/reference_jetson_llama_cuda_tag.md
  .claude/memory/reference_llama_server_nv1_memory.md
  .claude/memory/reference_nv1_meta_dhcp.md
  .claude/memory/reference_uncased_bert_embeddings.md
Labels: none

chore: retire Ollama (replaced by llama-server) (#5312)
  .claude/memory/MEMORY.md
  .claude/memory/reference_jetson_llama_cuda_tag.md
  .claude/memory/reference_llama_server_nv1_memory.md
  .claude/memory/reference_nv1_meta_dhcp.md
  .claude/memory/reference_uncased_bert_embeddings.md
  README.md
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/honcho/README.md
  cluster/apps/ai/ollama/Chart.yaml
  cluster/apps/ai/ollama/app-config.yaml
  cluster/apps/ai/ollama/templates/httproute.yaml
  cluster/apps/ai/ollama/values.yaml
  docs/src/general/network.md
  docs/src/k8s/nv1-jetson.md
Labels: area/cluster

feat(llm): enable the Speaches speech-to-text server
  cluster/apps/ai/llm/app-config.yaml
Labels: area/cluster

feat(llm): enable the Speaches speech-to-text server (#5313)
  cluster/apps/ai/llm/app-config.yaml
Labels: area/cluster

feat(hermes): local-first main model for all profiles with cloud fallback
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): local-first main model for all profiles with cloud fallback (#5314)
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

fix(llm): run Speaches whisper as int8 on 3 threads
  cluster/apps/ai/llm/stt/templates/deployment.yaml
  cluster/apps/ai/llm/stt/values.yaml
Labels: area/cluster

fix(llm): run Speaches whisper as int8 on 3 threads (#5316)
  cluster/apps/ai/llm/stt/templates/deployment.yaml
  cluster/apps/ai/llm/stt/values.yaml
Labels: area/cluster

feat(hermes): transcribe voice notes on the local Speaches server
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): transcribe voice notes on the local Speaches server (#5317)
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): use local Piper TTS instead of Edge (cloud) voices
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes): use local Piper TTS instead of Edge (cloud) voices (#5315)
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

fix(hermes): restore the cloud main model and compression (local slots are below Hermes' 64K floor)
  .claude/memory/MEMORY.md
  .claude/memory/reference_hermes_64k_context_floor.md
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/values.yaml
  docs/src/k8s/nv1-jetson.md
Labels: area/cluster

fix(hermes): restore cloud main model and compression (below Hermes' 64K floor) (#5318)
  .claude/memory/MEMORY.md
  .claude/memory/reference_hermes_64k_context_floor.md
  cluster/apps/ai/hermes-agent/README.md
  cluster/apps/ai/hermes-agent/values.yaml
  docs/src/k8s/nv1-jetson.md
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
