Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

chore(talos): fail talos:upgrade when the node boots a different version
  .taskfiles/talos/Taskfile.yaml
Labels: none

chore(talos): fail talos:upgrade when the node boots a different version (#5469)
  .taskfiles/talos/Taskfile.yaml
Labels: none

docs(talos): 1.14 upgrade runbook, nv1 boot-entry workaround
  .claude/skills/cluster-reference/SKILL.md
  provision/talos/README.md
Labels: none

docs(talos): 1.14 upgrade runbook, nv1 boot-entry workaround (#5470)
  .claude/skills/cluster-reference/SKILL.md
  provision/talos/README.md
Labels: none

fix(talos): serve etcd metrics over plain HTTP on 127.0.0.1:2381
  provision/talos/templates/controlplane.yaml
Labels: none

fix(talos): serve etcd metrics over plain HTTP on 127.0.0.1:2381 (#5471)
  provision/talos/templates/controlplane.yaml
Labels: none

fix(prometheus): scrape etcd on the three control-plane node IPs
  .claude/skills/cluster-reference/SKILL.md
  .plans/TODO.md
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(prometheus): scrape etcd on the three control-plane node IPs (#5472)
  .claude/skills/cluster-reference/SKILL.md
  .plans/TODO.md
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

docs(todo): migrate deprecated Talos v1alpha1 config to the new documents
  .plans/TODO.md
Labels: none

docs(todo): migrate deprecated Talos v1alpha1 config to the new documents (#5473)
  .plans/TODO.md
Labels: none

docs(talos): design for the layered config layout and automated upgrades
  docs/superpowers/specs/2026-10-05-talos-config-layout-design.md
Labels: none

docs(talos): implementation plan for the layered config layout
  docs/superpowers/plans/2026-10-05-talos-config-layout.md
Labels: none

docs(talos): implementation plan for the layered config layout (#5476)
  docs/superpowers/plans/2026-10-05-talos-config-layout.md
Labels: none

docs(talos): design for the layered config layout and automated upgrades (#5474)
  docs/superpowers/plans/2026-10-05-talos-config-layout.md
  docs/superpowers/specs/2026-10-05-talos-config-layout-design.md
Labels: none

feat(talos): shell test harness, shared library, config normalize and secret mask
  provision/talos/scripts/expected-version.sh
  provision/talos/scripts/lib.sh
  provision/talos/scripts/mask.sh
  provision/talos/scripts/normalize.sh
  provision/talos/tests/lib.sh
  provision/talos/tests/run.sh
  provision/talos/tests/test_lib.sh
  provision/talos/tests/test_normalize_mask.sh
Labels: none

feat(talos): check-patches enforces the patch file conventions
  provision/talos/scripts/check-patches.sh
  provision/talos/tests/test_check_patches.sh
Labels: none

feat(talos): the node configuration as layered, self-describing patch files
  provision/talos/patches/all/05-hostname-config-delete.yaml
  provision/talos/patches/all/10-api-sans.yaml.tpl
  provision/talos/patches/all/20-nameservers.yaml
  provision/talos/patches/all/25-kubelet.yaml
  provision/talos/patches/all/30-install.yaml
  provision/talos/patches/all/40-cri-customization.yaml
  provision/talos/patches/all/50-time.yaml
  provision/talos/patches/all/60-features.yaml
  provision/talos/patches/all/70-node-labels.yaml
  provision/talos/patches/all/80-cluster-network.yaml
  provision/talos/patches/all/85-coredns-disabled.yaml
  provision/talos/patches/all/90-discovery.yaml
  provision/talos/patches/all/98-nut-client.yaml.tpl
  provision/talos/patches/controlplane/05-install-image.yaml.tpl
  provision/talos/patches/controlplane/10-etcd-metrics.yaml
  provision/talos/patches/controlplane/20-apiserver-oidc.yaml.tpl
  provision/talos/patches/controlplane/21-apiserver-pod-security.yaml
  provision/talos/patches/controlplane/22-apiserver-audit-policy.yaml
  provision/talos/patches/controlplane/30-controller-manager.yaml
  provision/talos/patches/controlplane/31-scheduler.yaml
  provision/talos/patches/controlplane/32-kube-proxy-disabled.yaml
  provision/talos/patches/controlplane/40-talos-api-access.yaml
  provision/talos/patches/controlplane/50-udev-render-device.yaml
  provision/talos/patches/controlplane/60-node-labels.yaml
  provision/talos/patches/controlplane/70-sysctls.yaml
  provision/talos/patches/controlplane/80-schedule-on-control-plane.yaml
  provision/talos/patches/controlplane/85-delete-lb-exclusion-label.yaml
  provision/talos/patches/controlplane/90-ethernet-rings.yaml
  provision/talos/patches/node/mc1/10-network.yaml
  provision/talos/patches/node/mc2/10-network.yaml
  provision/talos/patches/node/mc3/10-network.yaml
  provision/talos/patches/node/nv1/10-network.yaml
  provision/talos/patches/node/nv1/20-install-image.yaml
  provision/talos/patches/node/nv1/30-kernel-modules.yaml
  provision/talos/patches/node/nv1/40-node-labels.yaml
  provision/talos/patches/node/nv1/50-containerd-config.yaml
  provision/talos/patches/worker/05-install-image.yaml.tpl
  provision/talos/patches/worker/20-sysctls.yaml
  provision/talos/patches/worker/30-node-taints.yaml
  provision/talos/secrets.yaml.tpl
Labels: none

feat(talos): render.sh builds a node config from gen config plus the patch layers
  provision/talos/scripts/render.sh
  provision/talos/tests/test_render.sh
Labels: none

feat(talos): parity script and task to compare rendered configs
  .taskfiles/talos/Taskfile.yaml
  provision/talos/scripts/parity.sh
  provision/talos/tests/test_parity.sh
Labels: none

feat(talos): render node configs from the layered patches, remove the envsubst templates
  .claude/skills/cluster-reference/SKILL.md
  .claude/skills/talos-config-editing/SKILL.md
  .claude/skills/talos-ethernet-config/SKILL.md
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  cluster/apps/system/prometheus-stack/values.yaml
  docs/src/general/network.md
  provision/talos/README.md
  provision/talos/clusterconfig/.gitignore
  provision/talos/nodes/mc1.yaml
  provision/talos/nodes/mc2.yaml
  provision/talos/nodes/mc3.yaml
  provision/talos/nodes/nv1.yaml
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/ethernet-rings.yaml
  provision/talos/templates/extension-nut-client.yaml
  provision/talos/templates/talosctl-secrets.yaml
  provision/talos/templates/worker.yaml
Labels: area/cluster

feat(talos): switch to the layered patch pipeline (#5478)
  .claude/skills/cluster-reference/SKILL.md
  .claude/skills/talos-config-editing/SKILL.md
  .claude/skills/talos-ethernet-config/SKILL.md
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  cluster/apps/system/prometheus-stack/values.yaml
  docs/src/general/network.md
  provision/talos/README.md
  provision/talos/clusterconfig/.gitignore
  provision/talos/nodes/mc1.yaml
  provision/talos/nodes/mc2.yaml
  provision/talos/nodes/mc3.yaml
  provision/talos/nodes/nv1.yaml
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/ethernet-rings.yaml
  provision/talos/templates/extension-nut-client.yaml
  provision/talos/templates/talosctl-secrets.yaml
  provision/talos/templates/worker.yaml
Labels: area/cluster

feat(talos): task talos:diff compares the repo with the live nodes
  .claude/skills/talos-config-editing/SKILL.md
  .taskfiles/talos/Taskfile.yaml
  provision/talos/README.md
  provision/talos/scripts/diff-live.sh
  provision/talos/tests/test_diff_live.sh
Labels: none

feat(talos): offline check task and CI workflow for the patch conventions and the config map
  .github/workflows/talos-config.yaml
  .taskfiles/talos/Taskfile.yaml
  provision/talos/README.md
Labels: area/github

feat(talos): generated configuration map in the docs
  .github/linters/.prettierignore
  .taskfiles/talos/Taskfile.yaml
  docs/src/talos/config-map.md
  provision/talos/README.md
  provision/talos/scripts/config-map.sh
  provision/talos/tests/test_config_map.sh
Labels: area/github

feat(talos): task talos:explain lists what is configured per node from the patch headers
  .claude/skills/talos-config-editing/SKILL.md
  .taskfiles/talos/Taskfile.yaml
  provision/talos/README.md
  provision/talos/scripts/explain.sh
  provision/talos/tests/test_explain.sh
Labels: none

feat(talos): explain, config map, live diff and offline checks for the patch layout (#5479)
  .claude/skills/talos-config-editing/SKILL.md
  .github/linters/.prettierignore
  .github/workflows/talos-config.yaml
  .taskfiles/talos/Taskfile.yaml
  docs/src/talos/config-map.md
  provision/talos/README.md
  provision/talos/scripts/config-map.sh
  provision/talos/scripts/diff-live.sh
  provision/talos/scripts/explain.sh
  provision/talos/tests/test_config_map.sh
  provision/talos/tests/test_diff_live.sh
  provision/talos/tests/test_explain.sh
Labels: area/github

fix(talos): upgrade refuses a config rendered for another version; doc and umask fixes from the final review
  .taskfiles/talos/Taskfile.yaml
  docs/src/general/network.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/40-cri-customization.yaml
  provision/talos/scripts/render.sh
Labels: none

feat(talos): sysctls as SysctlConfig documents
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/controlplane/70-sysctls.yaml
  provision/talos/patches/worker/20-sysctls.yaml
Labels: none

feat(talos): migrate machine.sysctls to SysctlConfig (#5480)
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  docs/src/general/network.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/40-cri-customization.yaml
  provision/talos/patches/controlplane/70-sysctls.yaml
  provision/talos/patches/worker/20-sysctls.yaml
  provision/talos/scripts/render.sh
Labels: none

fix(talos): diff-live reads only the effective MachineConfig resource
  provision/talos/scripts/diff-live.sh
Labels: none

fix(talos): diff-live reads only the effective MachineConfig resource (#5482)
  provision/talos/scripts/diff-live.sh
Labels: none

fix(talos): check worker health through the control plane after apply and upgrade
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix(talos): check worker health through the control plane after apply and upgrade (#5483)
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix(talos): reject nested and unbraced-variable patch files, harden secrets temp file and CI; record leftovers in TODO
  .github/workflows/talos-config.yaml
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  provision/talos/scripts/check-patches.sh
  provision/talos/tests/test_check_patches.sh
Labels: area/github

fix(talos): reject nested and unbraced-variable patch files, harden secrets temp file and CI; record leftovers in TODO (#5484)
  .github/workflows/talos-config.yaml
  .plans/TODO.md
  .taskfiles/talos/Taskfile.yaml
  provision/talos/scripts/check-patches.sh
  provision/talos/tests/test_check_patches.sh
Labels: area/github

feat(talos): udev rules as a UdevRulesConfig document
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/controlplane/50-udev-render-device.yaml
Labels: none

feat(talos): udev rules as a UdevRulesConfig document (#5485)
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/controlplane/50-udev-render-device.yaml
Labels: none

feat(talos): KubePrism as a KubePrismConfig document
  .claude/skills/talos-config-editing/SKILL.md
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/60-features.yaml
  provision/talos/patches/all/61-kubeprism.yaml
Labels: none

feat(talos): migrate machine.features.kubePrism to KubePrismConfig (#5486)
  .claude/skills/talos-config-editing/SKILL.md
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/60-features.yaml
  provision/talos/patches/all/61-kubeprism.yaml
Labels: none

feat(talos): nameservers and host DNS as one ResolverConfig document
  .plans/TODO.md
  docs/src/talos/config-map.md
  provision/talos/patches/all/20-nameservers.yaml
  provision/talos/patches/all/20-resolver.yaml
  provision/talos/patches/all/60-features.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
