Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

readd cluster
  cluster/.tools/wipe-rook.yaml
  cluster/projects/core/values.yaml
Labels: area/cluster

remove rock
  cluster/projects/core/values.yaml
Labels: area/cluster

enable rook
  cluster/.tools/wipe-rook.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
  cluster/projects/core/values.yaml
Labels: area/cluster

disable self heal
  cluster/core/argocd/projects/core/app-of-apps.yaml
Labels: area/cluster

remoce feom csi striping
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

att diff ignore
  cluster/projects/system/values.yaml
Labels: area/cluster

include mutation in diff
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

revert
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

ignore all data
  cluster/projects/system/values.yaml
Labels: area/cluster

disable webhook
  cluster/system/snapshot-controller/values.yaml
Labels: area/cluster

enable jelly
  cluster/projects/apps/values.yaml
Labels: area/cluster

enable mounts
  cluster/projects/apps/values.yaml
Labels: area/cluster

enable jellyfin heal
  cluster/projects/apps/values.yaml
Labels: area/cluster

disable self heal
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/home-automation/app-of-apps.yaml
  cluster/projects/apps/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

enable kc
  cluster/projects/system/values.yaml
Labels: area/cluster

enable recovery from backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

add static postgresql version
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

enable backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

add games and vinted story
  cluster/games/vintagestory/Chart.yaml
  cluster/games/vintagestory/secret.sec.yaml
  cluster/games/vintagestory/values.yaml
  cluster/projects/games/Chart.yaml
  cluster/projects/games/values.yaml
  cluster/projects/kustomization.yaml
Labels: area/cluster

add missing files
  cluster/core/argocd/projects/games/app-of-apps.yaml
  cluster/core/argocd/projects/games/apps.yaml
  cluster/core/argocd/projects/games/kustomization.yaml
  cluster/core/argocd/projects/kustomization.yaml
Labels: area/cluster

disable self heal
  cluster/projects/games/values.yaml
Labels: area/cluster

add games and vinted story (#2104)
  cluster/core/argocd/projects/games/app-of-apps.yaml
  cluster/core/argocd/projects/games/apps.yaml
  cluster/core/argocd/projects/games/kustomization.yaml
  cluster/core/argocd/projects/kustomization.yaml
  cluster/games/vintagestory/Chart.yaml
  cluster/games/vintagestory/secret.sec.yaml
  cluster/games/vintagestory/values.yaml
  cluster/projects/games/Chart.yaml
  cluster/projects/games/values.yaml
Labels: area/cluster

enable game
  cluster/projects/games/Chart.yaml
  cluster/projects/games/values.yaml
Labels: area/cluster

fix chart
  cluster/games/vintagestory/Chart.yaml
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

update replicas no
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix resource limit quantity name
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

add ram limit
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

update csr manifest
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

enable all
  cluster/projects/apps/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix shared ip cilium
  cluster/home-automation/openwakeword/values.yaml
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix annotation
  cluster/home-automation/openwakeword/values.yaml
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

allow sharing in namespaces
  cluster/home-automation/openwakeword/values.yaml
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix tf deprication
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

update missed var
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix tf deprication (#2122)
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

force ingress rules for zero trust
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add jelly
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

enable * ingress rule
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add keda
  cluster/projects/system/values.yaml
  cluster/system/keda/Chart.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
