Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(docker-image): update haproxy docker tag to v2.9
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

ci(github-action)!: Update actions/setup-python action to v5
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.14.6
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.21.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

add argocd
  cluster/system/prometheus-stack/templates/device-dashboards-cm.yaml
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

add argocd monitoring
  cluster/core/argocd/kustomization.yaml
  cluster/core/argocd/resources/metrics.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 0ec4530
  .devcontainer/Dockerfile
Labels: none

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 51632d2
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 55.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.7.0
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to e35f37c
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.16.2
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart): update helm release app-template to 2.4.0
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.100 docker digest to fe231d3
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.13.3
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.100 docker digest to b163e4d
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.2
  cluster/apps/gitea/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.23.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to df0bc8b
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.1
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update rook-ceph-suite group to v1.13.0
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 8951205
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 55.4.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action)!: Update actions/upload-artifact action to v4
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v23.0.2
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

enable selfheal
  cluster/projects/apps/values.yaml
  cluster/projects/core/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v23.0.3
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 55.5.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.2
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 14888c9
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 6e9e836
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 9f45869
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.10
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 109526f
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.16.3
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart)!: Update Helm release gitea to 10.0.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release botkube to v1.7.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to b098a22
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
