Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(helm-chart): update helm release kube-prometheus-stack to 45.9.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.11.3
  cluster/system/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/system/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/bedrock-viz:rolling docker digest to 642af34
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release traefik to 22.1.0
  cluster/system/traefik-internal/Chart.yaml
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.11.1
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(ansible-collection): update ansible.posix to 1.5.2
  provision/ansible/requirements.yml
Labels: area/ansible

feat(docker-image): update nginx docker tag to v1.24.0
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release metrics-server to 3.10.0
  cluster/system/metrics-server/Chart.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.19.1
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.14.6
  .pre-commit-config.yaml
Labels: none

add snapshot-controller
  cluster/projects/system/apps/values.yaml
  cluster/system/snapshot-controller/Chart.yaml
  cluster/system/snapshot-controller/values.yaml
  cluster/system/snapshot-validation-webhook/Chart.yaml
  cluster/system/snapshot-validation-webhook/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.11.4
  cluster/system/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/system/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 45.10.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add doppler domain verify
  Taskfile.yml
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

add external secrets
  cluster/projects/system/apps/values.yaml
  cluster/system/external-secrets/Chart.yaml
  cluster/system/external-secrets/secret.sec.yaml
  cluster/system/external-secrets/templates/secret.yaml
  cluster/system/external-secrets/templates/secretstore.yaml
  cluster/system/external-secrets/values.yaml
  secret-doppler-token-auth-api.yaml
Labels: area/cluster

add sops replacer
  cluster/projects/system/apps/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 8.1.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(docker-image)!: Update ghcr.io/joshuaavalon/cloudflare-ddns Docker tag to v3
  cluster/system/dyndns/resources/deployment.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.80
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release node-feature-discovery to 0.13.0
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.4.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.3
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 45.15.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook gruntwork-io/pre-commit to v0.1.21
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 32eded2
  .devcontainer/Dockerfile
Labels: none

feat(deps): update pre-commit hook ansible/ansible-lint to v6.15.0
  .pre-commit-config.yaml
Labels: none

add talhelper and talosctl
  .devcontainer/Dockerfile
Labels: none

feat(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

add talos configuration
  provision/talos/clusterconfig/.gitignore
  provision/talos/talconfig.yaml
  provision/talos/talenv.sops.yaml
  provision/talos/talsecret.sops.yaml
Labels: none

add csr approver
  cluster/projects/system/apps/values.yaml
  cluster/system/kubelet-csr-approver/Chart.yaml
  cluster/system/kubelet-csr-approver/values.yaml
Labels: area/cluster

enable metrics
  cluster/system/metrics-server/values.yaml
Labels: area/cluster

modify config
  provision/talos/talconfig.yaml
Labels: none

feat(helm-chart): update helm release oauth2-proxy to 6.12.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

update talos configs
  provision/talos/README.md
  provision/talos/kustomization.yaml
  provision/talos/talconfig.yaml
  provision/talos/talsecret.sops.yaml
Labels: none

change namespace for flannel
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

change flannel namespace
  cluster/core/kube-system/flannel/kustomization.yaml
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

fix api config
  provision/talos/talconfig.yaml
Labels: none

remove kured
  cluster/projects/system/apps/values.yaml
Labels: area/cluster

enable toolbox
  cluster/system/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 6.6.0
  provision/ansible/requirements.yml
Labels: area/ansible
