Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(devcontainer): add permission for GitHub CLI run command
  .claude/settings.json
Labels: none

fix(devcontainer): add node to Brewfile to make npm available (#3936)
  .claude/settings.json
  .github/.devcontainer/local-features/common/Brewfile
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

allow to disable game servers when not needed
  cluster/apps/games/minecraft-bedrock/app-config.yaml
  cluster/apps/games/vintagestory/app-config.yaml
  cluster/apps/games/vintagestory/values.yaml
  cluster/apps/games/wow/app-config.yaml
Labels: area/cluster

fix(pre-commit): replace gruntwork-io/pre-commit with local helm lint hook
  .pre-commit-config.yaml
Labels: none

Remove unused sources and generates sections from Taskfile.yaml and delete nvgpu-kernel-compat.patch
  .taskfiles/talos/Taskfile.yaml
  provision/talos/patches/nvgpu-kernel-compat.patch
Labels: none

fix(talos): fix upgrade task caching and stream issues
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix(talos): fix upgrade task caching and stream issues (#3940)
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix(docs): enhance node maintenance instructions in SKILL.md
  .claude/skills/cluster-reference/SKILL.md
Labels: none

fix renovate schedule
  .github/renovate/groups.json5
Labels: area/github

fix(renovate): rename schedule to automergeSchedule for azerothcore group
  .github/renovate/groups.json5
Labels: area/github

fix(renovate): remove minimumReleaseAge from azerothcore group configuration
  .github/renovate/groups.json5
Labels: area/github

add new model to ollama
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

fix(mysql-backup): increase memory limit for restic container to 512Mi
  cluster/apps/games/wow/templates/mysql-backup.yaml
Labels: area/cluster

fix(ollama): update extraEnv variables and adjust OLLAMA_NUM_PARALLEL value
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

docs: add hermes-agent deployment design spec
  docs/superpowers/specs/2026-05-25-hermes-agent-design.md
Labels: none

docs: add Signal messenger integration to hermes-agent design spec
  docs/superpowers/specs/2026-05-25-hermes-agent-design.md
Labels: none

docs: move signal-cli to separate deployment in hermes-agent spec
  docs/superpowers/specs/2026-05-25-hermes-agent-design.md
Labels: none

docs: add hermes-agent implementation plan
  docs/superpowers/plans/2026-05-25-hermes-agent.md
Labels: none

chore: remove unused plugin configurations from settings.json
  .claude/settings.json
Labels: none

feat(hermes-agent): scaffold chart
  cluster/apps/default/hermes-agent/Chart.yaml
  cluster/apps/default/hermes-agent/app-config.yaml
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

feat(hermes-agent): add hermes data PVC
  cluster/apps/default/hermes-agent/templates/pvc.yaml
Labels: area/cluster

feat(hermes-agent): add config seed ConfigMap
  cluster/apps/default/hermes-agent/templates/configmap.yaml
Labels: area/cluster

feat(hermes-agent): add ExternalSecret for API keys and Signal secrets
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
Labels: area/cluster

redundant hooks
  .pre-commit-config.yaml
Labels: none

feat(hermes-agent): add hermes-agent Deployment
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

feat(hermes-agent): add Service, HTTPRoute, signal-cli PVC/Deployment/Service
  cluster/apps/default/hermes-agent/templates/httproute.yaml
  cluster/apps/default/hermes-agent/templates/service.yaml
  cluster/apps/default/hermes-agent/templates/signal-deployment.yaml
  cluster/apps/default/hermes-agent/templates/signal-pvc.yaml
  cluster/apps/default/hermes-agent/templates/signal-service.yaml
Labels: area/cluster

lean the pre-commit
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Labels: area/github

fix(lint): update MegaLinter to use kubecornform and correct arguments
  .github/workflows/lint.yaml
Labels: area/github

add secrets
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
Labels: area/cluster

feat: deploy hermes-agent with Signal messenger integration (#3963)
  .claude/settings.json
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  cluster/apps/default/hermes-agent/Chart.yaml
  cluster/apps/default/hermes-agent/app-config.yaml
  cluster/apps/default/hermes-agent/templates/configmap.yaml
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
  cluster/apps/default/hermes-agent/templates/httproute.yaml
  cluster/apps/default/hermes-agent/templates/pvc.yaml
  cluster/apps/default/hermes-agent/templates/service.yaml
  cluster/apps/default/hermes-agent/templates/signal-deployment.yaml
  cluster/apps/default/hermes-agent/templates/signal-pvc.yaml
  cluster/apps/default/hermes-agent/templates/signal-service.yaml
  cluster/apps/default/hermes-agent/values.yaml
  docs/superpowers/plans/2026-05-25-hermes-agent.md
  docs/superpowers/specs/2026-05-25-hermes-agent-design.md
Labels: area/github, area/cluster

fix(deployment): correct checksum formatting in hermes-agent and adjust resource indentation in signal-cli
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/signal-deployment.yaml
Labels: area/cluster

fix(deployment): simplify checksum formatting in hermes-agent deployment
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

fix(deployment): remove trailing comma from checksum formatting in hermes-agent deployment
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

refactor(deployment): consolidate hermes-agent resources and remove gateway/dashboard configurations
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/values.yaml
Labels: area/cluster

feat(deployment): update signal-cli deployment with security context and command args
  cluster/apps/default/hermes-agent/templates/signal-deployment.yaml
Labels: area/cluster

fix(deployment): add HOME environment variable to hermes-agent container
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster

feat(deployment): add SIGNAL_HOME_CHANNEL to hermes-agent environment and external secret
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
Labels: area/cluster

fix(deployment): rename ANTHROPIC_API_KEY to ANTHROPIC_TOKEN and update external secret references
  cluster/apps/default/hermes-agent/templates/deployment.yaml
  cluster/apps/default/hermes-agent/templates/externalsecret.yaml
Labels: area/cluster

fix(ollama): correct OLLAMA_CONTEXT_LENGTH value and add OLLAMA_VULKAN environment variable
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/cluster

fix(deployment): update config seeder command to create gateway state JSON file
  cluster/apps/default/hermes-agent/templates/deployment.yaml
Labels: area/cluster
