Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 48132ab
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 55.7.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(docker-image)!: Update docker.io/cloudflare/cloudflared Docker tag to v2024
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v23.0.4
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release firefly-iii to 1.7.1
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.22.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(docker-image): update factoriotools/factorio:1.1.101 docker digest to 67324cc
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.1.1
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 291e12f
  .devcontainer/Dockerfile
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.9
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 55.7.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.1.2
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.13.2
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 88ba8be
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 6959ee0
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to ae32a85
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 0840ed6
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 55.8.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.10
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 4c0fdaa
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 5410a2a
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to dd8809b
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 23159b8
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 1d0fed7
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 55.8.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 55.8.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release app-template to 2.5.0
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.4
  cluster/apps/gitea/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 55.9.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.1.3
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 55.11.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): pin dependencies
  .archive/cluster/monica/values.yaml
  .archive/cluster/plex/values.yaml
  .archive/cluster/renovate/resources/cronjob.yaml
  .archive/cluster/traefik-forward-auth/values.yaml
Labels: none

fix(ansible-collection): update ansible.posix to 1.5.4
  .archive/provision/ansible/requirements.yml
Labels: none

fix(ansible-collection): update community.general to 6.6.7
  .archive/provision/ansible/requirements.yml
Labels: none

fix(ansible-collection): update community.sops to 1.6.7
  .archive/provision/ansible/requirements.yml
Labels: none

fix(deps): update siderolabs/kubelet to v1.25.16
  .archive/provision/ansible/inventory/group_vars/kubernetes/kubernetes.yaml
Labels: none

feat(ansible-collection): update ansible.utils to 2.12.0
  .archive/provision/ansible/requirements.yml
Labels: none

Update renovate.json5
  .github/renovate.json5
Labels: area/github

ci(github-action)!: Update actions/cache action to v4
  .github/workflows/publish-pages.yaml
Labels: area/github
