Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

add missing annotation
  cluster/apps/system/cloudflared/templates/dnsendpoint.yaml
Labels: area/cluster

add plan for migration to envoy
  .plans/traefik-to-envoy-migration.md
Labels: none

migrate first, simple apps
  .plans/TODO.md
  .plans/traefik-to-envoy-migration.md
  cluster/apps/default/jellyfin/templates/certificate.yaml
  cluster/apps/default/jellyfin/templates/httproute.yaml
  cluster/apps/default/jellyfin/templates/ingress.yaml
  cluster/apps/default/jellyfin/values.yaml
  cluster/apps/default/litellm/templates/httproute.yaml
  cluster/apps/default/litellm/values.yaml
  cluster/apps/default/open-webui/values.yaml
  cluster/apps/default/qnap-proxy/templates/cert.yaml
  cluster/apps/default/qnap-proxy/templates/httproute.yaml
  cluster/apps/default/qnap-proxy/templates/ingress.yaml
  cluster/apps/home-automation/ollama/templates/httproute.yaml
  cluster/apps/home-automation/ollama/values.yaml
  cluster/apps/system/prometheus-stack/templates/cert.yaml
  cluster/apps/system/prometheus-stack/templates/ingress.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix litellm route
  cluster/apps/default/litellm/templates/httproute.yaml
Labels: area/cluster

fix dns entry
  .plans/traefik-to-envoy-migration.md
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
Labels: area/cluster

add dns endpoint for login
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
Labels: area/cluster

aa
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
Labels: area/cluster

enable debug logging
  cluster/apps/system/adguard-dns/values.yaml
Labels: area/cluster

fix the routes
  cluster/apps/default/jellyfin/templates/httproute.yaml
  cluster/apps/default/litellm/templates/httproute.yaml
  cluster/apps/default/open-webui/values.yaml
  cluster/apps/default/qnap-proxy/templates/httproute.yaml
  cluster/apps/home-automation/ollama/templates/httproute.yaml
  cluster/apps/system/adguard-dns/values.yaml
  cluster/apps/system/cloudflare-dns/values.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

update docs
  .claude/memory/MEMORY.md
  CLAUDE.md
Labels: none

update plan
  .claude/memory/MEMORY.md
  .plans/traefik-to-envoy-migration.md
Labels: none

migrate internal proxy
  cluster/apps/default/hass-proxy/templates/httproute.yaml
  cluster/apps/default/hass-proxy/templates/ingress.yaml
  cluster/apps/default/hass-proxy/templates/service.yaml
  cluster/apps/default/hass-proxy/values.yaml
Labels: area/cluster

disable traefik sync
  cluster/apps/system/traefik/app-config.yaml
Labels: area/cluster

do cluster endpoint
  .plans/traefik-to-envoy-migration.md
  cluster/apps/default/hass-proxy/templates/service.yaml
Labels: area/cluster

fix routes in argocd
  .plans/traefik-to-envoy-migration.md
  cluster/apps/core/argocd/kustomization.yaml
  cluster/apps/core/argocd/patches/argocd-server-service-patch.yaml
  cluster/apps/core/argocd/resources/httproute.yaml
  cluster/apps/core/argocd/resources/ingress.yaml
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
Labels: area/cluster

fix argocd generation
  cluster/apps/core/argocd/kustomization.yaml
  cluster/apps/core/argocd/patches/argocd-server-service-patch.yaml
Labels: area/cluster

fix argocd
  .plans/traefik-to-envoy-migration.md
  cluster/apps/core/argocd/kustomization.yaml
Labels: area/cluster

migrate n8n
  .plans/traefik-to-envoy-migration.md
  cluster/apps/default/n8n/values.yaml
Labels: area/cluster

add test route to external
  cluster/apps/default/n8n/values.yaml
Labels: area/cluster

fix plan
  .plans/traefik-to-envoy-migration.md
Labels: none

migrate gitea
  .github/.devcontainer/local-features/common/install_user.sh
  cluster/apps/default/gitea/templates/httproute.yaml
  cluster/apps/default/gitea/values.yaml
Labels: area/github, area/cluster

fix gitea regexmanager
  .github/renovate/customManagers.json5
  cluster/apps/default/gitea/values.yaml
Labels: area/github, area/cluster

add recreate strategy
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

fix gitea recreate
  .claude/memory/MEMORY.md
  .claude/memory/feedback_memory_location.md
  .claude/memory/feedback_render_verification.md
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

cleanup memory
  .claude/memory/MEMORY.md
  .claude/memory/feedback_memory_location.md
  .claude/memory/project_gateway_dns.md
  .claude/memory/project_secrets_architecture.md
  .claude/memory/reference_local_access.md
Labels: none

migrate rook to gateway
  .claude/memory/MEMORY.md
  .claude/memory/feedback_check_native_gateway_support.md
  .plans/traefik-to-envoy-migration.md
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

remove retry policy for s3 qnap
  cluster/apps/default/qnap-proxy/templates/backendtrafficpolicy.yaml
Labels: area/cluster

add reoutes to hass
  .plans/traefik-to-envoy-migration.md
  cluster/apps/default/gethomepage/templates/httproute.yaml
  cluster/apps/default/gethomepage/values.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
Labels: area/cluster

migrate keycloak
  .plans/traefik-to-envoy-migration.md
  cluster/apps/system/adguard-dns/templates/dnsendpoints.yaml
  cluster/apps/system/keycloak/templates/httproute.yaml
  cluster/apps/system/keycloak/templates/ingress.yaml
Labels: area/cluster

migrate oauth-proxy
  .github/mkdocs/mkdocs.yml
  .plans/traefik-to-envoy-migration.md
  cluster/apps/default/grocy/templates/httproute.yaml
  cluster/apps/default/grocy/templates/securitypolicy.yaml
  cluster/apps/default/grocy/values.yaml
  cluster/apps/system/oauth2-proxy/templates/cert.yaml
  cluster/apps/system/oauth2-proxy/templates/forward-auth-middleware.yaml
  cluster/apps/system/oauth2-proxy/templates/httproute.yaml
  cluster/apps/system/oauth2-proxy/templates/referencegrant.yaml
  cluster/apps/system/oauth2-proxy/values.yaml
  docs/src/k8s/oauth2-proxy.md
Labels: area/github, area/cluster

fix oauth port
  cluster/apps/default/grocy/templates/securitypolicy.yaml
  cluster/apps/system/oauth2-proxy/templates/httproute.yaml
  docs/src/k8s/oauth2-proxy.md
Labels: area/cluster

remove traefik
  .github/mkdocs/mkdocs.yml
  .github/mkdocs/requirements.txt
  .github/workflows/publish-pages.yaml
  .plans/traefik-to-envoy-migration.md
  CLAUDE.md
  cluster/apps/system/traefik/Chart.yaml
  cluster/apps/system/traefik/app-config.yaml
  cluster/apps/system/traefik/templates/cert.yaml
  cluster/apps/system/traefik/templates/dashboard.yaml
  cluster/apps/system/traefik/values.yaml
  docs/src/general/network.md
Labels: area/github, area/cluster

update docs
  .plans/traefik-to-envoy-migration.md
  docs/src/k8s/bootstrap.md
Labels: none

fix gitea dep name
  .github/renovate/customManagers.json5
Labels: area/github

put request/limits to recources in cluster
  CLAUDE.md
  charts/pgsql-cnpg/templates/cnpg.yaml
  cluster/apps/default/gitea/values.yaml
  cluster/apps/default/litellm/values.yaml
  cluster/apps/default/open-webui/values.yaml
  cluster/apps/home-automation/vernemq/values.yaml
  cluster/apps/system/keycloak/templates/cnpg.yaml
  cluster/apps/system/keycloak/values.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

increase keycloak cpu limit
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

remove sops completely
  .devcontainer/devcontainer.env.sample
  .devcontainer/devcontainer.json
  .gitattributes
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/common/install_user.sh
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
  .taskfiles/talos/Taskfile.yaml
  .vscode/extensions.json
  Taskfile.yml
  cluster/apps/games/vintagestory/templates/volsync.yaml
  cluster/apps/home-automation/ollama/values.yaml
Labels: area/github, area/cluster

set revisionHistoryLimit on high update rate apps
  cluster/apps/core/argocd/kustomization.yaml
  cluster/apps/default/jellyfin/templates/deployment.yaml
  cluster/apps/system/cert-manager/kustomization.yaml
  cluster/apps/system/external-secrets/values.yaml
  cluster/apps/system/keycloak/templates/deployment.yaml
  cluster/apps/system/oauth2-proxy/values.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

add hass to externall
  cluster/apps/default/hass-proxy/templates/httproute.yaml
Labels: area/cluster

add gh api token
  .devcontainer/devcontainer.env.sample
  .envrc
  .taskfiles/talos/Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
