Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

disable uptime robot
  provision/terraform/cloudflare/firewall.tf
Labels: area/terraform

import zone
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

fix ingress rule in zt
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

remove records
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

fix dns name
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

remove empty service
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix hostname
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

remove empty
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add some tests
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

mark non sens
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

t2
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

test cofig
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

update configs
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

readd origin server name
  provision/terraform/cloudflare/tunel.tf
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

add correct hostnames
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

add records
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

fix context typo
  provision/terraform/cloudflare/records.tf
Labels: area/terraform

add warp routing
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

feat: add support for mods downloader
  cluster/games/vintagestory/Chart.yaml
  cluster/games/vintagestory/files/configmaps/mods/mods.json
  cluster/games/vintagestory/templates/common.yaml
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix: generate volsync
  cluster/games/vintagestory/files/configmaps/mods-config/mods.json
  cluster/games/vintagestory/templates/common.yaml
  cluster/games/vintagestory/templates/volsync.yaml
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix mount patch
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

feat: add support for mods downloader (#3014)
  cluster/games/vintagestory/Chart.yaml
  cluster/games/vintagestory/files/configmaps/mods-config/mods.json
  cluster/games/vintagestory/templates/common.yaml
  cluster/games/vintagestory/templates/volsync.yaml
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix cf name
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

fix path
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

update version downloader
  cluster/games/vintagestory/values.yaml
Labels: area/cluster

chore: enable auto sync of version in cluster
  .archive/cluster/system/keda/Chart.yaml
  .github/renovate/autoMerge.json5
  cluster/projects/apps/values.yaml
  cluster/projects/games/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/github, area/cluster

fix apps chart
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/games/Chart.yaml
  cluster/projects/home-automation/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

fix apps chart (#3058)
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/games/Chart.yaml
  cluster/projects/home-automation/Chart.yaml
  cluster/projects/system/Chart.yaml
Labels: area/cluster

fix oauth2-proxy redis chart change
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

add redis required configs
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

add hard affinity
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

redis config
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

fix read only value
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

chore: disable tls open-webui
  cluster/apps/open-webui/values.yaml
Labels: area/cluster

fix oauth2 proxy redis using high cpu
  cluster/system/oauth2-proxy/values.yaml
Labels: area/cluster

push static llm version
  cluster/apps/litellm/values.yaml
Labels: area/cluster

push to latest
  cluster/apps/litellm/values.yaml
Labels: area/cluster

increase memory
  cluster/apps/litellm/values.yaml
Labels: area/cluster

increase cpu
  cluster/apps/litellm/values.yaml
Labels: area/cluster

chore: add volsync subchart
  charts/volsync/Chart.yaml
  charts/volsync/templates/_helpers.tpl
  charts/volsync/templates/pvc.yaml
  charts/volsync/templates/replicationdestination.yaml
  charts/volsync/templates/replicationsource.yaml
  charts/volsync/templates/resticsecret.yaml
  charts/volsync/values.yaml
Labels: none
