Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

ci(github-action): update oxsecurity/megalinter action to v7.13.0
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 24c7812
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update lscr.io/linuxserver/grocy:4.2.0 docker digest to 37adffa
  cluster/apps/grocy/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 10.3.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/linuxserver/calibre-web docker tag to v0.6.22
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.10
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v3.0.3
  .github/.devcontainer/Dockerfile
Labels: area/github

fix(helm-chart): update helm release traefik to 29.0.1
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 9dc7187
  .devcontainer/devcontainer.json
Labels: none

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.9.7 docker digest to d3d2007
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 61.3.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.11
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 8b4d256
  .github/.devcontainer/Dockerfile
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 8be28fa
  .devcontainer/devcontainer.json
Labels: none

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.91.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.7.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(deps): update pre-commit hook ansible/ansible-lint to v24.7.0
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.12
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.37.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

Update diff-yaml-on-pr.yaml
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to a727faa
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

feat(deps): update helm/helm to v3.15.3
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix(helm-chart): update helm release node-feature-discovery to 0.16.2
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to 992da24
  .github/.devcontainer/Dockerfile
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to c34f494
  .devcontainer/devcontainer.json
Labels: none

fix(helm-chart): update helm release kube-prometheus-stack to 61.3.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:3.0-alpine docker digest to b6f165e
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.17.13
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.22 docker digest to 0caef2d
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update lscr.io/linuxserver/grocy:4.2.0 docker digest to 34a90f1
  cluster/apps/grocy/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v3.0.4
  .github/.devcontainer/Dockerfile
Labels: area/github

feat(ansible-collection): update community.general to 9.2.0
  provision/ansible/requirements.yml
Labels: area/ansible

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to f9114dc
  .devcontainer/devcontainer.json
Labels: none

fix(deps): update argoproj/argo-cd to v2.11.5
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release botkube to v1.13.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

fix(deps): update metallb/metallb to v0.14.6
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.9.7 docker digest to 6844dff
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.16.3
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 7.7.9
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(deps): update metallb/metallb to v0.14.7
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
