Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

perf(wow): reduce worldserver CPU by tuning AHBot and map update interval
  cluster/apps/games/wow/templates/ahbot-patch-configmap.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

docs(wow): add AHBot runtime buyer/seller toggle commands to README
  cluster/apps/games/wow/README.md
Labels: area/cluster

perf(wow): set MinWorldUpdateTime=10ms to cap world loop at 100/sec
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

update game domain
  cluster/apps/games/minecraft-bedrock/templates/dns-endpoint.yaml
  cluster/apps/games/vintagestory/app-config.yaml
  cluster/apps/games/vintagestory/templates/dns-endpoint.yaml
  cluster/apps/games/wow/templates/scale-down-hook.yaml
Labels: area/cluster

fix(allowedVersions): add lock for MySQL 8.x compatibility
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(allowedVersions): add registry.k8s.io/kubectl to allowed package names
  .github/renovate/allowedVersions.json5
Labels: area/github

feat(mysql-backup): add MySQL backup CronJob and ExternalSecret configuration
  cluster/apps/games/wow/templates/mysql-backup.yaml
  cluster/apps/games/wow/templates/volsync.yaml
Labels: area/cluster

fix(scale-down-hook): update kubectl image to use alpine version
  cluster/apps/games/wow/templates/scale-down-hook.yaml
Labels: area/cluster

fix(mysql-backup): add restic unlock command before backup
  cluster/apps/games/wow/templates/mysql-backup.yaml
Labels: area/cluster

feat(wow): tune single-player rates and ahbot item quality
  cluster/apps/games/wow/templates/ahbot-patch-configmap.yaml
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

fix(wow): correct skill gain config names and add missing solo rates
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

feat(wow): add remaining solo QoL config settings
  cluster/apps/games/wow/values.yaml
Labels: area/cluster

docs(wow): update module list to transmog and solo-lfg
  cluster/apps/games/wow/README.md
Labels: area/cluster

chore(plans): add wow-modules plan for transmog and solo-lfg rollout
  .plans/list.md
  .plans/wow-modules/plan.md
  .plans/wow-modules/tasks.md
Labels: none

plan changes
  .archive/.plans/list.md
  .archive/.plans/wow-modules/plan.md
  .archive/.plans/wow-modules/tasks.md
  .claudeignore
  .plans/list.md
  .plans/wow-modules/tasks.md
  .plans/wow-server/tasks.md
  cluster/apps/games/wow/README.md
Labels: area/cluster

finish plan
  .archive/.plans/list.md
  .archive/.plans/wow-server/plan.md
  .archive/.plans/wow-server/tasks.md
  .plans/list.md
  cluster/apps/games/wow/README.md
Labels: area/cluster

fix self heal
  cluster/apps/games/minecraft-bedrock/app-config.yaml
  cluster/apps/games/vintagestory/app-config.yaml
  cluster/apps/games/wow/app-config.yaml
Labels: area/cluster

fix(talconfig): update nv1 node configuration with extra kernel args and adjust sysctls
  provision/talos/talconfig.yaml
Labels: none

Update allowedVersions to allow version <=1.35
  .github/renovate/allowedVersions.json5
Labels: area/github

cnpg topology spread
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/litellm/Chart.yaml
  cluster/apps/home-automation/home-assistant/templates/cnpg.yaml
  cluster/apps/system/keycloak/templates/cnpg.yaml
Labels: area/cluster

feat(charts): update pgsql-cnpg version to 1.2.0 and refactor values
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/litellm/Chart.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/templates/cnpg.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/keycloak/templates/cnpg.yaml
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

fix cilium arp lease on nv1
  cluster/apps/core/cilium/templates/config.yaml
Labels: area/cluster

clean memory
  .claude/memory/MEMORY.md
  .claude/memory/feedback_learned_skills_path.md
  .claude/memory/feedback_nvgpu_patch_audit.md
  .claude/memory/feedback_nvidia_oot_conftest.md
  .claude/memory/project_jetson_container_runtime.md
  .claude/memory/project_jetson_nvgpu.md
  .claude/memory/project_orin_dev_nvgpu_layout.md
  .claude/memory/project_siderolabs_extensions_fork.md
  .claude/memory/project_siderolabs_pkgs_fork.md
Labels: none

add headlamp
  cluster/apps/core/argocd/resources/cluster-secrets-externalsecret.yaml
  cluster/apps/system/headlamp/Chart.yaml
  cluster/apps/system/headlamp/app-config.yaml
  cluster/apps/system/headlamp/templates/httproute.yaml
  cluster/apps/system/headlamp/templates/oidc-clusterrolebinding.yaml
  cluster/apps/system/headlamp/templates/oidc-externalsecret.yaml
  cluster/apps/system/headlamp/values.yaml
Labels: area/cluster

fix(headlamp): disable headlamp by setting enabled to false
  cluster/apps/system/headlamp/app-config.yaml
Labels: area/cluster

feat(talos): replace talhelper with talosctl + envsubst
  .claude/skills/cluster-reference/SKILL.md
  .taskfiles/talos/Taskfile.yaml
  CLAUDE.md
  docs/src/index.md
  docs/src/k8s/bootstrap.md
  docs/src/k8s/jetson-cuda-extension.md
  docs/src/k8s/nvgpu-upgrade-guide.md
  provision/talos/README.md
  provision/talos/nodes.yaml
  provision/talos/nodes/mc1.yaml
  provision/talos/nodes/mc2.yaml
  provision/talos/nodes/mc3.yaml
  provision/talos/nodes/nv1.yaml
  provision/talos/talconfig.yaml
  provision/talos/talsecret.yaml
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/extension-nut-client.yaml
  provision/talos/templates/talosctl-secrets.yaml
  provision/talos/templates/worker.yaml
Labels: none

chore(devcontainer): update environment setup and remove unused sops-replacer feature
  .devcontainer/devcontainer.env.sample
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
  .github/.devcontainer/local-features/sops-replacer/devcontainer-feature.json
  .github/.devcontainer/local-features/sops-replacer/install.sh
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
  Taskfile.yml
Labels: area/github

feat(devcontainer): add WireGuard configuration support for VPN
  .devcontainer/devcontainer.env.sample
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/wireguard/wg0.conf.tmpl
Labels: none

chore(devcontainer): update environment setup and remove unused sops-replacer feature (#3894)
  .devcontainer/devcontainer.env.sample
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
  .devcontainer/wireguard/wg0.conf.tmpl
  .github/.devcontainer/local-features/sops-replacer/devcontainer-feature.json
  .github/.devcontainer/local-features/sops-replacer/install.sh
  .github/.devcontainer/local-features/sops-replacer/install_user.sh
  Taskfile.yml
Labels: area/github

fix(devcontainer): enhance WireGuard setup and DNS configuration in scripts
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/wireguard/wg0.conf.tmpl
Labels: none

feat(azerothcore): add scheduling and minimum release age for updates
  .github/renovate/groups.json5
Labels: area/github

fix(lint): resolve MegaLinter warnings — prettier YAML, markdownlint MD031/MD032/MD040/MD060/MD013
  .taskfiles/talos/Taskfile.yaml
  docs/src/k8s/jetson-cuda-extension.md
  docs/src/k8s/nvgpu-upgrade-guide.md
  provision/talos/README.md
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/talosctl-secrets.yaml
Labels: none

feat(pre-commit): add prettier (yaml) and markdownlint-fix hooks
  .pre-commit-config.yaml
Labels: none

fix(lint): resolve MegaLinter warnings — markdownlint CLAUDE.md/SKILL.md, prettier bracketSpacing
  .claude/skills/cluster-reference/SKILL.md
  .pre-commit-config.yaml
  .taskfiles/talos/Taskfile.yaml
  CLAUDE.md
  cluster/apps/games/wow/templates/db-import-job.yaml
Labels: area/cluster

feat(talos): replace talhelper with talosctl + envsubst (#3885)
  .claude/skills/cluster-reference/SKILL.md
  .pre-commit-config.yaml
  .taskfiles/talos/Taskfile.yaml
  CLAUDE.md
  cluster/apps/games/wow/templates/db-import-job.yaml
  docs/src/index.md
  docs/src/k8s/bootstrap.md
  docs/src/k8s/jetson-cuda-extension.md
  docs/src/k8s/nvgpu-upgrade-guide.md
  provision/talos/README.md
  provision/talos/nodes.yaml
  provision/talos/nodes/mc1.yaml
  provision/talos/nodes/mc2.yaml
  provision/talos/nodes/mc3.yaml
  provision/talos/nodes/nv1.yaml
  provision/talos/talconfig.yaml
  provision/talos/templates/controlplane.yaml
  provision/talos/templates/extension-nut-client.yaml
  provision/talos/templates/talosctl-secrets.yaml
  provision/talos/templates/worker.yaml
Labels: area/cluster

feat(devcontainer): add chezmoi to Brewfile and install claude-code globally
  .devcontainer/scripts/onCreateCommand.sh
  .github/.devcontainer/local-features/common/Brewfile
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix(devcontainer): add node to Brewfile to make npm available
  .github/.devcontainer/local-features/common/Brewfile
Labels: area/github

fix(devcontainer): use full path for npm to fix command not found
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix(devcontainer): prepend linuxbrew to PATH for npm install
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix(devcontainer): export linuxbrew PATH globally in install_user.sh
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github
