Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

chore(docker-image): update nginx:1.25.3 docker digest to 1c27450
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 5040a25
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(terraform-provider): update terraform http to 3.4.1
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

ci(github-action)!: Update actions/deploy-pages action to v4
  .github/workflows/publish-pages.yaml
Labels: area/github

ci(github-action)!: Update actions/upload-pages-artifact action to v3
  .github/workflows/publish-pages.yaml
Labels: area/github

chore(docker-image): update haproxy:2.9-alpine docker digest to 238801d
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 7b88b0d
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 9dd8872
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-gpu to 0.29.0
  cluster/system/intel-gpu-plugin/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-operator to 0.29.0
  cluster/system/intel-device-plugins-operator/Chart.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.28.5
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(helm-chart): update rook-ceph-suite group to v1.13.1
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.3
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to bd30b8d
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 10.0.1
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.3
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kubelet-csr-approver to 1.0.6
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release cloudnative-pg to 0.20.0
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 2bdc49f
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.20.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to f1db587
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release node-feature-discovery to 0.15.0
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

feat(docker-image): update talos group to v1.6.1
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(helm-chart): update helm release gitea to 10.0.2
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 46a39bd
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.11
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.100 docker digest to 87e9914
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.101
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.21.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm-chart): update helm release snapshot-controller to 2.0.4
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.4
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.16.5
  .devcontainer/Dockerfile
Labels: none

fix(helm-chart): update helm release kube-prometheus-stack to 55.5.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.6
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 6e9d785
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 8.2.0
  provision/ansible/requirements.yml
Labels: area/ansible

feat(helm-chart): update helm release firefly-iii to 1.7.0
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

Update kubelet-csr-approver.yaml
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.8
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(docker-image)!: Update ghcr.io/home-assistant/home-assistant Docker tag to v2024
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster
