Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(rook-ceph): move daemon cephx keys off the insecure aes cipher (#5145)
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

chore: cut write volume reaching the Ceph OSD SSDs
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
  cluster/apps/ai/coder/Chart.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/default/bookorbit/Chart.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/harbor/Chart.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

chore: cut write volume reaching the Ceph OSD SSDs (#5148)
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
  cluster/apps/ai/coder/Chart.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/default/bookorbit/Chart.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/harbor/Chart.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(rook-ceph): drop the CSI publish params, StorageClass is immutable
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

fix(rook-ceph): drop the CSI publish params, StorageClass is immutable (#5149)
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

fix(grafana): add the missing unifi dashboard provider
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(grafana): add the missing unifi dashboard provider (#5150)
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

chore(rook-ceph): mute the cephx warnings blocked on kernel 7
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

docs(rook-ceph): document the cephx cipher state and gate the follow-up
  .github/mkdocs/mkdocs.yml
  .plans/TODO.md
  docs/src/k8s/rook-ceph-cephx.md
Labels: area/github

chore(docs): remove NVMe drive replacement documentation
  docs/src/k8s/nvme-replacement.md
Labels: none

chore(rook-ceph): mute cephx warnings blocked on kernel 7, document the gate (#5162)
  .github/mkdocs/mkdocs.yml
  .plans/TODO.md
  cluster/apps/core/rook-ceph/cluster/values.yaml
  docs/src/k8s/nvme-replacement.md
  docs/src/k8s/rook-ceph-cephx.md
Labels: area/github, area/cluster

fix(nextcloud): bump pgsql-cnpg subchart to 1.5.0
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
Labels: area/cluster

fix(nextcloud): bump pgsql-cnpg subchart to 1.5.0 (#5163)
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
Labels: area/cluster

fix(argocd): stop argocd-secret tracking-id drift from ESO
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/argocd/resources/argocd-oidc-externalsecret.yaml
Labels: area/cluster

fix(argocd): stop argocd-secret tracking-id drift from ESO (#5164)
  cluster/apps/core/argocd/app-config.yaml
  cluster/apps/core/argocd/resources/argocd-oidc-externalsecret.yaml
Labels: area/cluster

fix(nv1.yaml): update custom-installer image tag to v1.13.10-6.18.48-nvgpu5.11.1-drm-noshim
  provision/talos/nodes/nv1.yaml
Labels: none

chore(devcontainer): enable multi-architecture builds for Docker images
  .github/.devcontainer/Dockerfile
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

fix(devcontainer): adjust Docker login and push behavior for pull requests
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

chore(devcontainer): enable multi-architecture builds for Docker images (#5206)
  .github/.devcontainer/Dockerfile
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

chore(ollama): expand model PVC from 20Gi to 40Gi
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

chore(ollama): expand model PVC from 20Gi to 40Gi (#5289)
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

chore(ollama): temporarily pause auto-sync for llama.cpp GPU spike
  cluster/apps/ai/ollama/app-config.yaml
Labels: area/cluster

chore(ollama): temporarily pause auto-sync for llama.cpp GPU spike (#5290)
  cluster/apps/ai/ollama/app-config.yaml
Labels: area/cluster

fix(talos): disable DHCP on nv1 so it stops leasing a second IP
  provision/talos/nodes/nv1.yaml
Labels: none

fix(talos): disable DHCP on nv1 so it stops leasing a second IP (#5291)
  provision/talos/nodes/nv1.yaml
Labels: none

chore(ollama): resume auto-sync after llama.cpp GPU spike
  cluster/apps/ai/ollama/app-config.yaml
Labels: area/cluster

chore(ollama): resume auto-sync after llama.cpp GPU spike (#5292)
  cluster/apps/ai/ollama/app-config.yaml
Labels: area/cluster

docs(spec): local-first LLM on Jetson nv1 design
  docs/superpowers/specs/2026-09-25-local-first-llm-design.md
Labels: none

docs(plan): add local-first LLM implementation plan; align spec context sizing
  docs/superpowers/plans/2026-09-25-local-first-llm.md
  docs/superpowers/specs/2026-09-25-local-first-llm-design.md
Labels: none

docs: local-first LLM on Jetson nv1 — spec and implementation plan (#5295)
  docs/superpowers/plans/2026-09-25-local-first-llm.md
  docs/superpowers/specs/2026-09-25-local-first-llm-design.md
Labels: none

feat(honcho): run deriver, summary and low-tier dialectic on the local model
  cluster/apps/ai/honcho/templates/_helpers.tpl
Labels: area/cluster

feat(monitoring): alert when nv1 has no allocatable GPU
  cluster/apps/system/prometheus-stack/templates/prometheusrule-gpu.yaml
Labels: area/cluster

docs: add nv1 Jetson GPU runbook
  .github/mkdocs/mkdocs.yml
  docs/src/k8s/nv1-jetson.md
Labels: area/github

feat(llm): add CPU speech-to-text chart (Speaches / faster-whisper)
  cluster/apps/ai/llm/stt/Chart.yaml
  cluster/apps/ai/llm/stt/templates/deployment.yaml
  cluster/apps/ai/llm/stt/templates/prometheusrule.yaml
  cluster/apps/ai/llm/stt/templates/pvc.yaml
  cluster/apps/ai/llm/stt/templates/service.yaml
  cluster/apps/ai/llm/stt/values.yaml
Labels: area/cluster

feat(hermes): run auxiliary tasks on the local llama-server
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster

feat(llm): add CPU embeddings server (nomic-embed-text) in the llm namespace
  cluster/apps/ai/llm/app-config.yaml
  cluster/apps/ai/llm/embeddings/Chart.yaml
  cluster/apps/ai/llm/embeddings/templates/deployment.yaml
  cluster/apps/ai/llm/embeddings/templates/pvc.yaml
  cluster/apps/ai/llm/embeddings/templates/service.yaml
  cluster/apps/ai/llm/embeddings/values.yaml
Labels: area/cluster

feat(llm): add llama-server (Gemma 4 26B-A4B, CUDA 12.6) chart
  cluster/apps/ai/llm/server/Chart.yaml
  cluster/apps/ai/llm/server/templates/deployment.yaml
  cluster/apps/ai/llm/server/templates/podmonitor.yaml
  cluster/apps/ai/llm/server/templates/pvc.yaml
  cluster/apps/ai/llm/server/templates/service.yaml
  cluster/apps/ai/llm/server/values.yaml
Labels: area/cluster

feat(nvidia): restart the Jetson device plugin after kubelet restarts
  cluster/apps/system/nvidia/kustomization.yaml
  cluster/apps/system/nvidia/resources/device-plugin.yaml
  cluster/apps/system/nvidia/resources/watchdog.sh
  cluster/apps/system/nvidia/resources/watchdog.test.sh
Labels: area/cluster

feat(hermes): seed per-profile config overlays; canary researcher on the local model
  cluster/apps/ai/hermes-agent/templates/deployment.yaml
  cluster/apps/ai/hermes-agent/templates/profile-overlays-configmap.yaml
  cluster/apps/ai/hermes-agent/values.yaml
Labels: area/cluster
