Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(helm-chart): update rook-ceph-suite group to v1.13.7
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 57.0.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

expose voice pipeline outside cluster
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

add debug
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix controllers
  cluster/home-automation/piper/values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.15.3
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

add model
  cluster/home-automation/openwakeword/hej_maniek.tflite
Labels: area/cluster

add openwakeword
  cluster/home-automation/openwakeword/Chart.yaml
  cluster/home-automation/openwakeword/values.yaml
  cluster/projects/home-automation/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release app-template to 3.0.4
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/home-automation/openwakeword/Chart.yaml
  cluster/home-automation/piper/Chart.yaml
  cluster/home-automation/whisper/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

fix args
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

add volume
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

fix args
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

fix missing curl
  cluster/home-automation/openwakeword/values.yaml
Labels: area/cluster

Update values.yaml
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.30
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to 39945c9
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to b2ad81c
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to cb3afd0
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 7408e5f
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to c8d8094
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to c817c99
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 9f37e39
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to b89ff20
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 9f1f8ec
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.10.4
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 554002a
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update siderolabs/kubelet to v1.28.8
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

fix(helm-chart): update helm release firefly-iii to 1.8.1
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.3.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.31
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release volsync to 0.9.0
  cluster/system/volsync/Chart.yaml
Labels: area/cluster

fix(deps): update talos group
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 57.1.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

feat(deps): update siderolabs/kubelet to v1.29.3
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

remove unused fg
  provision/talos/talconfig.yaml
Labels: none

add prometheus endpoint to rook
  cluster/core/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.9
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 6326b28
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.3.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster
