Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix tmp config
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(docker-image)!: Update ghcr.io/linuxserver/calibre-web Docker tag to v2021
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v6.22.0
  .github/workflows/lint.yaml
Labels: area/github

ci(github-action): update oxsecurity/megalinter action to v6.22.1
  .github/workflows/lint.yaml
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update values.yaml
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

Update allowedVersions.json5 (#289)
  .github/renovate/allowedVersions.json5
  cluster/apps/jellyfin/values.yaml
Labels: area/github, area/cluster

feat(docker-image)!: Update ghcr.io/linuxserver/calibre-web Docker tag to v5
  cluster/apps/calibre/values.yaml
Labels: area/cluster

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(deps): update pre-commit hook ansible/ansible-lint to v6.14.4
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release node-feature-discovery to 0.12.2
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

update scripts
  .devcontainer/Dockerfile
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/postStartCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
Labels: none

feat(helm-chart)!: Update Helm release botkube to v1.0.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v6.22.2
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update mcr.microsoft.com/devcontainers/universal:2 docker digest to 78f1db9
  .devcontainer/Dockerfile
Labels: none

Update Dockerfile
  .devcontainer/Dockerfile
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update Dockerfile
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 45.9.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

update botkube values for 1.0
  cluster/apps/botkube/templates/secret.yaml
  cluster/apps/botkube/values.yaml
Labels: area/cluster

add new tasks
  .github/linters/.prettierignore
  .taskfiles/format.yml
  .taskfiles/terraform.yml
  Taskfile.yml
Labels: area/github

add schema for taskfiles
  .vscode/settings.json
Labels: none

fix ignore error
  .taskfiles/lint.yml
Labels: none

add linted files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
  .github/workflow-scripts/file-filters.yml
  .github/workflows/diff-yaml-on-pr.yaml
  .pre-commit-config.yaml
  .taskfiles/ansible.yml
  README.md
Labels: area/github

add more configurations
  .github/linters/.prettierignore
  .github/linters/.prettierrc.yaml
  .github/linters/.yamllint.yaml
Labels: area/github

Chore: lint all files (#297)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/linters/.prettierignore
  .github/linters/.prettierrc.yaml
  .github/linters/.yamllint.yaml
  .github/workflow-scripts/file-filters.yml
  .github/workflows/diff-yaml-on-pr.yaml
  .pre-commit-config.yaml
  .taskfiles/ansible.yml
  .taskfiles/format.yml
  .taskfiles/lint.yml
  .taskfiles/terraform.yml
  .vscode/settings.json
  README.md
  Taskfile.yml
Labels: area/github

mograte last app to plugin cm
  cluster/core/argocd/projects/core/apps/values.yaml
Labels: area/cluster

remove old argocd plugins configuration
  cluster/core/argocd/base/patches/argo-cd-repo-server-ksops-patch.yaml
  cluster/core/argocd/base/patches/argocd-cm.yaml
Labels: area/cluster

remove old argocd plugins configuration (#299)
  cluster/core/argocd/base/patches/argo-cd-repo-server-ksops-patch.yaml
  cluster/core/argocd/base/patches/argocd-cm.yaml
Labels: area/cluster

move projects to new folder
  cluster/projects/apps/app-of-apps.yaml
  cluster/projects/apps/apps.yaml
  cluster/projects/apps/apps/Chart.yaml
  cluster/projects/apps/apps/templates/app-template.yaml
  cluster/projects/apps/apps/values.yaml
  cluster/projects/apps/kustomization.yaml
  cluster/projects/core/app-of-apps.yaml
  cluster/projects/core/apps/Chart.yaml
  cluster/projects/core/apps/templates/app-template.yaml
  cluster/projects/core/apps/values.yaml
  cluster/projects/core/core.yaml
  cluster/projects/core/kustomization.yaml
  cluster/projects/kustomization.yaml
  cluster/projects/system/app-of-apps.yaml
  cluster/projects/system/apps/Chart.yaml
  cluster/projects/system/apps/templates/app-template.yaml
  cluster/projects/system/apps/values.yaml
  cluster/projects/system/kustomization.yaml
  cluster/projects/system/system.yaml
Labels: area/cluster

remove old projects folder
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/apps/apps/Chart.yaml
  cluster/core/argocd/projects/apps/apps/templates/app-template.yaml
  cluster/core/argocd/projects/apps/apps/values.yaml
  cluster/core/argocd/projects/apps/kustomization.yaml
  cluster/core/argocd/projects/apps/project.yaml
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/core/apps/Chart.yaml
  cluster/core/argocd/projects/core/apps/templates/app-template.yaml
  cluster/core/argocd/projects/core/apps/values.yaml
  cluster/core/argocd/projects/core/kustomization.yaml
  cluster/core/argocd/projects/core/project.yaml
  cluster/core/argocd/projects/kustomization.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
  cluster/core/argocd/projects/system/apps/Chart.yaml
  cluster/core/argocd/projects/system/apps/templates/app-template.yaml
  cluster/core/argocd/projects/system/apps/values.yaml
  cluster/core/argocd/projects/system/kustomization.yaml
  cluster/core/argocd/projects/system/system.yaml
Labels: area/cluster

move argcd from base
  cluster/core/argocd/Readme.md
  cluster/core/argocd/kustomization.yaml
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
  cluster/core/argocd/patches/argocd-cm.yaml
  cluster/core/argocd/patches/argocd-cmd-params-cm.yaml
  cluster/core/argocd/patches/argocd-rbac-cm.yaml
  cluster/core/argocd/patches/argocd-secret.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
  cluster/core/argocd/resources/cert.yaml
  cluster/core/argocd/resources/ingress-internal.yaml
  cluster/core/argocd/resources/ingress.yaml
  cluster/core/argocd/resources/repository.yaml
  cluster/core/argocd/resources/sops-replacer-plugin.yaml
  cluster/core/argocd/secret.sec.yaml
  cluster/projects/core/apps/values.yaml
Labels: area/cluster

increase helm plugin cpu limit
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.3.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

ci(github-action)!: Update peter-evans/create-or-update-comment action to v3
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

Update diff-yaml-on-pr.yaml
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

move devcontainer to base image
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
