Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat(helm-chart): update helm release gitea to 9.3.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.12.3
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.13.4
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.12.4
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release minecraft-bedrock to 2.1.2
  cluster/apps/minecraft/bedrock/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to e4d3506
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action)!: Update actions/checkout action to v4
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(deps): update metallb/metallb to v0.13.11
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 6.17.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 50.3.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.14.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(deps): update pre-commit hook ansible/ansible-lint to v6.19.0
  .pre-commit-config.yaml
Labels: none

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.9.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to c00cdda
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to b437ad7
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.89 docker digest to 23d0aea
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.90
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(deps): update siderolabs/talos to v1.5.2
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

chore(docker-image): update nginx:1.25.2 docker digest to a0e1a5e
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.8.3
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release node-feature-discovery to 0.14.0
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to 6926dd8
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to db560c7
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 10502af
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.20.4
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to e6997e8
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

Update values.yaml
  cluster/apps/valheim/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 85fbb91
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 9.4.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.9.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

ci(github-action)!: Update tibdex/github-app-token action to v2
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 4a81bf0
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 51.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 7.4.0
  provision/ansible/requirements.yml
Labels: area/ansible

feat(deps): update cert-manager/cert-manager to v1.13.0
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v22.0.3
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.9.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.90 docker digest to 21ed0ad
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.91
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to f3d8b50
  .devcontainer/Dockerfile
Labels: none
