Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

add task for talos auto apply
  .taskfiles/talos.yml
Labels: none

enable talos backup deployment
  cluster/projects/system/values.yaml
Labels: area/cluster

add bucket prefix
  cluster/system/talos-backup/templates/cronjob.yaml
  cluster/system/talos-backup/templates/secrets.yaml
Labels: area/cluster

fix prefix
  cluster/system/talos-backup/templates/cronjob.yaml
Labels: area/cluster

fix bucket name
  cluster/system/talos-backup/templates/cronjob.yaml
  cluster/system/talos-backup/templates/secrets.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.20.1
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to a45f246
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to f9822ef
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to efc4b03
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to c6e6437
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to ddf2025
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release homepage to 1.2.3
  cluster/apps/gethomepage/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 2ece52b
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

feat(helm-chart): update helm release minecraft-bedrock to 2.3.0
  cluster/apps/minecraft/bedrock/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.20.2
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to b7ca05d
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.20.3
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update gitea/gitea docker tag to v1.20.5
  cluster/apps/gitea/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to a724e14
  .devcontainer/Dockerfile
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.16.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v22.0.4
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release gitea to 9.5.0
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.12.5
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 7de9e00
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 01db2e6
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to def056c
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release app-template to 2.0.3
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/mosquitto/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to dff22a9
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

feat(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: none

Update cronjob.yaml
  cluster/system/talos-backup/templates/cronjob.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 9ade618
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.4.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix mosquito
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release botkube to v1.5.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

fix volumes
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

remove claimtemplate
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

update helm version
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix mout path for init
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

add resources
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

fix HA
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
