Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

add github pr extension
  .devcontainer/devcontainer.json
Labels: none

fix for replacing comment
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

enable monitoring (#351)
  .devcontainer/devcontainer.json
  .github/workflows/diff-yaml-on-pr.yaml
  cluster/projects/system/apps/values.yaml
  cluster/system/prometheus-stack/values.yaml
Labels: area/github, area/cluster

allow privilaged for monitoring
  cluster/projects/system/apps/values.yaml
Labels: area/cluster

add init to plugins
  cluster/core/argocd/resources/sops-replacer-plugin.yaml
  provision/ansible/requirements.yml
Labels: area/ansible, area/cluster

remove init command
  cluster/core/argocd/resources/sops-replacer-plugin.yaml
Labels: area/cluster

move to common chart
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/apps/apps.yaml
  cluster/core/argocd/projects/apps/kustomization.yaml
  cluster/core/argocd/projects/kustomization.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/apps/apps/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

migrate rest of projects
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/core/core.yaml
  cluster/core/argocd/projects/core/kustomization.yaml
  cluster/core/argocd/projects/kustomization.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
  cluster/core/argocd/projects/system/kustomization.yaml
  cluster/core/argocd/projects/system/system.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/core/apps/Chart.yaml
  cluster/projects/core/apps/templates/app-template.yaml
  cluster/projects/core/apps/values.yaml
  cluster/projects/core/values.yaml
  cluster/projects/system/Chart.yaml
  cluster/projects/system/apps/Chart.yaml
  cluster/projects/system/apps/templates/app-template.yaml
  cluster/projects/system/apps/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

move to common chart (#352)
  charts/app-of-apps/Chart.yaml
  charts/app-of-apps/templates/app-template.yaml
  cluster/core/argocd/projects/apps/app-of-apps.yaml
  cluster/core/argocd/projects/apps/apps.yaml
  cluster/core/argocd/projects/apps/kustomization.yaml
  cluster/core/argocd/projects/core/app-of-apps.yaml
  cluster/core/argocd/projects/core/core.yaml
  cluster/core/argocd/projects/core/kustomization.yaml
  cluster/core/argocd/projects/kustomization.yaml
  cluster/core/argocd/projects/system/app-of-apps.yaml
  cluster/core/argocd/projects/system/kustomization.yaml
  cluster/core/argocd/projects/system/system.yaml
  cluster/core/argocd/resources/app-of-apps.yaml
  cluster/projects/apps/Chart.yaml
  cluster/projects/apps/apps/Chart.yaml
  cluster/projects/apps/apps/values.yaml
  cluster/projects/apps/values.yaml
  cluster/projects/core/Chart.yaml
  cluster/projects/core/apps/templates/app-template.yaml
  cluster/projects/core/apps/values.yaml
  cluster/projects/core/values.yaml
  cluster/projects/system/Chart.yaml
  cluster/projects/system/apps/Chart.yaml
  cluster/projects/system/apps/templates/app-template.yaml
  cluster/projects/system/apps/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

cleanup
  cluster/projects/kustomization.yaml
Labels: area/cluster

enable some system apps
  cluster/projects/system/values.yaml
Labels: area/cluster

update ddns secret
  cluster/system/dyndns/resources/secret.yaml
Labels: area/cluster

update secret
  cluster/system/dyndns/resources/secret.yaml
Labels: area/cluster

increase loglevel
  cluster/system/dyndns/resources/secret.yaml
Labels: area/cluster

upp limits
  cluster/system/dyndns/resources/deployment.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.11.2
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

feat(ansible-collection)!: Update community.general to 7.0.0
  provision/ansible/requirements.yml
Labels: area/ansible

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to dd504f0
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 3541bd4
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 45.27.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/bedrock-viz:rolling docker digest to 458014d
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

upgrade talos version
  provision/talos/talconfig.yaml
Labels: none

add dashboards
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

update pvc fro grafana
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

add perisstance to prom
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

update name of dashboards
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

add ignores to webhook
  cluster/projects/system/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release botkube to v1.0.1
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.7.2
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

fix(deps): update pre-commit hook gruntwork-io/pre-commit to v0.1.22
  .pre-commit-config.yaml
Labels: none

fix(deps): update pre-commit hook ansible/ansible-lint to v6.16.1
  .pre-commit-config.yaml
Labels: none

enable intel operator
  cluster/projects/system/values.yaml
Labels: area/cluster

add nfd
  cluster/projects/system/values.yaml
Labels: area/cluster

enable keycloak
  cluster/projects/system/values.yaml
Labels: area/cluster

update keycloak backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable self heal
  cluster/projects/system/values.yaml
Labels: area/cluster

disable backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

remove kc old restore
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

disable backups
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix name of cluster from backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster
