Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(deps): update pre-commit hook sirosen/texthooks to 0.6.2
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 0aaa0bc
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.17.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(deps): update pre-commit hook ansible/ansible-lint to v6.21.0
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 51.9.4
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v1.14.0
  .devcontainer/Dockerfile
Labels: none

chore(docker-image): update factoriotools/factorio:1.1.93 docker digest to 1e1ddcf
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.94
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release cloudnative-pg to 0.19.0
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.21.1
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update rook-ceph-suite group to v1.12.6
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

fix(deps): update metallb/metallb to v0.13.12
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.10.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.18.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 59fe2aa
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to d29d524
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release firefly-iii to 1.5.0
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/linuxserver/calibre-web docker tag to v0.6.21
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.7
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.10.5
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release traefik to 25.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix values change
  cluster/system/traefik/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.14.3
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v22.0.5
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 1.9.2
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-validation-webhook to 1.8.3
  cluster/system/snapshot-validation-webhook/Chart.yaml
Labels: area/cluster

fix(docker-image): update nginx docker tag to v1.25.3
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix botkube secret
  cluster/apps/botkube/templates/secret.yaml
  cluster/apps/botkube/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 52.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.8.5
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 52.1.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release snapshot-validation-webhook to 1.9.0
  cluster/system/snapshot-validation-webhook/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release snapshot-controller to 2.0.0
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.12.7
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

ci(github-action): update oxsecurity/megalinter action to v7.5.0
  .github/workflows/lint.yaml
Labels: area/github

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to c83e6a7
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.13.2
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

add test deploy
  cluster/apps/gitea/templates/deploy.yaml
Labels: area/cluster

fix volumes
  cluster/apps/gitea/templates/deploy.yaml
Labels: area/cluster

disable self heal
  cluster/projects/apps/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
