Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 663dece
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 234bd0d
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 56.2.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v23.0.5
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release botkube to v1.8.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

feat(deps): update metallb/metallb to v0.14.2
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release kubelet-csr-approver to 1.0.7
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

fix(deps): update pre-commit hook sirosen/texthooks to 0.6.4
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release firefly-iii to 1.7.3
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

feat(ansible-collection): update community.general to 8.3.0
  provision/ansible/requirements.yml
Labels: area/ansible

chore(docker-image): update haproxy:2.9-alpine docker digest to 49f58ed
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 56.3.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.103 docker digest to dd88137
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.104
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(deps): update metallb/metallb to v0.14.3
  cluster/core/metallb-system/metallb/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.6
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.16
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 6a15367
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 24e49fa
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release snapshot-controller to 2.1.0
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 9852241
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.21.5
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 10.1.1
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 56.6.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 8b4c320
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.18.2
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update nginx:1.25.3 docker digest to 31754bc
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 6eb9534
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v23.0.6
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.9.6
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(deps): update cert-manager/cert-manager to v1.14.1
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.17
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to a94fdb1
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.3 docker digest to 5f44022
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 91832b7
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release firefly-iii to 1.7.4
  cluster/apps/firefly/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 56.6.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(deps): update talos group
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

updata new grafana dashboard for cnpg
  cluster/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release cloudnative-pg to 0.20.1
  cluster/system/cloudnative-pg/Chart.yaml
Labels: area/cluster
