Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

add grocy
  cluster/apps/grocy/templates/volsync.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

restore valheim
  cluster/apps/grocy/templates/volsync.yaml
  cluster/apps/valheim/templates/volsync.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

factorio restore
  cluster/apps/factorio/templates/volsync.yaml
  cluster/apps/valheim/templates/volsync.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

fix factorio mover perm
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

add helper container
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

fix perm
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

finish restoring
  cluster/apps/factorio/templates/volsync.yaml
Labels: area/cluster

restore mc
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
  cluster/apps/minecraft/bedrock/values.yaml
  cluster/projects/apps/values.yaml
Labels: area/cluster

finish restore
  cluster/apps/minecraft/bedrock/templates/volsync.yaml
Labels: area/cluster

upgrade k8s
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(deps): update kubernetes/kubernetes to v1.27.2
  .github/workflows/diff-yaml-on-pr.yaml
  provision/talos/talconfig.yaml
Labels: area/github

update talos readme
  provision/talos/README.md
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 45.29.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(deps): update cert-manager/cert-manager to v1.12.0
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v6.16.2
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release external-secrets to 0.8.2
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

add talos taskfile
  .taskfiles/talos.yml
  .vscode/settings.json
  Taskfile.yml
  provision/talos/kustomization.yaml
Labels: none

feat(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

fix(ansible-collection): update community.general to 7.0.1
  provision/ansible/requirements.yml
Labels: area/ansible

feat(helm-chart): update helm release kube-prometheus-stack to 45.31.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add cnpg clusters
  .taskfiles/talos.yml
Labels: none

fix taskfile yaml for talos
  .gitignore
  .taskfiles/talos.yml
Labels: none

upgrade task config again
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(deps): update siderolabs/talos to v1.4.4
  provision/talos/talconfig.yaml
Labels: none

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 46.4.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

update talos task file
  .taskfiles/talos.yml
Labels: none

downgrade talos to 1.4.3
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(deps): update argoproj/argo-cd to v2.7.3
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(docker-image): update nginx docker tag to v1.25.0
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

create cluster from backup
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

enable backups
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.12.1
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.8.3
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

chore(docker-image): update lloesche/valheim-server:latest docker digest to 677c49e
  cluster/apps/valheim/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.82
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 46.4.2
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-validation-webhook to 1.7.2
  cluster/system/snapshot-validation-webhook/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release snapshot-controller to 1.8.0
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

fix(deps): update siderolabs/talos to v1.4.5
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.7.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
