Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

add sts
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix strategy
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

migrate ha addons
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix ingress and issing service
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

enable config
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

changes for cloudflared
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix indent
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

disable selfheal
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

fix ports
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix service monitor port
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/coder/code-server docker tag to v4.17.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.10.1
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 749f6fd
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

enable selfheal
  cluster/projects/apps/values.yaml
  cluster/projects/home-automation/values.yaml
  cluster/projects/system/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.14.2
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.5.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix coder port
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

change terraform toupgrade
  Taskfile.yml
Labels: none

fix(helm-chart): update helm release kube-prometheus-stack to 51.5.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release minecraft-bedrock to 2.4.0
  cluster/apps/minecraft/bedrock/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to 72477e4
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to 4dd5020
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to bf79ebd
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to ee95754
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to e80beb3
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to b4af4f8
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.10.2
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.6.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-validation-webhook to 1.8.2
  cluster/system/snapshot-validation-webhook/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to b0b6f6f
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.10.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to d9807dc
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.6
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.8.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 51.8.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action): update actions/checkout digest to b4ffde6
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(helm-chart): update helm release oauth2-proxy to 6.18.0
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 9.5.1
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.92 docker digest to 7dd44e0
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.93
  cluster/apps/factorio/values.yaml
Labels: area/cluster
