Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

feat(mosquitto): Mosquitto broker (ClusterIP) to replace RabbitMQ MQTT
  cluster/apps/home-automation/mosquitto/Chart.yaml
  cluster/apps/home-automation/mosquitto/app-config.yaml
  cluster/apps/home-automation/mosquitto/templates/externalsecret.yaml
  cluster/apps/home-automation/mosquitto/values.yaml
Labels: area/cluster

feat(mosquitto): Mosquitto broker (ClusterIP) to replace RabbitMQ MQTT (#5450)
  cluster/apps/home-automation/mosquitto/Chart.yaml
  cluster/apps/home-automation/mosquitto/app-config.yaml
  cluster/apps/home-automation/mosquitto/templates/externalsecret.yaml
  cluster/apps/home-automation/mosquitto/values.yaml
Labels: area/cluster

feat(zigbee2mqtt): use the Mosquitto broker
  cluster/apps/home-automation/zigbee2mqtt/templates/externalsecret.yaml
Labels: area/cluster

feat(zigbee2mqtt): use the Mosquitto broker (#5451)
  cluster/apps/home-automation/zigbee2mqtt/templates/externalsecret.yaml
Labels: area/cluster

feat(mosquitto): take over 192.168.48.26 and mqtt.<domain> from RabbitMQ
  cluster/apps/home-automation/mosquitto/templates/dnsendpoint.yaml
  cluster/apps/home-automation/mosquitto/values.yaml
  cluster/apps/home-automation/rabbitmq/values.yaml
  docs/src/general/network.md
Labels: area/cluster

feat(mosquitto): take over 192.168.48.26 and mqtt.<domain> from RabbitMQ (#5452)
  cluster/apps/home-automation/mosquitto/templates/dnsendpoint.yaml
  cluster/apps/home-automation/mosquitto/values.yaml
  cluster/apps/home-automation/rabbitmq/values.yaml
  docs/src/general/network.md
Labels: area/cluster

fix(mosquitto): enable cluster-secrets substitution (mqtt DNS record had a literal token)
  cluster/apps/home-automation/mosquitto/app-config.yaml
Labels: area/cluster

chore: remove RabbitMQ (app, operator, local chart); HA secret points at Mosquitto
  README.md
  charts/rabbitmq-cluster/Chart.yaml
  charts/rabbitmq-cluster/templates/rabbitmqcluster.yaml
  charts/rabbitmq-cluster/values.yaml
  cluster/apps/home-automation/home-assistant/templates/secrets.yaml
  cluster/apps/home-automation/rabbitmq/Chart.yaml
  cluster/apps/home-automation/rabbitmq/app-config.yaml
  cluster/apps/home-automation/rabbitmq/templates/external-secret.yaml
  cluster/apps/home-automation/rabbitmq/values.yaml
  cluster/apps/system/rabbitmq-cluster-operator/app-config.yaml
  cluster/apps/system/rabbitmq-cluster-operator/kustomization.yaml
Labels: area/cluster

fix(mosquitto): enable cluster-secrets substitution (mqtt DNS record had a literal token) (#5453)
  cluster/apps/home-automation/mosquitto/app-config.yaml
Labels: area/cluster

chore: keep the RabbitMQ operator and the local chart for future use
  charts/rabbitmq-cluster/Chart.yaml
  charts/rabbitmq-cluster/templates/rabbitmqcluster.yaml
  charts/rabbitmq-cluster/values.yaml
  cluster/apps/system/rabbitmq-cluster-operator/app-config.yaml
  cluster/apps/system/rabbitmq-cluster-operator/kustomization.yaml
Labels: area/cluster

chore: remove RabbitMQ (app, operator, local chart); HA secret points at Mosquitto (#5454)
  README.md
  cluster/apps/home-automation/home-assistant/templates/secrets.yaml
  cluster/apps/home-automation/rabbitmq/Chart.yaml
  cluster/apps/home-automation/rabbitmq/app-config.yaml
  cluster/apps/home-automation/rabbitmq/templates/external-secret.yaml
  cluster/apps/home-automation/rabbitmq/values.yaml
Labels: area/cluster

feat(home-automation): VolSync backups for HA config, Z2M, Matter server and Music Assistant
  cluster/apps/home-automation/home-assistant/templates/volsync.yaml
  cluster/apps/home-automation/matter-server/templates/volsync.yaml
  cluster/apps/home-automation/music-assistant/templates/volsync.yaml
  cluster/apps/home-automation/zigbee2mqtt/templates/volsync.yaml
Labels: area/cluster

feat(volsync): use the local volsync chart (restore.enabled=false for existing PVCs)
  charts/volsync/templates/replicationdestination.yaml
  charts/volsync/values.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/templates/volsync.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/home-automation/matter-server/Chart.yaml
  cluster/apps/home-automation/matter-server/templates/volsync.yaml
  cluster/apps/home-automation/matter-server/values.yaml
  cluster/apps/home-automation/music-assistant/Chart.yaml
  cluster/apps/home-automation/music-assistant/templates/volsync.yaml
  cluster/apps/home-automation/music-assistant/values.yaml
  cluster/apps/home-automation/zigbee2mqtt/Chart.yaml
  cluster/apps/home-automation/zigbee2mqtt/templates/volsync.yaml
  cluster/apps/home-automation/zigbee2mqtt/values.yaml
Labels: area/cluster

feat(home-automation): VolSync backups for HA config, Z2M, Matter server and Music Assistant (#5455)
  charts/volsync/templates/replicationdestination.yaml
  charts/volsync/values.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/home-automation/matter-server/Chart.yaml
  cluster/apps/home-automation/matter-server/values.yaml
  cluster/apps/home-automation/music-assistant/Chart.yaml
  cluster/apps/home-automation/music-assistant/values.yaml
  cluster/apps/home-automation/zigbee2mqtt/Chart.yaml
  cluster/apps/home-automation/zigbee2mqtt/values.yaml
Labels: area/cluster

docs: Phase 4 cutover done, Mosquitto swap, external-dns fix, VolSync
  docs/superpowers/plans/2026-10-01-rpi-decommission.md
Labels: none

feat(matter-server): bind the unauthenticated WebSocket to the pod network only
  cluster/apps/home-automation/matter-server/values.yaml
  docs/src/general/matter-thread.md
Labels: area/cluster

feat(matter-server): bind the unauthenticated WebSocket to the pod network only (#5456)
  cluster/apps/home-automation/matter-server/values.yaml
  docs/src/general/matter-thread.md
Labels: area/cluster

docs: HA cut over to the cluster, RPi stopped, UPS NUT dependency noted
  .claude/memory/reference_home_network_hardware.md
  docs/src/general/hardware.md
  docs/src/general/matter-thread.md
  docs/src/general/network.md
Labels: none

docs: UPS NUT now served by the QNAP, nodes repointed
  .claude/memory/reference_home_network_hardware.md
  docs/src/general/hardware.md
  docs/src/general/network.md
Labels: none

docs: HA in the cluster, RPi stopped, UPS NUT now on the QNAP (#5457)
  .claude/memory/reference_home_network_hardware.md
  docs/src/general/hardware.md
  docs/src/general/matter-thread.md
  docs/src/general/network.md
Labels: none

chore: remove the empty hass-proxy app
  cluster/apps/default/hass-proxy/Chart.yaml
  cluster/apps/default/hass-proxy/app-config.yaml
  cluster/apps/default/hass-proxy/values.yaml
Labels: area/cluster

chore: remove the empty hass-proxy app (#5458)
  cluster/apps/default/hass-proxy/Chart.yaml
  cluster/apps/default/hass-proxy/app-config.yaml
  cluster/apps/default/hass-proxy/values.yaml
Labels: area/cluster

chore(qnap-proxy): fix the chart name (copy-paste leftover from hass-proxy)
  cluster/apps/default/qnap-proxy/Chart.yaml
Labels: area/cluster

chore(qnap-proxy): fix the chart name (copy-paste leftover from hass-proxy) (#5459)
  cluster/apps/default/qnap-proxy/Chart.yaml
Labels: area/cluster

docs: Phase 4.2 status (retention window in progress)
  docs/superpowers/plans/2026-10-01-rpi-decommission.md
Labels: none

docs: design for RPi decommission and in-cluster HA stack (#5398)
  docs/superpowers/plans/2026-10-01-rpi-decommission.md
  docs/superpowers/specs/2026-10-01-rpi-decommission-design.md
Labels: none

docs: whole cluster runs Talos v1.13.10, not v1.12.x
  docs/superpowers/plans/artifacts/2026-10-03-r39-phase-b-flash-rollback.md
Labels: none

chore(talos): point nv1 at the Talos v1.14.0 custom installer
  provision/talos/README.md
  provision/talos/nodes/nv1.yaml
Labels: none

chore(talos): bump control plane to v1.14.2, track Talos via github-releases
  .claude/skills/cluster-reference/SKILL.md
  .github/renovate/groups.json5
  .taskfiles/talos/Taskfile.yaml
Labels: area/github

chore(renovate): drop the unpublished siderolabs/installer from the talos group
  .github/renovate/groups.json5
Labels: area/github

chore(talos): bump control plane to v1.14.2 (#5464)
  .claude/skills/cluster-reference/SKILL.md
  .github/renovate/groups.json5
  .taskfiles/talos/Taskfile.yaml
Labels: area/github

chore(talos): point nv1 at the Talos v1.14.0 custom installer (#5461)
  provision/talos/README.md
  provision/talos/nodes/nv1.yaml
Labels: none

chore(talos): make talos:upgrade callable directly for single-node upgrades
  .taskfiles/talos/Taskfile.yaml
Labels: none

chore(talos): make talos:upgrade callable directly for single-node upgrades (#5465)
  .taskfiles/talos/Taskfile.yaml
Labels: none

docs(todo): Prometheus is not scraping etcd
  .plans/TODO.md
Labels: none

docs(todo): Prometheus is not scraping etcd (#5466)
  .plans/TODO.md
Labels: none

fix(home-assistant): archive CNPG WAL/backups to a fresh S3 path
  cluster/apps/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(home-assistant): archive CNPG WAL/backups to a fresh S3 path (#5467)
  cluster/apps/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(talos): wait for every CNPG cluster to be Ready before node upgrades
  .taskfiles/talos/Taskfile.yaml
Labels: none

chore(talos): wait for every CNPG cluster to be Ready before node upgrades (#5468)
  .taskfiles/talos/Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
