Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

feat(anytype): add VolSync restic backups for all critical PVCs
  cluster/apps/default/anytype/templates/volsync.yaml
Labels: area/cluster

update plan
  docs/superpowers/plans/2026-06-22-anytype.md
Labels: none

fix(anytype): add Cilium LB IPAM sharing annotations to any-sync services
  charts/anytype/templates/consensusnode-service.yaml
  charts/anytype/templates/coordinator-service.yaml
  charts/anytype/templates/filenode-service.yaml
  charts/anytype/templates/syncnode-service.yaml
Labels: none

fix(anytype): add strategy: Recreate to Deployments with RWO PVCs
  charts/anytype/templates/consensusnode-deployment.yaml
  charts/anytype/templates/coordinator-deployment.yaml
  charts/anytype/templates/filenode-deployment.yaml
  charts/anytype/templates/redis-deployment.yaml
  charts/anytype/templates/syncnode-deployment.yaml
Labels: none

feat(anytype): expose image tags in app values.yaml for Renovate
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

feat(anytype): fill in Bitwarden UUIDs for all ExternalSecrets
  cluster/apps/default/anytype/templates/externalsecrets.yaml
Labels: area/cluster

docs(anytype): add chart README with first-time setup guide
  charts/anytype/README.md
Labels: none

fix d
  charts/anytype/README.md
  cluster/apps/ai/coder/README.md
Labels: area/cluster

feat(terraform): add Cloudflare WARP private network route for anytype
  charts/anytype/README.md
  provision/terraform/cloudflare/bitwarden_secrets.tf
  provision/terraform/cloudflare/warp.tf
Labels: area/terraform

docs(bootstrap): add Cloudflare pre-bootstrap setup guide
  docs/src/k8s/bootstrap.md
Labels: none

feat(anytype): self-hosted Anytype sync network on Kubernetes (#4253)
  .gitignore
  .plans/list.md
  charts/anytype/Chart.yaml
  charts/anytype/README.md
  charts/anytype/templates/consensusnode-deployment.yaml
  charts/anytype/templates/consensusnode-pvc.yaml
  charts/anytype/templates/consensusnode-service.yaml
  charts/anytype/templates/coordinator-deployment.yaml
  charts/anytype/templates/coordinator-pvc.yaml
  charts/anytype/templates/coordinator-service.yaml
  charts/anytype/templates/filenode-deployment.yaml
  charts/anytype/templates/filenode-pvc.yaml
  charts/anytype/templates/filenode-service.yaml
  charts/anytype/templates/mongodb-service.yaml
  charts/anytype/templates/mongodb-statefulset.yaml
  charts/anytype/templates/redis-deployment.yaml
  charts/anytype/templates/redis-pvc.yaml
  charts/anytype/templates/redis-service.yaml
  charts/anytype/templates/syncnode-deployment.yaml
  charts/anytype/templates/syncnode-pvc.yaml
  charts/anytype/templates/syncnode-service.yaml
  charts/anytype/values.yaml
  cluster/apps/ai/coder/README.md
  cluster/apps/default/anytype/Chart.yaml
  cluster/apps/default/anytype/app-config.yaml
  cluster/apps/default/anytype/templates/externalsecrets.yaml
  cluster/apps/default/anytype/templates/volsync.yaml
  cluster/apps/default/anytype/values.yaml
  docs/src/k8s/bootstrap.md
  docs/superpowers/plans/2026-06-22-anytype.md
  docs/superpowers/specs/2026-06-22-anytype-design.md
  provision/terraform/cloudflare/bitwarden_secrets.tf
  provision/terraform/cloudflare/warp.tf
Labels: area/cluster, area/terraform

feat(anytype): enable Anytype application in app-config.yaml
  cluster/apps/default/anytype/app-config.yaml
Labels: area/cluster

fix(anytype): use pod FQDN in rs.initiate postStart hook
  charts/anytype/templates/mongodb-statefulset.yaml
Labels: none

fix(anytype): use 0.0.0.0 for listenAddrs in config patching script
  charts/anytype/README.md
Labels: none

fix(anytype): change LB IP from 192.168.48.29 to 192.168.48.30
  charts/anytype/README.md
  charts/anytype/values.yaml
  docs/src/general/network.md
  provision/terraform/cloudflare/warp.tf
Labels: area/terraform

fix(anytype): replace loopback addrs with K8s internal DNS in patch script
  charts/anytype/README.md
Labels: none

fix(anytype): use s3_endpoint BWS secret reference in patch script docs
  charts/anytype/README.md
Labels: none

fix(anytype): add moverSecurityContext uid/gid 999 to MongoDB backup job
  cluster/apps/default/anytype/templates/volsync.yaml
Labels: area/cluster

chore: close anytype plan — deployment complete and healthy
  .archive/.plans/2026-06-22-anytype.md
  .archive/.plans/list.md
  .plans/list.md
Labels: none

archive plan
  docs/superpowers/plans/2026-06-22-anytype.md
Labels: none

feat(prometheus): enable DRM and Tegra thermal zone collectors on node-exporter
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

feat(prometheus): enable DRM and Tegra thermal zone collectors (#4263)
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(prometheus): pin node-exporter to master-distroless digest with EINVAL fix
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(prometheus): pin node-exporter to master-distroless digest with EINVAL fix (#4264)
  cluster/apps/system/prometheus-stack/values.yaml
Labels: area/cluster

fix(cilium): exclude nv1 from L2 announcement elections via nodeSelector
  cluster/apps/core/cilium/templates/config.yaml
Labels: area/cluster

fix(cilium): exclude nv1 from L2 announcement elections via nodeSelector (#4265)
  cluster/apps/core/cilium/templates/config.yaml
Labels: area/cluster

fix(renovate): handle prometheus node-exporter tag+distroless+digest pattern
  .github/renovate/customManagers.json5
  .github/renovate/disabledDatasources.json5
Labels: area/github

fix(renovate): handle prometheus node-exporter tag+distroless+digest pattern (#4266)
  .github/renovate/customManagers.json5
  .github/renovate/disabledDatasources.json5
Labels: area/github

fix(monitoring): fix SATA wear query, raise smartmon CPU limit, cap Prometheus retention
  .claude/skills/node-disk-health/SKILL.md
  cluster/apps/system/prometheus-stack/dashboards/smart-disk-health.json
  cluster/apps/system/prometheus-stack/values.yaml
  cluster/apps/system/smartmon-exporter/values.yaml
  docs/src/audits/2026-06-23.md
Labels: area/cluster

docs(audit): mark all 2026-06-23 action items resolved
  docs/src/audits/2026-06-23.md
Labels: none

fix(anytype): downgrade mongo to 8.0 as intermediate upgrade step
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

fix(anytype): use mongo 8.0 as intermediate upgrade step before 8.3 (#4269)
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

feat(anytype): upgrade mongo from 8.0 to 8.3
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

feat(anytype): upgrade mongo 8.0 → 8.3 (#4270)
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

fix(anytype): revert mongo to 8.0 to manually set FCV before 8.3
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

fix(anytype): revert mongo to 8.0 to set FCV before 8.3 (#4271)
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

feat(anytype): upgrade mongo 8.0 → 8.3 (FCV pre-set to 8.0)
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

feat(anytype): upgrade mongo 8.0 → 8.3 (FCV pre-set) (#4273)
  cluster/apps/default/anytype/values.yaml
Labels: area/cluster

fix(renovate): limit hermes-agent digest auto-merge to weekly schedule
  .github/renovate/groups.json5
Labels: area/github

fix(renovate): limit hermes-agent digest auto-merge to weekly schedule (#4364)
  .github/renovate/groups.json5
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
