Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(helm-chart): update rook-ceph-suite group to v1.12.9
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to 43d4c8b
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/onedr0p/alpine:rolling docker digest to 55b35f5
  cluster/.tools/wipe-rook.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to e19b78a
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to 906863e
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.14.5
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to dca6a00
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.18 docker digest to fa9822d
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to bcfabb1
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.16.1
  .devcontainer/Dockerfile
Labels: none

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 5994bbe
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to b28792b
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.9.3
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 55.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.99 docker digest to 63878d7
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.100
  cluster/apps/factorio/values.yaml
Labels: area/cluster

ci(github-action)!: Update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(helm-chart): update helm release oauth2-proxy to 6.20.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

ci(github-action)!: Update actions/configure-pages action to v4
  .github/workflows/publish-pages.yaml
Labels: area/github

ci(github-action)!: Update actions/deploy-pages action to v3
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(ansible-collection): update community.general to 8.1.0
  provision/ansible/requirements.yml
Labels: area/ansible

feat(helm-chart)!: Update Helm release traefik to 26.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster
