Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

feat(deps): update pre-commit hook ansible/ansible-lint to v6.20.0
  .pre-commit-config.yaml
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.15.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

chore(docker-image): update nginx:1.25.2 docker digest to 25668ef
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release node-feature-discovery to 0.14.1
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to f84caae
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to 275c11c
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to daf2404
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update nginx:1.25.2 docker digest to 32da303
  cluster/apps/minecraft/bedrock/values.yaml
Labels: area/cluster

chore(docker-image): update factoriotools/factorio:1.1.91 docker digest to 06629a0
  cluster/apps/factorio/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.1.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.5
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 51.1.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

feat(deps): update siderolabs/kubelet to v1.28.2
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

ci(github-action): update oxsecurity/megalinter action to v7.4.0
  .github/workflows/lint.yaml
Labels: area/github

ci(github-action): update actions/checkout digest to 8ade135
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-pages.yaml
Labels: area/github

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.17.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release minecraft-bedrock to 2.2.0
  cluster/apps/minecraft/bedrock/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 51.2.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 3fada58
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release oauth2-proxy to 6.17.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.9.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

feat(deps): update budimanjojo/talhelper to v1.13.0
  .devcontainer/Dockerfile
Labels: none

migrate to custom manager
  .github/renovate/regexmanager.json5
Labels: area/github

disable default for gitea
  .github/renovate/disabledDatasources.json5
Labels: area/github

update regex for indentation
  .github/renovate/regexmanager.json5
Labels: area/github

fix(deps): update mmalyska/talos-images to v1.5.3
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix(docker-image): update ghcr.io/mmalyska/talos-installer docker tag to v1.5.3
  provision/talos/talconfig.yaml
Labels: none

create renovate group for talos
  .github/renovate/groups.json5
Labels: area/github

fix group
  .github/renovate/groups.json5
Labels: area/github

chore(docker-image): pin ghcr.io/mmalyska/talos-installer docker tag to e40933c
  provision/talos/talconfig.yaml
Labels: none

chore(docker-image): update factoriotools/factorio:1.1.91 docker digest to abd83c3
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.92
  cluster/apps/factorio/values.yaml
Labels: area/cluster

chore(docker-image): pin ghcr.io/mmalyska/talos-installer docker tag to e40933c
  provision/talos/talconfig.yaml
Labels: none

add talos backup job
  cluster/system/talos-backup/Chart.yaml
  cluster/system/talos-backup/templates/cronjob.yaml
  cluster/system/talos-backup/templates/secrets.yaml
  provision/talos/talconfig.yaml
Labels: area/cluster

add talos backup job (#704)
  cluster/system/talos-backup/Chart.yaml
  cluster/system/talos-backup/templates/cronjob.yaml
  cluster/system/talos-backup/templates/secrets.yaml
  provision/talos/talconfig.yaml
Labels: area/cluster

chore(docker-image): pin ghcr.io/siderolabs/talos-backup docker tag to df67485
  cluster/system/talos-backup/templates/cronjob.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-gpu to 0.28.0
  cluster/system/intel-gpu-plugin/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release intel-device-plugins-operator to 0.28.0
  cluster/system/intel-device-plugins-operator/Chart.yaml
Labels: area/cluster

fix(deps): update cert-manager/cert-manager to v1.13.1
  cluster/system/cert-manager/kustomization.yaml
Labels: area/cluster
