Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(deps): update argoproj/argo-cd to v2.10.6
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to 298c09a
  .devcontainer/devcontainer.json
Labels: none

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/github

fix(helm-chart): update helm release node-feature-discovery to 0.15.4
  cluster/system/node-feature-discovery/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release metrics-server to 3.12.1
  cluster/system/metrics-server/Chart.yaml
Labels: area/cluster

feat(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.6.0
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 182a82b
  cluster/apps/calibre/values.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 584366b
  cluster/apps/calibre/values.yaml
Labels: area/cluster

ci(github-action): update docker/setup-buildx-action action to v3.3.0
  .github/workflows/devcontainer-publish.yml
Labels: area/github

feat(helm-chart): update helm release botkube to v1.10.0
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release oauth2-proxy to 7.4.1
  cluster/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/coder/code-server docker tag to v4.23.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to eeec389
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 508e6f9
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 58b4557
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to d3d2bd5
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.9-alpine docker digest to 8fc1002
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

fix(deps): update pre-commit hook ansible/ansible-lint to v24.2.2
  .pre-commit-config.yaml
Labels: none

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2024.4.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release traefik to 27.0.2
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.4.3
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release volsync to 0.9.1
  cluster/system/volsync/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.38
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 58.1.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 91de784
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.10.7
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/mmalyska/argocd-secret-replacer:rolling docker digest to 79e623c
  cluster/core/argocd/patches/argo-cd-repo-server-ksops-patch.yaml
Labels: area/cluster

add tests for renovate branches
  .github/workflows/diff-yaml-on-pr.yaml
  .github/workflows/lint.yaml
Labels: area/github

fix linters
  .github/linters/.prettierignore
  .github/workflows/devcontainer-publish.yaml
  .taskfiles/lint.yml
Labels: area/github

fix files
  .github/linters/.prettierignore
  .taskfiles/lint.yml
Labels: area/github

ci(github-action): update pascalgn/size-label-action action to v0.5.1
  .github/workflows/meta-label-size.yaml
Labels: area/github

ci(github-action): update pascalgn/size-label-action action to v0.5.2
  .github/workflows/meta-label-size.yaml
Labels: area/github

feat(terraform-provider): update terraform cloudflare to 4.30.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix delimiters
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

fix diff step file
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix sed with tags
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

fix echo
  .github/workflows/devcontainer-publish.yaml
Labels: area/github

fix markdown
  .github/linters/.markdownlint.yaml
  README.md
  cluster/core/argocd/Readme.md
  cluster/system/metrics-server/Readme.md
  cluster/system/nfs-subdir-external-provisioner/Readme.md
  cluster/system/volsync/README.md
  docs/src/index.md
Labels: area/github, area/cluster

fix(deps): update budimanjojo/talhelper to v2.3.11
  .github/.devcontainer/Dockerfile
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"
