Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "provision/ansible/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

add test config
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/common/devcontainer-feature.json
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix dependsOn
  .github/.devcontainer/local-features/common/devcontainer-feature.json
Labels: area/github

revert dependsOn
  .github/.devcontainer/local-features/common/devcontainer-feature.json
Labels: area/github

fix brew path
  .github/.devcontainer/local-features/common/devcontainer-feature.json
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix brew path
  .github/.devcontainer/local-features/common/devcontainer-feature.json
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

cleanups
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/common/install_user.sh
  .github/workflows/devcontainer-publish.yml
Labels: area/github

Refactor devcontainer (#1259)
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/common/devcontainer-feature.json
  .github/.devcontainer/local-features/common/install.sh
  .github/.devcontainer/local-features/common/install_user.sh
  .github/.devcontainer/local-features/homebrew/devcontainer-feature.json
  .github/.devcontainer/local-features/homebrew/install.sh
  .github/.devcontainer/local-features/homebrew/install_user.sh
  .github/.devcontainer/setup.sh
Labels: area/github

add renovate trigger after devconatiner is build
  .github/workflows/devcontainer-publish.yml
Labels: area/github

fix workflows
  .github/workflows/devcontainer-publish.yml
  .github/workflows/scheduled-renovate.yaml
Labels: area/github

inherit secrets
  .github/workflows/devcontainer-publish.yml
Labels: area/github

fix(deps): update pre-commit hook sirosen/texthooks to 0.6.6
  .pre-commit-config.yaml
Labels: none

fix(deps): update sigstore/cosign to v2.2.3
  .github/workflows/devcontainer-publish.yml
Labels: area/github

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.33
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 57.2.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

ci(github-action)!: Update actions/checkout action to v4
  .github/workflows/devcontainer-publish.yml
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to b28e15b
  .devcontainer/devcontainer.json
Labels: none

add automerge of devcontainer
  .devcontainer/Dockerfile
  .github/renovate/autoMerge.json5
Labels: area/github

ci(github-action)!: Update actions/configure-pages action to v5
  .github/workflows/publish-pages.yaml
Labels: area/github

fix(helm-chart): update helm release external-secrets to 0.9.14
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 167ae83
  cluster/apps/calibre/values.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v2.3.10
  .github/.devcontainer/Dockerfile
Labels: area/github

feat(terraform-provider): update terraform cloudflare to 4.29.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

add polish model
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

use ct2 model
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

update startup probes
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix probes
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

add more memory
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

chore(docker-image): update mcr.microsoft.com/devcontainers/base:ubuntu docker digest to a3f6ea3
  .github/.devcontainer/Dockerfile
Labels: area/github

chore(docker-image): update ghcr.io/mmalyska/home-ops-devcontainer:main docker digest to e307f46
  .devcontainer/devcontainer.json
Labels: none

fix(docker-image): update ghcr.io/mmalyska/s3-bucket-cleaner docker tag to v2.15.35
  cluster/system/talos-backup/templates/cronjob-cleaner.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2024.4.0
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(helm-chart): update rook-ceph-suite group to v1.13.8
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update rook-ceph-suite group to v1.14.0
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release app-template to 3.1.0
  cluster/home-automation/home-assistant/Chart.yaml
  cluster/home-automation/openwakeword/Chart.yaml
  cluster/home-automation/piper/Chart.yaml
  cluster/home-automation/whisper/Chart.yaml
  cluster/system/cloudflared/Chart.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release traefik to 27.0.0
  cluster/system/traefik/Chart.yaml
Labels: area/cluster

feat(helm-chart): update helm release kubelet-csr-approver to 1.1.0
  cluster/system/kubelet-csr-approver/Chart.yaml
Labels: area/cluster

increase CPU
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

increase memory
  cluster/home-automation/whisper/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release snapshot-controller to 2.2.1
  cluster/system/snapshot-controller/Chart.yaml
Labels: area/cluster

ci(github-action): update yokawasa/action-setup-kube-tools action to v0.11.1
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github
