Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"

tt
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

tt
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

tt
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

remove origin
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix(helm-chart): update helm release kube-prometheus-stack to 47.0.1
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

feat(terraform-provider): update terraform cloudflare to 4.9.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

fix(docker-image): update quay.io/keycloak/keycloak docker tag to v21.1.2
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

add internal ingress with whitelist
  cluster/system/identity/keycloak/templates/certificate.yaml
  cluster/system/identity/keycloak/templates/ingress.yaml
  cluster/system/identity/keycloak/templates/traefik-middleware.yaml
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

add internal ingress with whitelist (#452)
  cluster/system/identity/keycloak/templates/certificate.yaml
  cluster/system/identity/keycloak/templates/ingress.yaml
  cluster/system/identity/keycloak/templates/traefik-middleware.yaml
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

fix rules prio
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

fix subnet mask
  cluster/system/identity/keycloak/templates/traefik-middleware.yaml
Labels: area/cluster

fix private networks
  cluster/system/identity/keycloak/templates/traefik-middleware.yaml
Labels: area/cluster

change traefik service to local
  cluster/system/identity/keycloak/templates/traefik-middleware.yaml
  cluster/system/traefik/values.yaml
Labels: area/cluster

add new ingress
  cluster/system/identity/keycloak/templates/ingress.yaml
  cluster/system/identity/keycloak/values.yaml
  cluster/system/traefik/values.yaml
Labels: area/cluster

fix empty regex
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

fix tls
  cluster/system/identity/keycloak/templates/ingress.yaml
  cluster/system/identity/keycloak/templates/traefik-middleware.yaml
Labels: area/cluster

fix resource
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

add annotation
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

fix reource name
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

fix prio
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

not rule
  cluster/system/identity/keycloak/templates/ingress.yaml
Labels: area/cluster

fix(helm-chart): update helm release botkube to v1.1.1
  cluster/apps/botkube/Chart.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.86
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(deps): update siderolabs/talos to v1.4.6
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

allow k8s version upgrades
  .devcontainer/scripts/postStartCommand.sh
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(deps): update kubernetes/kubernetes to v1.27.3
  .github/workflows/diff-yaml-on-pr.yaml
  provision/talos/talconfig.yaml
Labels: area/github

fix(deps): update siderolabs/kubelet to v1.27.3
  .taskfiles/talos.yml
Labels: none

fix csr approver manifest
  .github/linters/.yamllint.yaml
  provision/talos/manifests/kubelet-csr-approver/generate.sh
  provision/talos/manifests/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: area/github

apply tunnel defaults
  provision/terraform/cloudflare/tunel.tf
Labels: area/terraform

fix(helm-chart): update rook-ceph-suite group to v1.11.9
  cluster/core/rook-ceph/rook-ceph-cluster/Chart.yaml
  cluster/core/rook-ceph/rook-ceph-operator/Chart.yaml
Labels: area/cluster

chore(docker-image): update haproxy:2.8-alpine docker digest to f2a5ed5
  cluster/system/prometheus-stack/templates/metrics-proxy.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 47.3.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

chore(docker-image): pin dependencies
  cluster/apps/calibre/values.yaml
  cluster/apps/factorio/values.yaml
  cluster/apps/firefly/values.yaml
  cluster/apps/gitea/values.yaml
  cluster/apps/jellyfin/values.yaml
  cluster/apps/minecraft/bedrock/values.yaml
  cluster/system/cloudflared/values.yaml
  cluster/system/identity/keycloak/values.yaml
Labels: area/cluster

feat(docker-image): update ghcr.io/joshuaavalon/cloudflare-ddns docker tag to v3.1.0
  cluster/system/dyndns/resources/deployment.yaml
Labels: area/cluster

fix(docker-image): update factoriotools/factorio docker tag to v1.1.87
  cluster/apps/factorio/values.yaml
Labels: area/cluster

fix(docker-image): update gitea/gitea docker tag to v1.19.4
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix digest for gitea
  cluster/apps/gitea/values.yaml
Labels: area/cluster

fix jellyfin
  cluster/apps/jellyfin/templates/_helpers.tpl
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

fix digest for gitea (#464)
  cluster/apps/gitea/values.yaml
  cluster/apps/jellyfin/templates/_helpers.tpl
  cluster/apps/jellyfin/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.7.7
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster
