Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

fix(workflow): improve helm dependency update handling in diff YAML workflow
  .github/workflows/diff-yaml-on-pr.yaml
Labels: area/github

fix(pvc): update storageClassName to nfs-qnap for consistency
  cluster/apps/default/bookorbit/templates/nfs-ebooks.yaml
  cluster/apps/default/jellyfin/templates/pvc-extra.yaml
Labels: area/cluster

chore(nfs-mounts): remove deprecated NFS mount configuration files
  cluster/apps/default/nfs-mounts/app-config.yaml
  cluster/apps/default/nfs-mounts/kustomization.yaml
  cluster/apps/default/nfs-mounts/resources/nfs-ebooks.yaml
  cluster/apps/default/nfs-mounts/resources/nfs-movies.yaml
  cluster/apps/default/nfs-mounts/resources/nfs-tv-series.yaml
Labels: area/cluster

chore(coder,ollama): reduce over-provisioned PVC sizes
  cluster/apps/ai/coder/values.yaml
  cluster/apps/ai/coder/workspace-template/main.tf
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

chore(coder,ollama): reduce over-provisioned PVC sizes (#4369)
  cluster/apps/ai/coder/values.yaml
  cluster/apps/ai/coder/workspace-template/main.tf
  cluster/apps/ai/ollama/values.yaml
Labels: area/cluster

revert(coder): keep coderdb-cnpg storage at 10Gi
  cluster/apps/ai/coder/values.yaml
Labels: area/cluster

revert(coder): keep coderdb-cnpg storage at 10Gi (#4370)
  cluster/apps/ai/coder/values.yaml
Labels: area/cluster

docs(nextcloud): add design spec for OneDrive replacement
  docs/superpowers/specs/2026-07-02-nextcloud-onedrive-replacement-design.md
Labels: none

docs(nextcloud): add implementation plan for OneDrive replacement
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
Labels: none

chore: ignore .worktrees/ directory
  .gitignore
Labels: none

feat(nextcloud): add static NFS PV/PVC for user data on QNAP
  cluster/apps/default/nextcloud/app/templates/nfs-data-pv.yaml
Labels: area/cluster

feat(nextcloud): add ArgoCD app-config for nextcloud+onlyoffice
  cluster/apps/default/nextcloud/app-config.yaml
Labels: area/cluster

feat(nextcloud): add Postgres (CNPG) with S3 backup
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/app/templates/s3-externalsecret.yaml
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

feat(nextcloud): add OnlyOffice Document Server (Community)
  charts/onlyoffice-documentserver/Chart.yaml
  charts/onlyoffice-documentserver/templates/deployment.yaml
  charts/onlyoffice-documentserver/templates/pvc.yaml
  charts/onlyoffice-documentserver/templates/service.yaml
  charts/onlyoffice-documentserver/values.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/templates/jwt-externalsecret.yaml
  cluster/apps/default/nextcloud/onlyoffice/values.yaml
Labels: area/cluster

feat(nextcloud): wire Nextcloud Helm release (storage, db, redis, httproute)
  cluster/apps/default/nextcloud/app/templates/admin-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/redis-externalsecret.yaml
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

docs(nextcloud): record Task 5 Redis secret-wiring correction in plan
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
Labels: none

feat(nextcloud): add Keycloak OIDC client secret
  cluster/apps/default/nextcloud/app/templates/oidc-externalsecret.yaml
Labels: area/cluster

feat(nextcloud): add Volsync backup for app-state PVC
  cluster/apps/default/nextcloud/app/templates/volsync-restic-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/volsync.yaml
Labels: area/cluster

docs(nextcloud): correct deploy/nextcloud to deploy/nextcloud-app in Task 9/10 runbook commands
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
Labels: none

fix(nextcloud): correct volsync sourcePVC to match real ArgoCD release name
  cluster/apps/default/nextcloud/app/templates/volsync.yaml
Labels: area/cluster

feat(nextcloud): fill in Bitwarden UUIDs for ExternalSecrets
  cluster/apps/default/nextcloud/app/templates/admin-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/oidc-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/redis-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/s3-externalsecret.yaml
  cluster/apps/default/nextcloud/onlyoffice/templates/jwt-externalsecret.yaml
Labels: area/cluster

docs(nextcloud): record S3 credential reuse decision in plan
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
Labels: none

feat(nextcloud): self-hosted Nextcloud + OnlyOffice (OneDrive replacement) (#4387)
  .gitignore
  charts/onlyoffice-documentserver/Chart.yaml
  charts/onlyoffice-documentserver/templates/deployment.yaml
  charts/onlyoffice-documentserver/templates/pvc.yaml
  charts/onlyoffice-documentserver/templates/service.yaml
  charts/onlyoffice-documentserver/values.yaml
  cluster/apps/default/nextcloud/app-config.yaml
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/app/templates/admin-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/nfs-data-pv.yaml
  cluster/apps/default/nextcloud/app/templates/oidc-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/redis-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/s3-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/volsync-restic-externalsecret.yaml
  cluster/apps/default/nextcloud/app/templates/volsync.yaml
  cluster/apps/default/nextcloud/app/values.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/templates/jwt-externalsecret.yaml
  cluster/apps/default/nextcloud/onlyoffice/values.yaml
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
  docs/superpowers/specs/2026-07-02-nextcloud-onedrive-replacement-design.md
Labels: area/cluster

fix(nextcloud): raise OnlyOffice memory limit to stop OOMKill
  charts/onlyoffice-documentserver/values.yaml
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
Labels: none

fix(nextcloud): use nfsvers=4.1 for QNAP NFS mount, not 4.2
  cluster/apps/default/nextcloud/app/templates/nfs-data-pv.yaml
Labels: area/cluster

feat(nextcloud): externalize OnlyOffice database to CNPG
  charts/onlyoffice-documentserver/templates/deployment.yaml
  charts/onlyoffice-documentserver/values.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/templates/s3-externalsecret.yaml
  cluster/apps/default/nextcloud/onlyoffice/values.yaml
Labels: area/cluster

fix(nextcloud): correct NFS protocol version and OnlyOffice OOM (#4402)
  charts/onlyoffice-documentserver/templates/deployment.yaml
  charts/onlyoffice-documentserver/values.yaml
  cluster/apps/default/nextcloud/app/templates/nfs-data-pv.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/templates/s3-externalsecret.yaml
  cluster/apps/default/nextcloud/onlyoffice/values.yaml
  docs/superpowers/plans/2026-07-02-nextcloud-onedrive-replacement.md
Labels: area/cluster

fix(nextcloud): add external-dns annotation to HTTPRoute
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(nextcloud): add missing external-dns annotation to HTTPRoute (#4403)
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(nextcloud): disable Rocket Loader for nextcloud.mmalyska.cloud
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

docs(dev-workflow): document HCP Terraform auto-apply and lock file gotcha
  .claude/skills/dev-workflow/SKILL.md
Labels: none

fix(nextcloud): disable Rocket Loader for Nextcloud (#4404)
  .claude/skills/dev-workflow/SKILL.md
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

fix(nextcloud): disable Rocket Loader for nextcloud.mmalyska.cloud (#4404)
  .claude/skills/dev-workflow/SKILL.md
  provision/terraform/cloudflare/zone.tf
Labels: area/terraform

fix(nextcloud): disable internalDatabase so externalDatabase (CNPG) takes effect
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(nextcloud): fix database wiring so CNPG Postgres is actually used (#4405)
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(nextcloud): fix database wiring so CNPG Postgres is actually used (#4405)
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

fix(nextcloud): raise OnlyOffice memory limit again, still OOMKilling at 3Gi
  charts/onlyoffice-documentserver/values.yaml
Labels: none

fix(nextcloud): raise OnlyOffice memory limit to 4Gi (still OOMing at 3Gi) (#4413)
  charts/onlyoffice-documentserver/values.yaml
Labels: none

fix(nextcloud): raise OnlyOffice memory limit to 4Gi (still OOMing at 3Gi) (#4413)
  charts/onlyoffice-documentserver/values.yaml
Labels: none

fix(nextcloud): bump onlyoffice-documentserver chart version to bust stale cache
  charts/onlyoffice-documentserver/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
Labels: area/cluster
