Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "provision/terraform/**/*"

feat: cut over Home Assistant MQTT to RabbitMQ (#4455)
  cluster/apps/home-automation/home-assistant/templates/secrets.yaml
Labels: area/cluster

chore(home-automation): remove vernemq, replaced by rabbitmq
  cluster/apps/home-automation/vernemq/Chart.yaml
  cluster/apps/home-automation/vernemq/app-config.yaml
  cluster/apps/home-automation/vernemq/templates/external-secret.yaml
  cluster/apps/home-automation/vernemq/values.yaml
Labels: area/cluster

chore: remove vernemq (#4456)
  cluster/apps/home-automation/vernemq/Chart.yaml
  cluster/apps/home-automation/vernemq/app-config.yaml
  cluster/apps/home-automation/vernemq/templates/external-secret.yaml
  cluster/apps/home-automation/vernemq/values.yaml
Labels: area/cluster

feat: add app removal procedure documentation to clarify manual deletion steps
  .claude/memory/MEMORY.md
  .claude/memory/reference_app_removal_procedure.md
  docs/superpowers/plans/2026-07-06-rabbitmq-operator.md
Labels: none

fix(resources): right-size over-provisioned CPU/memory requests
  cluster/apps/ai/coder/workspace-template/main.tf
  cluster/apps/core/rook-ceph/cluster/values.yaml
  cluster/apps/core/rook-ceph/csi-drivers/values.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
Labels: area/cluster

docs: note missing log aggregation as follow-up
  .plans/TODO.md
Labels: none

fix(resources): right-size over-provisioned CPU/memory requests (#4468)
  .plans/TODO.md
  cluster/apps/ai/coder/workspace-template/main.tf
  cluster/apps/core/rook-ceph/cluster/values.yaml
  cluster/apps/core/rook-ceph/csi-drivers/values.yaml
  cluster/apps/system/envoy-gateweay/templates/envoy.yaml
Labels: area/cluster

feat(coder-cli): add Coder CLI installation scripts and feature definition
  .github/.devcontainer/devcontainer.json
  .github/.devcontainer/local-features/coder-cli/devcontainer-feature.json
  .github/.devcontainer/local-features/coder-cli/install.sh
  .github/.devcontainer/local-features/coder-cli/install_user.sh
  .github/renovate/customManagers.json5
Labels: area/github

feat(skill): add Coder workspace template deploy instructions
  .claude/skills/coder-workspace-template-deploy/SKILL.md
Labels: none

feat(brew): add taps for go-task, hashicorp, and int128/kubelogin in Brewfile and install_user.sh
  .github/.devcontainer/local-features/common/Brewfile
  .github/.devcontainer/local-features/common/install_user.sh
Labels: area/github

fix(rook-ceph): right-size mgr/mon/osd/mgr-sidecar resource requests
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

fix(rook-ceph): right-size mgr/mon/osd/mgr-sidecar resource requests (#4471)
  cluster/apps/core/rook-ceph/cluster/values.yaml
Labels: area/cluster

chore: disable multiple apps
  cluster/apps/ai/litellm/app-config.yaml
  cluster/apps/ai/ollama/app-config.yaml
  cluster/apps/ai/open-webui/app-config.yaml
  cluster/apps/default/botkube/app-config.yaml
  cluster/apps/default/harbor/app-config.yaml
  cluster/apps/default/n8n/app-config.yaml
  cluster/apps/home-automation/home-assistant/app-config.yaml
  cluster/apps/home-automation/rabbitmq/app-config.yaml
Labels: area/cluster

chore: disable multiple apps (#4474)
  cluster/apps/ai/litellm/app-config.yaml
  cluster/apps/ai/ollama/app-config.yaml
  cluster/apps/ai/open-webui/app-config.yaml
  cluster/apps/default/botkube/app-config.yaml
  cluster/apps/default/harbor/app-config.yaml
  cluster/apps/default/n8n/app-config.yaml
  cluster/apps/home-automation/home-assistant/app-config.yaml
  cluster/apps/home-automation/rabbitmq/app-config.yaml
Labels: area/cluster

docs: update reference app removal procedure for reliability and verification steps
  .claude/memory/reference_app_removal_procedure.md
Labels: none

docs(spec): add dragonfly-operator design for standalone redis replacement
  docs/superpowers/specs/2026-07-08-dragonfly-operator-design.md
Labels: none

docs(plan): add dragonfly-operator implementation plan
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
Labels: none

chore(memory): note actual plans-location convention vs CLAUDE.md's documented .plans/
  .claude/memory/MEMORY.md
  .claude/memory/project_plans_location_convention.md
Labels: none

feat(dragonfly): add Dragonfly Operator system app
  cluster/apps/system/dragonfly-operator/Chart.yaml
  cluster/apps/system/dragonfly-operator/app-config.yaml
Labels: area/cluster

feat(charts): add reusable dragonfly chart
  charts/dragonfly/Chart.yaml
  charts/dragonfly/templates/dragonfly.yaml
  charts/dragonfly/values.yaml
Labels: none

feat(oauth2-proxy): migrate session redis to Dragonfly
  cluster/apps/system/oauth2-proxy/Chart.yaml
  cluster/apps/system/oauth2-proxy/values.yaml
Labels: area/cluster

feat: Dragonfly operator + migrate oauth2-proxy sessions (#4482)
  .claude/memory/MEMORY.md
  .claude/memory/project_plans_location_convention.md
  charts/dragonfly/Chart.yaml
  charts/dragonfly/templates/dragonfly.yaml
  charts/dragonfly/values.yaml
  cluster/apps/system/dragonfly-operator/Chart.yaml
  cluster/apps/system/dragonfly-operator/app-config.yaml
  cluster/apps/system/oauth2-proxy/Chart.yaml
  cluster/apps/system/oauth2-proxy/values.yaml
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
  docs/superpowers/specs/2026-07-08-dragonfly-operator-design.md
Labels: area/cluster

fix(dragonfly): bump default memory limit to fix startup crash
  charts/dragonfly/Chart.yaml
  charts/dragonfly/values.yaml
  cluster/apps/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

fix: bump dragonfly chart default memory limit to fix startup crash (#4484)
  charts/dragonfly/Chart.yaml
  charts/dragonfly/values.yaml
  cluster/apps/system/oauth2-proxy/Chart.yaml
Labels: area/cluster

feat(nextcloud): migrate redis cache/locking to Dragonfly
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/app/values.yaml
Labels: area/cluster

docs(plan): record Task 3 live-bug deviation, correct dragonfly version to 1.0.1
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
Labels: none

feat: migrate Nextcloud redis to Dragonfly (#4485)
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/app/values.yaml
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
Labels: area/cluster

feat(harbor): wire Dragonfly as external redis
  cluster/apps/default/harbor/Chart.yaml
  cluster/apps/default/harbor/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/harbor/values.yaml
Labels: area/cluster

feat: wire Harbor for Dragonfly (#4486)
  cluster/apps/default/harbor/Chart.yaml
  cluster/apps/default/harbor/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/harbor/values.yaml
Labels: area/cluster

feat(gitea): wire Dragonfly for session/cache/queue, drop hardcoded redis password
  cluster/apps/core/argocd/resources/cluster-secrets-externalsecret.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

feat: wire Gitea for Dragonfly (#4487)
  cluster/apps/core/argocd/resources/cluster-secrets-externalsecret.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/gitea/values.yaml
Labels: area/cluster

fix(harbor): run Dragonfly without auth, avoiding a broken password path
  cluster/apps/default/harbor/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/harbor/values.yaml
Labels: area/cluster

docs(plan): mark all 6 tasks complete, document final-review deviations
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
Labels: none

fix(harbor): run Dragonfly without auth, avoiding a broken password path
  cluster/apps/default/harbor/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/harbor/values.yaml
Labels: area/cluster

docs(plan): mark all 6 tasks complete, document final-review deviations
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
Labels: none

fix: run Harbor's Dragonfly instance without auth (#4488)
  cluster/apps/default/harbor/templates/dragonfly-externalsecret.yaml
  cluster/apps/default/harbor/values.yaml
  docs/superpowers/plans/2026-07-08-dragonfly-operator.md
Labels: area/cluster

fix(keycloak): increase PostgreSQL storage size from 2Gi to 4Gi
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster

feat(todos): add monitoring and alerting tasks for CNPG clusters
  .plans/TODO.md
Labels: none

feat(cnpg-cluster-audit): add skill for auditing CloudNativePG clusters backup health and storage
  .claude/skills/cnpg-cluster-audit/SKILL.md
Labels: none

fix(cnpg): reduce backup storage bloat on QNAP S3
  .plans/TODO.md
  charts/pgsql-cnpg/Chart.yaml
  charts/pgsql-cnpg/templates/cnpg.yaml
  charts/pgsql-cnpg/values.yaml
  cluster/apps/ai/coder/Chart.yaml
  cluster/apps/ai/coder/values.yaml
  cluster/apps/ai/honcho/Chart.yaml
  cluster/apps/ai/honcho/values.yaml
  cluster/apps/ai/litellm/Chart.yaml
  cluster/apps/ai/litellm/values.yaml
  cluster/apps/default/bookorbit/Chart.yaml
  cluster/apps/default/bookorbit/values.yaml
  cluster/apps/default/gitea/Chart.yaml
  cluster/apps/default/gitea/values.yaml
  cluster/apps/default/harbor/Chart.yaml
  cluster/apps/default/harbor/values.yaml
  cluster/apps/default/nextcloud/app/Chart.yaml
  cluster/apps/default/nextcloud/app/values.yaml
  cluster/apps/default/nextcloud/onlyoffice/Chart.yaml
  cluster/apps/default/nextcloud/onlyoffice/values.yaml
  cluster/apps/home-automation/home-assistant/Chart.yaml
  cluster/apps/home-automation/home-assistant/values.yaml
  cluster/apps/system/keycloak/Chart.yaml
  cluster/apps/system/keycloak/values.yaml
Labels: area/cluster
