Repository mmalyska/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(deps): update argoproj/argo-cd to v2.8.1
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

update execs paths
  .devcontainer/devcontainer.json
Labels: none

fix(helm-chart): update helm release kube-prometheus-stack to 48.3.3
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

add ansible linter to auto merge
  .github/renovate/autoMerge.json5
Labels: area/github

fix codespaces env
  .devcontainer/devcontainer.json
Labels: none

fix secret envs
  .devcontainer/devcontainer.env.example
  .devcontainer/devcontainer.json
Labels: none

clean up init taskfiles
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/updateContentCommand.sh
  .taskfiles/talos.yml
  Taskfile.yml
Labels: none

fix(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.17
  cluster/home-automation/mosquitto/values.yaml
Labels: area/cluster

feat(deps): update pre-commit hook zricethezav/gitleaks to v8.18.0
  .pre-commit-config.yaml
Labels: none

feat(terraform-provider): update terraform cloudflare to 4.13.0
  provision/terraform/cloudflare/main.tf
Labels: area/terraform

feat(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.8.0
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

fix(helm-chart): update helm release external-secrets to 0.9.4
  cluster/system/external-secrets/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 48.3.5
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release kube-prometheus-stack to 48.3.6
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

pin k8s version to siderolabs kubelet
  .github/workflows/diff-yaml-on-pr.yaml
  archive/provision/ansible/inventory/group_vars/kubernetes/kubernetes.yaml
  provision/talos/talconfig.yaml
Labels: area/github

fix(deps): update siderolabs/kubelet to v1.27.5
  .github/workflows/diff-yaml-on-pr.yaml
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: area/github

feat(helm-chart): update helm release kube-prometheus-stack to 48.4.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.8.4
  cluster/home-automation/home-assistant/values.yaml
Labels: area/cluster

fix(deps): update argoproj/argo-cd to v2.8.2
  cluster/core/argocd/kustomization.yaml
Labels: area/cluster

Update talconfig.yaml
  provision/talos/talconfig.yaml
Labels: none

Update talconfig.yaml
  provision/talos/talconfig.yaml
Labels: none

Update talconfig.yaml
  provision/talos/talconfig.yaml
Labels: none

Update talconfig.yaml
  provision/talos/talconfig.yaml
Labels: none

Update talconfig.yaml
  provision/talos/talconfig.yaml
Labels: none

feat(docker-image)!: Update ghcr.io/siderolabs/i915-ucode Docker tag to v20230804
  provision/talos/talconfig.yaml
Labels: none

feat(docker-image)!: Update ghcr.io/siderolabs/intel-ucode Docker tag to v20230808
  provision/talos/talconfig.yaml
Labels: none

feat(docker-image)!: Update ghcr.io/siderolabs/i915-ucode Docker tag to v20230804
  provision/talos/talconfig.yaml
Labels: none

feat(docker-image)!: Update ghcr.io/siderolabs/intel-ucode Docker tag to v20230808
  provision/talos/talconfig.yaml
Labels: none

fix(helm-chart): update helm release homepage to 1.2.1
  cluster/apps/gethomepage/Chart.yaml
Labels: area/cluster

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.20 docker digest to 8c44448
  cluster/apps/calibre/values.yaml
Labels: area/cluster

feat(helm-chart): update helm release kube-prometheus-stack to 48.6.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(helm-chart): update helm release gitea to 9.2.1
  cluster/apps/gitea/Chart.yaml
Labels: area/cluster

fix(deps): update budimanjojo/talhelper to v1.9.3
  .taskfiles/talos.yml
Labels: none

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.8.1
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 49.0.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

clean up envrc
  .envrc
Labels: none

make talosctl fetch specific version
  .devcontainer/Dockerfile
  .taskfiles/talos.yml
  provision/talos/talconfig.yaml
Labels: none

fix container build
  .devcontainer/Dockerfile
Labels: none

feat(helm-chart): update helm release kube-prometheus-stack to 49.2.0
  cluster/system/prometheus-stack/Chart.yaml
Labels: area/cluster

fix(docker-image): update docker.io/cloudflare/cloudflared docker tag to v2023.8.2
  cluster/system/cloudflared/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
